li {
  list-style: none;
}


.searchPage {
  max-width: 1250px;
  min-width: 600px;
  height: auto;
  margin: 0 auto;
}

.searchPage .screen {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .searchPage .screen {
      margin-bottom: 0;
  }
}

.searchPage .catelistTitle{
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
}

.searchPage .leftlistTitle{
  position: relative;
  top: 8px;
  line-height: 1.25rem;
  padding-bottom: 1rem;
  gap: 0.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
  margin-left: 2rem;
}

.leftTitle .cateRanklisticon{
  position: relative;
}

.searchPage .leftlistTitle > p{
	display: flex;
}

.searchPage .leftlistTitle > span {
	font-weight: 700;
	position: relative;
	bottom: 5px;
}

.searchPage .cateRanklisticon{
	color: black;
  position: relative;
  bottom: 3px;
}

.searchPage .rightlistTitle{
  position: relative;
  top: 8px;
  margin-right: 1rem;
}

.searchPage .rightlistTitle > p > a:hover{
	color: rgb(255 0 69); 
}


.searchPage .rightlistContent{
  flex-direction: row;
  gap: 1.5rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.searchPage .rightlistContent > p{
  line-height: 1.25rem;
  position: relative;
  top: 5px;
}

.searchPage .rightlistContent > span {
  line-height: 1.25rem;
	color: rgb(255 0 69);
  font-weight: 700;
}

.searchPage .screen {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .searchPage .screen {
      margin-bottom: 0;
  }
}

.searchPage .box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1280px;
  background-color: #fff;
}

.searchPage .display {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  margin: 0 auto;
  padding-bottom: 5rem;
  flex-wrap: wrap;
}

.searchPage .contentcard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .searchPage .contentcard {
    margin-bottom: 0.5rem;
  }
}

.searchPage .contentcard .socialing{
  width: 571px;
  height: 176px;
}

.searchPage .contentcard .cardlink{
  background-color: #F5F6F9;
  border-radius: 12px;
  display: flex;
  padding: 12px 10px;
  margin: 0;
  padding: 20px 16px;
}

.searchPage .contentcard .img{
  border: 1px solid #d3d3d3;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 10px;
  position: relative;
}

@media (min-width: 768px) {
  .searchPage .contentcard .img{
      width: 160px;
      height: 160px;
      border-radius: 16px;
      margin-right: 16px;
  }
}

.searchPage .contentcard .info{
  display: flex;
  flex-direction: column;
  width: calc(100% - 112px);
}

@media (min-width: 768px) {
  .searchPage .contentcard .info{
      width: calc(100% - 168px);
  }
}

.searchPage .contentcard .subject{
  display: flex;
  margin-bottom: 5px;
}

.searchPage .contentcard .tag{
  background-color: #dddddd;
  color: #666060;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 11px;
  text-align: center;
  padding: 4px 8px;
  letter-spacing: -.2px;
  border-radius: 10px;
  margin-right: 6px;
}

.searchPage .contentcard .tagone{
  background-color: #dddddd;
  color: #666060;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 11px;
  text-align: center;
  padding: 4px 8px;
  letter-spacing: -.2px;
  border-radius: 10px;
  margin-right: 6px;
}

.searchPage .contentcard .tagtwo{
  background-color: #dddddd;
  color: #666060;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 11px;
  text-align: center;
  padding: 4px 8px;
  letter-spacing: -.2px;
  border-radius: 10px;
  margin-right: 6px;
}

.searchPage .contentcard .infotitle{
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -.4px;
  color: #383535;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
  font-size: 1rem;
}

.searchPage .contentcard .describe{
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 14.4px;
  letter-spacing: -.2px;
  color: #999696;
  display: flex;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.searchPage .contentcard .image{
  width: 12px;
  height: 12px;
  position: relative;
  margin-top: 1px;
}

.searchPage .participant{
  display: flex;
  justify-content: space-between;
  width: 35rem;
}

.searchPage .participant .img{
  object-fit: cover;
  width: 22px;
  height: 22px;
  margin-right: 1rem;
  border-radius: 100%;
  position: relative;
  flex-shrink: 0;
}

.searchPage .participant .cardImg{
  position: relative;
  margin-left: -1.8rem;
  border: 5px solid white;
  border-radius: 100%;
  width: 8px;
  height: 8px;
}

.searchPage .participant .socialmember{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.searchPage .participant .people{
  width: 45px;
  height: 45px;
  border-radius: 100%;
  color: gray;
  position: relative;
}

.searchPage .participant .count{
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin-left: 0.5rem;
  letter-spacing: -.4px;
  color: #999696;
}

.searchPage .profileimglist {
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
}

@media (max-width: 767px) {
  .searchPage .contentcard .tag {
      font-size: 1rem;
      line-height: 11px;
      padding: 4px 8px;
      border-radius: 10px;
      margin-right: 6px;
  }

  .searchPage .contentcard .infotitle {
      font-size: 1.5rem;
      line-height: 24px;
      margin-bottom: 4px;
  }

  .searchPage .contentcard .describe {
      font-size: 1.3rem;
      line-height: 14.4px;
      margin-bottom: 10px;
  }

  .searchPage .contentcard .image {
      width: 15px;
      height: 15px;
  }

  .searchPage .participant .img {
    margin-right: 2rem;
      width: 33px;
      height: 33px;
  }

    .searchPage .participant .span{
      width: 2.5rem;
      height: 2.5rem;
      left: -8px;
  }

  .searchPage .participant .cardImg {
      width: 22px;
      height: 22px;
  }

  .searchPage .participant .people {
     width: 45px;
 	  height: 45px;
  }

 .searchPage .participant .count {
      margin-left: 0.5rem;
      font-size: 12px;
      line-height: 19px;
  }
}

@media (min-width: 768px) {
  .searchPage .contentcard .tag {
      font-size: 1.2rem;
      line-height: 18px;
      padding: 8px 13px;
      border-radius: 10px;
  }

  .searchPage .contentcard .infotitle {
      font-size: 1.5rem;
      line-height: 40px;
  }

  .searchPage .contentcard .describe {
      font-size: 1.2rem;
      line-height: 24px;
  }

  .searchPage .contentcard .image {
      width: 20px;
      height: 20px;
      margin-top: 2px;
  }

  .searchPage .participant .img {
    border: 1px solid black;
    width: 36px;
    height: 36px;
}

.searchPage .participant .span {
    width: 28px;
    height: 28px;
    left: -2px;
}

.searchPage .participant .cardImg {
    width: 36px;
    height: 36px;
}

.searchPage .participant .people {
  width: 45px;
  height: 45px;
}

 .searchPage .participant .count {
      margin-left: 0.5rem;
      font-size: 12px;
      line-height: 19px;
  }
}

.searchPage .participant .socialmember{
    display: flex;
    position: relative;
    justify-content: right;
    align-items: center;
    width: 300px;
}

.searchPage .plus{
  width: 575px;
  height: 50px;
  border: 1px solid #f3f3f3;
  background: #fefefe;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666060;
  margin-left: 0.5rem;
}

.searchPage .plus .title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchPage .plus .icon{
  border: 1px solid black;
  width: auto;
  height: auto;
  margin-left: 2px
}

@media screen and (min-width: 767px) {
  .searchPage .plus{
    display: none;
  }
}