li {
    list-style: none;
}

.searcherror {
    max-width: 1250px;
    height: 700px;
    min-width: 600px;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    margin: 0 auto;
}

.searcherror .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.searcherror .span {
    font-weight: 800;
    color: black;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
}

.searcherror .title {
    font-weight: 400;
    color: #000000;
    font-size: 2rem;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
}

@media (max-width: 701px) {
    .searcherror .span {
        word-break: break-all;
    }

    .searcherror .title {
        font-size: 2rem;
    }
}