.admin{
menubar-hoverable header-fixed menubar-pin
}

/*dashboard*/
.admin.dashboard{
dashboard_loader se-pre-con
}

.dashboard.pageloader{
page-loader-spinner
}

.dashboard.bounce1{
double-bounce1
}

.dashboard.bounce2{
double-bounce2
}

.dashboard.progress{
progress
}

.progress.progressbar{
progress-barwidth:70%;
}

/*base*/
.admin.base{}

.admin.topheader{
top_header
}

.admin.base.topheader{

}

.admin.base.headerbar{

}

.admin.base.leftbar{
headerbar-left
}

.admin.leftbar.menutoggle{
btnbtn-icon-toggle menubar-toggle"data-toggle="menubar"

}

.admin.leftbar.btnicon{
width="16" height="16" viewBox="001816" fill="none" xmlns="_blank"
}

.admin.leftbar.sitename{
data-toggle="tooltip" data-placement="bottom"
}

.admin.rightbar{
headerbar-right
}

.admin.rightbar.headernav{
header-nav header-nav-options
}

.admin.rightbar.claybutton{
aclay-button white__exit-btn
}

.admin.rightbar.claybutton2{
aclay-button__upgrade-btn
}

.admin.main-dashboard{
dashboard_main
}

.admin.main-dashboard.alertBox{
alert__wrap
}

.admin.main-dashboard.alertjoin{
alert__banner-case2 first:tw-mt-[24px]tw-pr-[31px]md:tw-pr-[62px]tw-flex-wrap
}

.admin.alertjoin.middleitems{
md:tw-pr-[62px]
}

.admin.alertjoin.centeritems{
tw-flextw-items-center
}

.admin.centeritems.bannerimg{}

.admin.centeritems.lefttext{
tw-text-left
}

.admin.alertjoin.btnclose{
btn-close btn-close tw-absolute tw-right-0md:tw-right-[16px]tw-pr-[5px]
}

.admin.btnclose.btwnone{
button type button onclick SADMIN_MENU_ALERT.closeBannerAlert(&#39;join&#39;)
}

.admin.btnclose.btl{
btw-order-none bg-transparent border-none
}

/*clearfix*/
.admin.clearfix{
area_wrap
}

.admin.clearfix.section-body{
section-body float_l
}

.admin.clearfix.dashboard-section{
dashboard_section_header
}

.admin.dashboard-section.clearimg{
width 24 height 24 viewBox 002424 fillnone
}

.admin.clearfix.dashboard-card{
tw-relative
}

.admin.dashboard-card.fold{
fold
}

.admin.fold.foldimage{
width 16 height 16 viewBox 001616 fill none
}

.admin.clearfix.tooltip{
fold_tooltip
}

.admin.tooltip.toolimage{
width 12 height 6 viewBox 00126 fillnone
}

.admin.clearfix.dashboard-tutorial{
dashboard_tutorial_dashboard_tutorial
}

.admin.dashboard-tutorial.container{
dashboard_tutorial_container
}

.admin.container.tutorial-card{
dashboard_tutorial_card
}

.admin.container.dashboard-tutorial-card{
dashboard_tutorial_card
}

.admin.container.tutorial-growth{
dashboard_tutorial_card tutorial_growth
}

/*중복됨*/
.admin.checkbar{
check_bar_wrap
}

.admin.check-background{
check_bar_background
}

.admin.cbr{
check_bar_check_bar width:0%;
border-radius:3px;
}

.admin.checkbar-text{
check_bar_text_check_bar_text
}

.admin.tlist{
tt-list
}

.admin.clist{
check-list_check_list
}

.admin.check-icon{
check_icon
}

/**/

.admin.container.todolist{
rowtodo-list today
}

.admin.todolist.titem{
ma-item
}

.admin.todolist.card{
card
}

.admin.todolist.card-head{
card_headline-bottom
}

.admin.card-head.header-badge{
text-defat-bright header-badge badge-danger clay-badge0
}

.admin.todolist.cardbody{
card-body border-top today-table
}

.admin.cardbody.tlist{
tt-list
}

.admin.cardbody.inline-blocked{
inline-blocked
}

.admin.cardbody.text-danger{
text-danger0
}

.admin.dashboard-section{
dashboard_section_header dashboard_stats_header
}

.admin.dashboard-section.dimg{
width 24 height 24 viewBox 002424 fill none
}

.admin.dashboard-banner{
dashboard_stats_banner_container
}

.admin.dashboard-banner.stats-banner{
dashboard_stats_banner
}

.admin.dashboard-banner.leftbanner{
dashboard_stats_banner_left
}

.admin.dashboard-banner.rightbanner{
dashboard_stats_banner_right
}

.admin.rightbanner.rbanner{
height 100%
}

.admin.rightbanner.bbutton{
button type button stats_banner_hide mo_hide
}

.admin.rightbanner.rimg{
width 14 height 14 viewBox 001414 fill none
}

.admin.bannerhide.hideimg{
button type button stats_banner_hide pc_hide
}

.admin.bannerhide.hideimg{
width 10 height 10 viewBox 001414 fill none xmlns_blank
}

/*dashboard-stats*/
.admin.dashboard-stats{
flex-box dashboard_stats
}

.admin.dashboard-stats.visitor-list{
ma-item col-md-6 col-sm-12 col-xs-12 stat-visitor-list
}

.admin.dashboard-stats.card{
card
}

.admin.card.card-head{
card_head
}

.admin.card-head.card-anchor{
ahref_blank dashboard_card_anchor
}

.admin.card.card-body{
card-body border-top
}

.admin.card-body.float{
float_r text-12 text-right force-padding no-padding
}

.admin.card-body.span{
margin-right:15px;
}

.admin.card-body.fa{
fafa-circle color:rgb(179,227,255)
}

.admin.card-body.fafa{
color:rgb(25,109,255)
}

.admin.dashboard-stats.holder{

}

/*HOLDER*/
.admin.holder.stats-chart{
stats_chart 
width:328px; height:164px;
}

.admin.holder.chart-tooltip{
chartjs_tooltip_chartjs_tooltip
opacity:0;
left:123px;
top:180.417px;
font-family:&quot;
HelveticaNeue&quot;
Helvetica,
Arial,
sans-serif;
font-size:14px;
font-style:normal;
position:absolute;
background:rgb(255,255,255);
}

.admin.holder.chart-tooltip-section{
chartjs-tooltip-section
}

.admin.holder.tooltip-key{
chartjs-tooltip-keystyle background-color:rgb(25,109,255);
}

.admin.holder.tooltip-value{
chartjs-tooltip-value8
}

.admin.holder.chart-tooltip-key{
chartjs-tooltip-key 
background-color:rgb(179,227,255);
}

/*ANALYTICS-LIST*/
.admin.analytics-list{
ma-item col-md-6 col-sm-12 col-xs-12 stat-analytics-list
}

.admin.analytics-list.card{
card
}

.admin.card.card-head{
card_head
}

.admin.card-head.card-anchor{
ahref_blank dashboard_card_anchor
}

.admin.analytics-list.card-body{
card-body no-padding border-top
}

.admin.analytics-list.summary-table{
tabletable no-margin summary-table
}

.admin.analytics-list.th{
text-13 text-center opacity-50
}

.admin.analytics-list.button{
text-gray
width:100%;
line-height:1.4;
vertical-align:top&#39;
tabletable-normal table-sm-padding no-margin
width:25%&#39;
no-border-top
}

.admin.analytics-list.question{
btmbt-question-circle
}

.admin.analytics-list.today{
today
}

/*TODAY*/
.admin.today.text-left{
text-left
}

.admin.today.text-right{
text-right
}

.admin.today.text-right-border{
text-leftno-border
}

.admin.today.text-left-border{
text-left no-border
}

.admin.section-header{
dashboard_section_header
}

.admin.section-header.secimg{
width24 height25 viewBox 002425fill
}

.admin.row-section{
flex-box dashboard_section_row dashboard_contents_row
}

.admin.row-section.shopping-review{
ma-item col-md-6 col-sm-6 col-xs-12 answers-listshopping-review
}

.admin.row-section.flex-card{
cardflex-card
}

.admin.row-section.card-head{
card_head
}

.admin.row-section.card-anchor{
ahref_blank dashboard_card_anchor
}

.admin.row-section.card-body{
card-body border-top no-data-card-body
}

.admin.card-body.list-preview{
listlist-preview
}

.admin.card-body.tile{
litile
}

.admin.card-body.no-data{
no-data-container
}

/*SHOPPING-QNA*/
.admin.shopping-qna{
ma-item col-md-6 col-sm-6col-xs-12answers-listshopping-qna
}

.admin.shopping-qna.flex-card{
cardflex-card
}

.admin.shopping-qna.card-head{
card_head
}

.admin.card-head.card-anchor{
ahref_blankdashboard_card_anchor
}

.admin.shopping-qna.card-body{
card-bodyborder-topno-data-card-body
}

.admin.card-body.list-preview{
listlist-preview
}

.admin.card-body.tile{
litile
}

.admin.card-body.no-data{
no-data-container
}

/*CONTENTS-LIST*/
.admin.contents-list{
ma-itemcol-md-6col-sm-6col-xs-12contents-list!tw-mb-0
}

.admin.contents-list.flex-card{
cardflex-card
}

.admin.contents-list.card-head{
card_head
}

.admin.card-head.card-anchor{
ahref_blankdashboard_card_anchor
}

.admin.contents-list.card-body{
card-bodyborder-topno-data-card-body
}

.admin.card-body.list-preview{
listlist-preview
}

.admin.card-body.tile{
litile
}

.admin.card-body.no-data{
no-data-container
}


/*BORDER*/
.admin.contentbox{
styleheight:40px;
}

.admin.sec-header{
dashboard_section_header
}

.admin.sec-header.dasimg{
svgwidth24height25viewBox002425fillnonexmlns_blank
}

/*SECTION-ROW*/
.admin.sec-row{
flex-boxdashboard_imweb_contents_topdashboard_section_row
}

.admin.sec-row.myqna{
ma-itemcol-md-6col-sm-6col-xs-12contents-myqna
}

.admin.sec-row.flex-card{
cardflex-card
}

.admin.sec-row.card-head{
card_head
}

.admin.card-head.card-anchor{
ahref_blanktarget_blankdashboard_card_anchor
}

.admin.sec-row.card-body{
card-bodyborder-topno-data-card-bodyqna-no-data-card-body
}

.admin.card-body.list-preview{
listlist-preview
}

.admin.card-body.tile{
litile
}

.admin.card-body.no-data{
no-data-container
}

/*notice-list*/
.admin.notice-list{
ma-itemcol-md-6col-sm-6col-xs-12notice-list
}

.notice-list.card{
card
}

.notice-list.card-head{
card_head
}

.card-head.card-anchor{
ahref_blankdashboard_card_anchor
}

.notice-list.card-body{
card-bodyborder-top
}

.card-body.list-preview{
listlist-preview
}

.notice-list.card-body.tile{
litilemin-height:auto;
}

.card-body.notice-item{
tile-contentnotice-item
}

.card-body.tile-text{
tile-textno-padding
}

.card-body.tile-icon{
tile-iconno-paddingtext-12text-gray-bright
style="min-width:80px;
}

/*SECTION-ROW*/
.admin.section-row{
flex-boxdashboard_imweb_contents_topdashboard_section_row
}

.section-row.guide-list{
atile-contentnotice-itemhref_blanktile-textno-paddingtile-iconno-paddingtext-12text-gray-brightstylemin-width:80px;
}

.guide-list.card{
card
}

.guide-list.card-head{
card_head
}

.guide-list.card-anchor{
card_anchor
}

.guide-list.card-body{
card_body
}

.card-body.list-preview{
listlist-preview
}

.card-body.tile{
litilestyle="min-height:auto;
}

.card-body.guide-item{
tile-contentguide-item
}

.card-body.tile-text{
tile-textno-padding
}

.card-body.tile-icon{
tile-iconno-paddingtext-12text-gray-bright
style="min-width:80px;
}

/*dashboard-right*/
.admin.dashboard-right{
dashboard_rightright-menu-fixedfloat_l
}

.dashboard-right.user-card{
cardcard-blackdashboard-user-card
}

.user-card.card-body{
card-bodytext-center
}

.user-card.card-body.dropdown-toggle{
ahrefjavascript:dropdown-toggleblockdata-toggledropdowntabindex-1aria-expandedfalse
}

.user-card.card-body.mixpanel-profile{
margin-bottom-xlidmixpanel_dashboard_profile
}

.user-card.mixpanel-profile.border-round{
imgborder-roundsrc_blankwidth64height64
}

.mixpanel-profile.text{
text-bold
}

.mixpanel-profile.nameholder{
use_nameholder관리자
}

.mixpanel-profile.emailholder{
text-13opacity-50
}

.dashboard-right.dropdown-menu{
dropdown-menuanimation-dockdashboard-profilerolemenu
}

.dropdown-menu.ellipsis{
atext-ellipsis
}

.dropdown-menu.border-round{
imgborder-roundsrc_blankwidth64height64
}

.dropdown-menu.divider{
divider
}

.dropdown-menu.upgrade-btn{
text-dangerupgrade-btn
}

.dropdown-menu.exit-btn{
ahref_blankexit-btn나가기
}

/*card-summary*/

.dashboard-right.card-summary{
card-bodycard-summaryno-padding-top
}

.card-summary.fulltable{
tabledfl-widthtext-12margin-bottom-xl
}

.fulltable.sub-tit{
table-cellvertical-middleopacity-50sub_tit사용버전
}

.fulltable.table-cell{
table-cellvertical-middle
}

.fulltable.roundedbtn{
btnbtn-smbtn-dark-brightbtn-roundedbtn-xs-paddingstyletext-transform:capitalize;
free
}

.fulltable.sub-option{
table-cellvertical-middletext-rightsub_option
}

.fulltable.mixpanel-upgrade{
atext-dangeridmixpanel_dashboard_upgrade_righthref_blank업그레이드
}

.fulltable.pg-upgrade{
aopacity-50idmixpanel_dashboard_pghref_blank설정
}
.fulltable.hover-underline{
ahover-underlinehref_blankaltiOS신청iOS미사용/
}

.fulltable.table-word{
table-cellvertical-middleword-break:break-all;
}

.fulltable.questcircle{
ibtmbt-question-circle
}

.fulltable.vertical-top{
table-cellvertical-top
}

/*consulting-banner*/
.admin.consulting-banner{
consting_banner_wrapcardbg-transparent
}

.consulting-banner.owl-theme{
consting_bannerowl-themeowl-carouselowl-loaded
}

.owl-theme.owl-stage-outer{
owl-stage-outer
}

.owl-theme.owl-stage{
owl-stagestyletransform:translate3d(-1500px,0px,0px);
transition:all0.25sease0s;
width:3600px;
}

.owl-theme.owl-item{
owl-itemclonedstylewidth:300px;margin-right:0px;
margin-right:0px;
}

.owl-theme.item{
itemdata-index6idmixpanel_banner_kakaosync
}

/*카카오싱크*/
.owl-theme.kakaosync-banner{
iddashboard_banner_wrap_kakaosyncdashboard_banner_wrapmb-0kakaosynccardstylebackground:url(&quot;../common/img/dashboard_banner_kakaosync.png?v2&quot;)0%0%/100%no-repeatrgb(255,218,1);
color:rgb(255,255,255);
}

.owl-theme.default{
ahref_blanktext-14text-defat
}

.owl-theme .card-body{
card-body
}

/*토스페이*/
.owl-theme .tosspay-banner{
dashboard_banner_wrapmb-0cardstylebackground-image:url(&quot;_blank);
background-position:initial;
background-repeat:no-repeat;
background-attachment:initial;
background-origin:initial;
background-clip:initial;
background-color:rgb(41,98,255);
color:rgb(255,255,255);
background-size:100%
}

.owl-theme .card-body-toss{
style="display:flex;flex-direction:column;justify-content:center;align-items:center;
}

.owl-theme .tossimg{
style="width:98px;margin-bottom:5px;margin-top:4px;
}

.owl-theme .tosstext{
style="font-size:16px;font-weight:700;line-height:135%;"
}

.owl-theme .relative-item{
itemtw-relativeidmixpanel_banner_crema
}

/*크리마*/
.owl-theme.crema-banner{
dashboard_banner_wrap
mb-0cardstylebackground-image:url(&quot;https://vendor-cdn.imweb.me/images/CREMA_BO_BANNER.png&quot;);
background-repeat:no-repeat;
background-attachment:initial;
background-origin:initial;
background-clip:initial;
background-color:rgb(0,0,0);
background-position:right0pxbottom12px;
color:rgba(255,255,255,0.82);
background-size:auto86px;
}

.owl-theme .card-body-crema{
card-bodystyledisplay:flex;
flex-direction:column;
justify-content:start;
align-items:flex-start;
gap:2px;
padding:22px16px;
height:102px;
}

.owl-theme .crematext{
stylefont-size:16px;
font-weight:700;
line-height:140%;
letter-spacing:-0.8px;
margin-bottom:0px;
}

.owl-theme .cremafont{
stylefont-size:12px;
line-height:150%;
}

/*브이리뷰*/
.owl-theme.card-banner{
imgsrc_blankwidth80tw-absolutetw-right-[16px]tw-top-[20px]!tw-w-[80px]itemdata-index4idmixpanel_banner_danaldashboard_banner_wrapmb-0cardstylebackground-image:url(&quot;_blank);
background-position:initial;
background-repeat:no-repeat;
background-attachment:initial;
background-origin:initial;
background-clip:initial;
background-color:rgb(41,98,255);
color:rgb(255,255,255);
background-size:100%;
}

.owl-theme .card-body-vrev{
card-bodystyledisplay:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
}

.owl-theme .reviewcontent{
pstylefont-size:16px;
font-weight:700;
line-height:135%;
margin-bottom:0px;
}

.owl-theme .review{
color:rgb(255,255,255);
}

.owl-theme .reviewtext{
style="font-size:13px;color:white;letter-spacing:-0.7px;
}


.owl-theme .reviewimg{
width="80"
class="tw-absolutetw-right-[16px]tw-top-[20px]!tw-w-[80px]">
}

/*카카오프렌드*/
.owl-theme .kakaofriend-banner{
dashboard_banner_wrapmb-0card
style="background:url(&quot;_blank)0%0%/coverno-repeatrgb(0,0,0);color:rgb(0,0,0);"
}


.owl-theme .card-body-friend{
style="display:flex;flex-direction:column;justify-content:space-between;align-items:flex-start;"
}


.owl-theme .kakaofriend-content{
style="font-size:15px;font-weight:700;line-height:200%;margin-bottom:0px;">
}

.owl-theme .kakaofriend-talk{
color:rgb(254,229,0);
}

.owl-theme .marketing{
color:white;
}

.owl-theme .kakaofriend-font{
font-size:13px;color:white;letter-spacing:-0.7px;
}

/*네이버페이*/
.owl-theme .npay-banner{
<divclass="dashboard_banner_wrapmb-0card"
style="background:url(&quot;_blank)0%0%/100%no-repeatrgb(235,254,243);color:rgb(0,0,0);">
}

.owl-theme .card-body-npay{
<divclass="card-bodytext-13text-bold"
style="letter-spacing:-1px;padding-top:16px;">
}

.owl-theme .npay-content{
<divstyle="margin-bottom:6px;">
}

.owl-theme .npay-img{
<imgsrc="_blank"style="width:36px;">
}

.owl-theme .npay-font{
style="font-size:16px;font-weight:700;line-height:135%;margin-bottom:0px;">
집화처리다음날100%지급!
}

.owl-theme .npay-text{
style="color:rgb(3,199,90);letter-spacing:-0.7px;">
수수료없는빠른정산신청하기
}

/* 삼성페이 */
.owl-theme .spay-banner{
<divclass="dashboard_banner_wrapmb-0card"style="background-image:url(&quot;_blank);
background-position:initial;background-repeat:no-repeat;background-attachment:initial;
background-origin:initial;background-clip:initial;background-color:rgb(41,98,255);
color:rgb(255,255,255);background-size:100%;">
}

.owl-theme .card-body-spay{
<divclass="card-body"
style="display:flex;flex-direction:row;justify-content:space-between;align-items:center;">
}

.owl-theme .spay-font{
style="font-size:16px;font-weight:700;line-height:135%;margin-bottom:0px;">
}

.owl-theme .spay-img{
style="width:80px;object-fit:contain;object-position:rightcenter;">
}

/* 파스토 */
.owl-theme .pasto-banner{
<divclass="dashboard_banner_wrapmb-0card"
style="background:url(&quot;_blank)0%0%/100%no-repeatrgb(0,156,103);color:rgb(255,255,255);">
}

.owl-theme .card-body-pasto{
<divclass="card-bodytext-13text-bold"
style="letter-spacing:-1px;padding-top:14px;"> 
}

.owl-theme .pasto-span{
<spanclass="opacity-75">파스토이용시</span>
}

.owl-theme .pasto-font{
<divstyle="font-size:14px;">
}

.owl-theme .pasto-text{
<divstyle="font-size:14px;">
}

/* */
.dashboard-right .owl-controls{
<div class="owl-controls"> 
}

.owl-controls .owl-nav{
<div class="owl-nav">
}

.owl-controls .owl-prev{
<div class="owl-prev">prev</div>
}

.owl-controls .owl-next{
<div class="owl-next">next</div>
}

.owl-controls .owl-dots{
<div class="owl-dots"></div>
}

.dashboard-right .consulting_banner_nav{
<div class="consulting_banner_nav">
}

.consulting_banner_nav .consulting_banner_navWrap{
<div class="consulting_banner_navWrap">
}

.consulting_banner_nav .current{
<span class="current">4</span>
}

.consulting_banner_nav .total{
<span class="total">8</span>
}

.admin .smcard{
<div class="card card-sm-padding">
}

.smcard .card-head{
<div class="card-head"> 
}

.smcard .force{
<a class="float_r text-13 opacity-50 force-padding no-padding-y" href="_blank">관리</a>
</div>
}

.smcard .card-body{
<div class="card-body no-padding-top">
}

.smcard .admin-img{
<div class="admin_img_wrap clearfix">
}

.smcard .float{
<div class="float_l">
}

.smcard .inline-blocked{
<a class="inline-blocked" href="_blank" data-toggle="tooltip"
data-placement="top">
}

.smcard .border-round{
<img class="border-round" src="_blank" width="35" height="35">
}

.admin .memolist{
<div class="update_memo_list">
}

.memolist .addmemo{
<form id="add_memo">
}

.memolist .card-memo{
<div class="card-body card-memo">
}

.memolist .tableholder{
<div class="tabled holder full-width" style="margin-bottom: 5px; ">
}

.memolist .table-cell{
<div class="table-cell vertical-middle memo-thumb">
}

.memolist .border-round{
<img class="border-round" src="_blank" width="35" height="35">
}

.memolist .middle-table-cell{
<div class="table-cell vertical-middle"> 
}

.memolist .memo-writer{
<div id="memo_writer" class="text-13 text-bold">관리자</div>
}

.memolist .memo-body{
<div class="memo-body"> 
}

.memolist .form-control{
<textarea name="memo" id="memo"
class="form-control margin-bottom-xl resize-vertical" rows="1"
placeholder="관리자들과 공유할 메모를 남겨주세요" data-autosize-on="true"
style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 38px;"></textarea>
}

.memolist .btn-default{
<a href="javascript:"
class="btn btn-xs btn-rounded btn-xs-padding btn-default-bright"
onclick="DASHBOARD.addMemo($(&#39;#add_memo&#39))">저장</a>
}

.admin .toggle-btn{
<button type="button" class="hidden-lg hidden-md toggle-btn" data-dismiss="menubar">
}

.toggle-btn .sr-only{
<span class="sr-only">Toggle navigation</span>
}

.admin .animate{
<div id="menubar" class="animate">
}

.animate .scrollbar{
<div class="nano has-scrollbar" style="height: 787px; ">
}

.animate .nano-content{
<div class="nano-content" tabindex="0" style="right: -17px;">
}

.animate .scroll-panel{
<div class="menubar-scroll-panel" style="padding-bottom: 1px;">
}

.scroll-panel .region{
<div class="region-wrap full-width">
}

.scroll-panel .dropdown-toggle{
<a href="javascript:" class="holder global_icon_menu dropdown-toggle" data-toggle="dropdown"
aria-expanded="true">
}

.scroll-panel .icon-wrap{
<div class="icon-wrap">
}

.scroll-panel .region-icon{
<img src="_blank" class="region-icon">
}

.scroll-panel .brand-holder{
<div class="brand-holder">
}

.scroll-panel .title-controls{
<span class="title_controls">왓이님의 웹사이트</span>
}

.scroll-panel .icon{
<span class="icon">
}

.scroll-panel .holderimg{
<svg xmlns="_blank" width="16" height="16" viewBox="0 0 16 16"
fill="none"></svg>
}

.animate .dropdown-menu{
<ul class="dropdown-menu dropdown-menu-new global_setting animation-dock menu-card-styling">
}

.dropdown-menu .holder{
<li class="holder">
}

.holder .tabled{
<div class="tabled">
}

.holder .table-cell{
<div class="table-cell vertical-middle width-1">
}

.holder .tableimg{
<img width="30" height="30"
}

.holder .domain{
<div class="table-cell vertical-middle domain" style="line-height: 1.3;">
}

.holder .inline-blocked{
<div class="inline-blocked">
}

.holder .domain-name{
<span class="domain_name">왓이님의 웹사이트</span>
}

.holder .badge{
<span data-original-title="일반 방문자의 접속이 제한됩니다. 글로벌 버전으로 업그레이드 해주세요"
data-toggle="tooltip" class="badge" data-placement="top"
style="margin-left: 5px; vertical-align: top;">미결제</span>
}

.holder .domaintext{
<div class="text-gray-bright text-12">qjfhdnaos51106.imweb.me</div>
}

.holder .tools{
<div class="tools">
}

.dropdown-menu .add-unit{
<li class="add-unit"> 
}

.add-unit .secon-addunit{
<a href="javascript:;"
onclick="SITE_MANAGE.openAddUnit(&#39;S20240516cc656761618e8&#39;)"
class="text-secondary addunit" style="display: flex; ">
}

.add-unit .seicon{
<svg style="margin-right: 8px;" mlns="_blank" width="16" height="16"
viewBox="0 0 16 16" fill="none">
}

.dropdown-menu .gui-control{
<ul id="main-menu" class="gui-controls"> 
}

.gui-control .noti-button{
<a href="javascript:;" class="_gnb_notification_button gnb_notification_button">
}

.gui-control .gui-icon{
<div class="gui-icon"> 
}

.gui-control .db-bell{
<i class="db-bell"></i>
}

.gui-control .title-control{
<span class="title title_controls">알림</span>
}

.gui-control .new-badge{
<span class="_badge badge_new">New</span>
}

.gui-control .db-wand{
<i class="db-wand"></i>
}

.gui-control .db-preview{
<i class="db-preview"></i>
}

.gui-control .spacer{
<li class="spacer"></li>
}

.spacer .top-menu{
<li class="top-menu">
}

.spacer .shop-extend{
<a href="javascript:;" class="shop-extend"
onclick="DASHBOARD.openSiteManagementDialog(this);"
data-original-title="쇼핑·예약 기능설정" data-toggle="tooltip" data-placement="right"
data-trigger="hover"
data-template="&lt;div class=&quot;tooltip custom-tooltip&quot;&gt;&lt;div class=&quot;tooltip-inner&quot;&gt;&lt;/div&gt;&lt;/div&gt;">
}

.spacer .topmenu-icon{ 
<svg xmlns="_blank" width="16" height="16" viewBox="0 0 16 16" fill="none">
}

.spacer .expanded{
<li class="expanded">
}

.expanded .active{
<a href="_blank" class=" active">
}

.expanded .gui-icon{
<div class="gui-icon">
}

.expanded .db-dashboard{
<i class="db-dashboard"></i>
}

.gui-folder .title-controls{
<span class="title title_controls">대시보드</span>
}

.expanded .gui-folder{
<li class="gui-folder" data-title="member">
}

.gui-folder .sidebar-nav-menu{
<a href="_blank" class="sidebar-nav-menu" onclick="return false;">
}

.gui-folder .db-user{
<i class="db-user"></i>
}

.gui-folder .db-pencil{
<i class="db-pencil"></i>
}

.gui-folder .db-megaphone{
<i class="db-megaphone"></i>
}

.gui-folder .db-mobile{
<i class="db-mobile"></i>
}

.gui-folder .badge-icon{
<span class="badge_icon">1</span>
}

.gui-folder .db-status-up{
<i class="db-status-up"></i>
}

.gui-folder .db-crm{
<i class="db-crm"></i>
}

.gui-folder .db-rocket{
<i class="db-rocket"></i>
}

.gui-folder .db-settings{
<i class="db-settings"></i>
}

.spacer .gui-folder{
<li class="gui-folder" data-title="shopping">
}

.gui-folder .db-shopping-bag{
<i class="db-shopping-bag"></i>
}

.gui-folder .badge-beta{
<span class="badge-beta">Beta</span>
}

.gui-folder .badge-new{
<span class="badge-new">New</span>
}

.gui-folder .gui-animated{
<li class="gui-folder animated animated-hidden">
}

.gui-animated .sidebar-nav-menu{
<a href="_blank" class="sidebar-nav-menu" onclick="return false;">
}

.gui-animated .gui-icon{
gui-icon
}

.gui-animated .db-calendar{
<i class="db-calendar"></i>
}

.gui-animated .title-control{
<span class="title title_controls">예약</span>
}

.gui-folder .none{
<ul style="display: none;">
}

.gui-folder .spacer{
<li class="spacer"></li>
}

.spacer .top-menu{
<li class="top-menu">
}

.spacer .external-url{
<a class="external-url" href="_blank">
}

.spacer .gui-icon{
<div class="gui-icon">
}

.spacer .db-comments{
<i class="db-comments"></i>
}

.spacer .title-control{
<span class="title title_controls">고객지원</span>
}

.spacer .gui-folder{
<li class="gui-folder" data-title="campus">
}

.gui-folder .external-url{
<a class="external-url" href="_blank" onclick="return false;"> 
}

.gui-folder .gui-icon{
<div class="gui-icon">
}

.gui-folder .db-graduation-cap{
<i class="db-graduation-cap"></i>
}

.gui-folder .title-controls{
<span class="title title_controls">아임웹 교육</span>
}

.gui-folder .sidebar-nav-menu{
<a href="_blank" class="sidebar-nav-menu" onclick="return false;">
}

.gui-folder .db-telescope{
<i class="db-telescope"></i>
}

.gui-folder .badge-new{
<span class="badge_new">New</span>
}

.gui-folder .nano-pane{
<div class="nano-pane">
}

.nano-pane .nano-slider{
<div class="nano-slider" style="height: 752px; top: 35px; display: block;"></div>
}

.admin .foldarea{
<div class="fold_area animate">
}

.foldarea .tablecell{
<div class="table-cell vertical-middle"> 
}

.foldarea .iconmenu{
<a href="_blank" class="logo_icon_menu">
}

.foldarea .toolbtn{
<a class="_tooltip_btn side_bar_btn" href="javascript:void(0)" role="button" id="toggle_button">
}

.foldarea .foldbutton-left{
<span class="fold_button left" data-trigger="hover">
}

.foldarea .foldimg{
<svg xmlns="_blank" width="16" height="16" viewBox="0 0 16 16" fill="none"></svg>
}

.foldarea .foldbutton-right{
<span class="fold_button right" data-toggle="tooltip" data-placement="right" data-trigger="hover">
}

.foldarea .default{
<div class="default">
}

.foldarea .hover{
<div class="hover">
}

.foldarea .hoverimg{
<svg xmlns="_blank" width="16" height="16" viewBox="0 0 16 16" fill="none"></svg>
}

.foldarea .modal-provider{
<div class="_notify-modal-provider"></div>
}

.admin .modal{
<div class="modal" id="cocoaModal" role="dialog">
}

.modal .modal-dialog{
<div class="modal-dialog">
}

.modal .modal-content{
<div class="modal-content"></div>
}

.admin .submodal{
<div class="modal submodal" role="dialog" id="cocoaSubModal" style="z-index: 17001;">
}

.submodal .modal-dialog{
<div class="modal-dialog">
}

.submodal .modal-content{
<div class="modal-content"></div>
}

.admin .hidden-frame{
<iframe name="hidden_frame" id="hidden_frame"
style="position: absolute; left: -9999px; width: 1px; height: 1px; top: -9999px;" src="_blank"></iframe>
}

.admin .device-breakpoints{
<div id="device-breakpoints">
}

.device-breakpoints .device-xs{
<div class="device-xs visible-xs" data-breakpoint="xs"></div>
}

.device-breakpoints .device-sm{
<div class="device-sm visible-sm" data-breakpoint="sm"></div>
}

.device-breakpoints .device-md{
<div class="device-md visible-md" data-breakpoint="md"></div>
}

.device-breakpoints .device-lg{
<div class="device-lg visible-lg" data-breakpoint="lg"></div>
}

.admin .ch-plugin{
<div id="ch-plugin" class="notranslate" style="z-index: 1000">
}

.ch-plugin .ch-plugin-entry{
<div id="ch-plugin-entry">
}

.ch-plugin .ch-plugin-block{
<div style="display: block;">
}

.ch-plugin .ch-shadow-root-wrapper{
<div id="ch-shadow-root-wrapper">
}

.ch-plugin .Launcherstyled{
<div class="Launcherstyled__LauncherButtonWrapper-ch-front__sc-1kx6op4-0 chEByq">
}

.ch-plugin .ChatButton{
<div class="ChatButtonContainer__Container-ch-front__sc-qgvnh9-0 cgHhTF">
}

.ch-plugin .Launcherstyled_{
<span class="a11y-hidden">imweb 상담 버튼</span>
}

.ch-plugin .Launcherstyled_{
<div class="SenderButtonView__Wrapper-ch-front__sc-1aik3pi-0 eFJnEc">
}
.ch-plugin .Launcherstyled_{
<div src="_blank"
class="SenderButtonView__SenderAvatarBg-ch-front__sc-1aik3pi-1 mVAFX"></div>
}

.ch-plugin .Launcherstyled_{
<div data-testid="img-custom-btn"
class="ImageCustomButtonView__Wrapper-ch-front__sc-1s91m5o-0 jVTAai">
}

.ch-plugin .Launcherstyled_{
<div src="_blank"
class="ImageCustomButtonView__CustomImageBg-ch-front__sc-1s91m5o-1 dRQruU">
}

.ch-plugin .Launcherstyled_{
<div class="IconButtonView__Background-ch-front__sc-vtu014-0 inQZZV">
}

.ch-plugin .Launcherstyled_{
<svg width="36" height="36" color="#ffffff"></svg>
</div>
}

.ch-plugin .Launcherstyled_{
<div class="MinimizeButtonView__Wrapper-ch-front__sc-1idijj-0 giSWOn">
}

.ch-plugin .Launcherstyled_{
<svg xmlns="_blank" width="36" height="36" fill="none" viewBox="0 0 24 24"
foundation="[object Object]" class="Iconstyled__Icon-sc-1iqwu2g-0 pJGcx"
data-testid="bezier-react-icon" color="txt-black-darker" margintop="0"
marginright="0" marginbottom="0" marginleft="0" aria-hidden="true">
}

.ch-plugin .Launcherstyled_{
<div role="status" aria-label=", there are unread messages"
class="Badge__BaseUnreadBadge-ch-front__sc-1k3c5b2-2 fOtwdy Badge__PcUnreadBadge-ch-front__sc-1k3c5b2-3 jrJXOx">
}

.ch-plugin .Launcherstyled_{
<div id="ch-plugin-script" style="display:none;" class="ch-messenger-hidden">
<iframe id="ch-plugin-script-iframe" title="Channel chat"
style="position:relative;height:100%;width:100%;border:none!;" src="_blank"></iframe>
}