.admin{
menubar-hoverable header-fixed menubar-pin
}

/*dashboard*/
.admin .dashboard{
dashboard_loader se-pre-con
}

.dashboard .pageloader{
page-loader-spinner
}

.dashboard .bounce1{
double-bounce1
}

.dashboard .bounce2{
double-bounce2
}

.dashboard .progress{
progress
}

.progress .progressbar{
progress-barwidth:70%;
}

/*base*/
.admin .base{
    base
}

.admin .topheader{
top_header
}

.admin .base .topheader{

}

.admin .base .headerbar{

}

.admin .base .leftbar{
headerbar-left
}

.admin .leftbar .menutoggle{
btnbtn-icon-toggle menubar-toggle"data-toggle="menubar"

}

.admin .leftbar .btnicon{
width="16"height="16"viewBox="001816" fill="none" xmlns="_blank"
}

.admin .leftbar .sitename{
data-toggle="tooltip" data-placement="bottom"
}

.admin .rightbar{
headerbar-right
}

.admin .rightbar .headernav{
header-nav header-nav-options
}

.admin .rightbar .claybutton{
clay-button white__exit-btn
}

.admin .rightbar .claybutton2{
clay-button__upgrade-btn
}

.admin .main-dashboard{
dashboard_main
}

.admin .main-dashboard .alertBox{
alert__wrap
}

.admin .main-dashboard .alertjoin{
alert__banner-case2 first:tw-mt-[24px]tw-pr-[31px]md:tw-pr-[62px]tw-flex-wrap
}

.admin .alertjoin .middleitems{
md:tw-pr-[62px]
}

.admin .alertjoin .centeritems{
tw-flex tw-items-center
}

.admin .centeritems .bannerimg{ 
width:24px;height:24px;viewBox:0 0 24 24;fill:none;
}

.admin .centeritems .lefttext{
tw-text-left
}

.admin .alertjoin .btnclose{
btn-close btn-close tw-absolute tw-right-0md:tw-right-[16px]tw-pr-[5px]
}

.admin .btnclose .btwnone{
buttontype buttononclick SADMIN_MENU_ALERT .closeBannerAlert(&#39;join&#39;)
}

.admin .btnclose .btl{
btw-order-none bg-transparent border-none
}

/*clearfix*/
.admin .clearfix{
area_wrap
}

.admin .clearfix .section-body{
section-body float_l
}

.admin .clearfix .dashboard-section{
dashboard_section_header
}

.admin .dashboard-section .clearimg{
width 24 height 24 viewBox 002424 fill none
}

 .admin .clearfix .dashboard-card{
tw-relative
}

 .admin .dashboard-card .fold{
fold
}

 .admin .fold .foldimage{
width16height16viewBox001616fillnone
}

 .admin .clearfix .tooltip{
fold_tooltip
}

 .admin .tooltip .toolimage{
width12height6viewBox00126fillnone
}

 .admin .clearfix .dashboard-tutorial{
dashboard_tutorial_dashboard_tutorial
}

 .admin .dashboard-tutorial .container{
dashboard_tutorial_container
}

 .admin .container .tutorial-card{
dashboard_tutorial_card
}

 .admin .container .dashboard-tutorial-card{
dashboard_tutorial_card
}

 .admin .container .tutorial-growth{
dashboard_tutorial_cardtutorial_growth
}

/*중복됨*/
 .admin .checkbar{
check_bar_wrap
}

 .admin .check-background{
check_bar_background
}

 .admin .cbr{
check_bar_check_barwidth:0%;
border-radius:3px;
}

 .admin .checkbar-text{
check_bar_text_check_bar_text
}

 .admin .tlist{
tt-list
}

 .admin .clist{
check-list_check_list
}

 .admin .check-icon{
check_icon
}

/**/

 .admin .container .todolist{
rowtodo-listtoday
}

 .admin .todolist .titem{
ma-item
}

 .admin .todolist .card{
card
}

 .admin .todolist .card-head{
card_headline-bottom
}

 .admin .card-head .header-badge{
text-defat-brightheader-badgebadge-dangerclay-badge0
}

 .admin .todolist .cardbody{
card-bodyborder-toptoday-table
}

 .admin .cardbody .tlist{
tt-list
}

 .admin .cardbody .inline-blocked{
inline-blocked
}

 .admin .cardbody .text-danger{
text-danger0
}

 .admin .dashboard-section{
dashboard_section_headerdashboard_stats_header
}

 .admin .dashboard-section .dimg{
width24height24viewBox002424fillnone
}

 .admin .dashboard-banner{
dashboard_stats_banner_container
}

 .admin .dashboard-banner .stats-banner{
dashboard_stats_banner
}

 .admin .dashboard-banner .leftbanner{
dashboard_stats_banner_left
}

 .admin .dashboard-banner .rightbanner{
dashboard_stats_banner_right
}

 .admin .rightbanner .rbanner{
height100%
}

 .admin .rightbanner .bbutton{
buttontypebuttonstats_banner_hidemo_hide
}

 .admin .rightbanner .rimg{
width14height14viewBox001414fillnone
}

 .admin .bannerhide .hideimg{
buttontypebuttonstats_banner_hidepc_hide
}

 .admin .bannerhide .hideimg{
width10height10viewBox001414fillnonexmlns_blank
}

/*dashboard-stats*/
 .admin .dashboard-stats{
flex-boxdashboard_stats
}

 .admin .dashboard-stats .visitor-list{
ma-itemcol-md-6col-sm-12col-xs-12stat-visitor-list
}

 .admin .dashboard-stats .card{
card
}

 .admin .card .card-head{
card_head
}

 .admin .card-head .card-anchor{
ahref_blankdashboard_card_anchor
}

 .admin .card .card-body{
card-bodyborder-top
}

 .admin .card-body .float{
float_rtext-12text-rightforce-paddingno-padding
}

 .admin .card-body .span{
margin-right:15px;
}

 .admin .card-body .fa{
fafa-circlecolor:rgb(179,227,255)
}

 .admin .card-body .fafa{
color:rgb(25,109,255)
}

 .admin .dashboard-stats .holder{

}

/*HOLDER*/
.admin .holder .stats-chart{
stats_chart
width:328px;height:164px;
}

 .admin .holder .chart-tooltip{
chartjs_tooltip_chartjs_tooltip
opacity:0;
left:123px;
top:180 .417px;
font-family:&quot;
HelveticaNeue&quot;
Helvetica,
Arial,
sans-serif;
font-size:14px;
font-style:normal;
position:absolute;
background:rgb(255,255,255);
}

 .admin .holder .chart-tooltip-section{
chartjs-tooltip-section
}

 .admin .holder .tooltip-key{
chartjs-tooltip-keystylebackground-color:rgb(25,109,255);
}

 .admin .holder .tooltip-value{
chartjs-tooltip-value8
}

 .admin .holder .chart-tooltip-key{
chartjs-tooltip-key
background-color:rgb(179,227,255);
}

/*ANALYTICS-LIST*/
 .admin .analytics-list{
ma-itemcol-md-6col-sm-12col-xs-12stat-analytics-list
}

 .admin .analytics-list .card{
card
}

 .admin .card .card-head{
card_head
}

 .admin .card-head .card-anchor{
ahref_blankdashboard_card_anchor
}

 .admin .analytics-list .card-body{
card-bodyno-paddingborder-top
}

 .admin .analytics-list .summary-table{
tabletableno-marginsummary-table
}

 .admin .analytics-list .th{
text-13text-centeropacity-50
}

 .admin .analytics-list .button{
text-gray
width:100%;
line-height:1 .4;
vertical-align:top&#39;
tabletable-normaltable-sm-paddingno-margin
width:25%&#39;
no-border-top
}

 .admin .analytics-list .question{
btmbt-question-circle
}

 .admin .analytics-list .today{
today
}

/*TODAY*/
 .admin .today .text-left{
text-left
}

 .admin .today .text-right{
text-right
}

 .admin .today .text-right-border{
text-leftno-border
}

 .admin .today .text-left-border{
text-leftno-border
}

 .admin .section-header{
dashboard_section_header
}

 .admin .section-header .secimg{
width24height25viewBox002425fill
}

 .admin .row-section{
flex-boxdashboard_section_rowdashboard_contents_row
}

 .admin .row-section .shopping-review{
ma-itemcol-md-6col-sm-6col-xs-12answers-listshopping-review
}

 .admin .row-section .flex-card{
cardflex-card
}

 .admin .row-section .card-head{
card_head
}

.admin .row-section .card-anchor{
ahref_blankdashboard_card_anchor
}

 .admin .row-section .card-body{
card-bodyborder-topno-data-card-body
}

 .admin .card-body .list-preview{
listlist-preview
}

 .admin .card-body .tile{
litile
}

 .admin .card-body .no-data{
no-data-container
}

/*SHOPPING-QNA*/
 .admin .shopping-qna{
ma-itemcol-md-6col-sm-6col-xs-12answers-listshopping-qna
}

 .admin .shopping-qna .flex-card{
cardflex-card
}

 .admin .shopping-qna .card-head{
card_head
}

 .admin .card-head .card-anchor{
ahref_blankdashboard_card_anchor
}

 .admin .shopping-qna .card-body{
card-bodyborder-topno-data-card-body
}

 .admin .card-body .list-preview{
listlist-preview
}

 .admin .card-body .tile{
litile
}

 .admin .card-body .no-data{
no-data-container
}

/*CONTENTS-LIST*/
 .admin .contents-list{
ma-itemcol-md-6col-sm-6col-xs-12contents-list!tw-mb-0
}

 .admin .contents-list .flex-card{
cardflex-card
}

 .admin .contents-list .card-head{
card_head
}

 .admin .card-head .card-anchor{
ahref_blankdashboard_card_anchor
}

 .admin .contents-list .card-body{
card-bodyborder-topno-data-card-body
}

 .admin .card-body .list-preview{
listlist-preview
}

 .admin .card-body .tile{
litile
}

 .admin .card-body .no-data{
no-data-container
}


/*BORDER*/
 .admin .contentbox{
styleheight:40px;
}

 .admin .sec-header{
dashboard_section_header
}

 .admin .sec-header .dasimg{
svgwidth24height25viewBox002425fillnonexmlns_blank
}

/*SECTION-ROW*/
 .admin .sec-row{
flex-boxdashboard_imweb_contents_topdashboard_section_row
}

 .admin .sec-row .myqna{
ma-itemcol-md-6col-sm-6col-xs-12contents-myqna
}

 .admin .sec-row .flex-card{
cardflex-card
}

 .admin .sec-row .card-head{
card_head
}

 .admin .card-head .card-anchor{
ahref_blanktarget_blankdashboard_card_anchor
}

 .admin .sec-row .card-body{
card-bodyborder-topno-data-card-bodyqna-no-data-card-body
}

 .admin .card-body .list-preview{
listlist-preview
}

 .admin .card-body .tile{
litile
}

 .admin .card-body .no-data{
no-data-container
}

/*notice-list*/
 .admin .notice-list{
ma-itemcol-md-6col-sm-6col-xs-12notice-list
}

 .notice-list .card{
card
}

 .notice-list .card-head{
card_head
}

 .card-head .card-anchor{
ahref_blankdashboard_card_anchor
}

 .notice-list .card-body{
card-bodyborder-top
}

 .card-body .list-preview{
listlist-preview
}

 .notice-list .card-body .tile{
litilemin-height:auto;
}

 .card-body .notice-item{
tile-contentnotice-item
}

 .card-body .tile-text{
tile-textno-padding
}

 .card-body .tile-icon{
tile-iconno-paddingtext-12text-gray-bright
style="min-width:80px;
}

/*SECTION-ROW*/
 .admin .section-row{
flex-boxdashboard_imweb_contents_topdashboard_section_row
}

 .section-row .guide-list{
atile-contentnotice-itemhref_blanktile-textno-paddingtile-iconno-paddingtext-12text-gray-brightstylemin-width:80px;
}

 .guide-list .card{
card
}

 .guide-list .card-head{
card_head
}

 .guide-list .card-anchor{
card_anchor
}

 .guide-list .card-body{
card_body
}

 .card-body .list-preview{
listlist-preview
}

 .card-body .tile{
litilestyle="min-height:auto;
}

 .card-body .guide-item{
tile-contentguide-item
}

 .card-body .tile-text{
tile-textno-padding
}

 .card-body .tile-icon{
tile-iconno-paddingtext-12text-gray-bright
style="min-width:80px;
}

/*dashboard-right*/
 .admin .dashboard-right{
dashboard_rightright-menu-fixedfloat_l
}

 .dashboard-right .user-card{
cardcard-blackdashboard-user-card
}

 .user-card .card-body{
card-bodytext-center
}

 .user-card .card-body .dropdown-toggle{
ahrefjavascript:dropdown-toggleblockdata-toggledropdowntabindex-1aria-expandedfalse
}

 .user-card .card-body .mixpanel-profile{
margin-bottom-xlidmixpanel_dashboard_profile
}

 .user-card .mixpanel-profile .border-round{
imgborder-roundsrc_blankwidth64height64
}

 .mixpanel-profile .text{
text-bold
}

 .mixpanel-profile .nameholder{
use_nameholder관리자
}

 .mixpanel-profile .emailholder{
text-13opacity-50
}

 .dashboard-right .dropdown-menu{
dropdown-menuanimation-dockdashboard-profilerolemenu
}

 .dropdown-menu .ellipsis{
atext-ellipsis
}

 .dropdown-menu .border-round{
imgborder-roundsrc_blankwidth64height64
}

 .dropdown-menu .divider{
divider
}

 .dropdown-menu .upgrade-btn{
text-dangerupgrade-btn
}

 .dropdown-menu .exit-btn{
ahref_blankexit-btn나가기
}

/*card-summary*/

 .dashboard-right .card-summary{
card-bodycard-summaryno-padding-top
}

 .card-summary .fulltable{
tabledfl-widthtext-12margin-bottom-xl
}

 .fulltable .sub-tit{
table-cellvertical-middleopacity-50sub_tit사용버전
}

 .fulltable .table-cell{
table-cellvertical-middle
}

 .fulltable .roundedbtn{
btnbtn-smbtn-dark-brightbtn-roundedbtn-xs-paddingstyletext-transform:capitalize;
free
}

 .fulltable .sub-option{
table-cellvertical-middletext-rightsub_option
}

 .fulltable .mixpanel-upgrade{
atext-dangeridmixpanel_dashboard_upgrade_righthref_blank업그레이드
}

 .fulltable .pg-upgrade{
aopacity-50idmixpanel_dashboard_pghref_blank설정
}
 .fulltable .hover-underline{
ahover-underlinehref_blankaltiOS신청iOS미사용/
}

 .fulltable .table-word{
table-cellvertical-middleword-break:break-all;
}

 .fulltable .questcircle{
ibtmbt-question-circle
}

 .fulltable .vertical-top{
table-cellvertical-top
}

/*consulting-banner*/
 .admin .consulting-banner{
consting_banner_wrapcardbg-transparent
}

 .consulting-banner .owl-theme{
consting_bannerowl-themeowl-carouselowl-loaded
}

 .owl-theme .owl-stage-outer{
owl-stage-outer
}

 .owl-theme .owl-stage{
owl-stagestyletransform:translate3d(-1500px,0px,0px);
transition:all0 .25sease0s;
width:3600px;
}

 .owl-theme .owl-item{
owl-itemclonedstylewidth:300px;margin-right:0px;
margin-right:0px;
}

 .owl-theme .item{
itemdata-index6idmixpanel_banner_kakaosync
}

/*카카오싱크*/
 .owl-theme .kakaosync-banner{
iddashboard_banner_wrap_kakaosyncdashboard_banner_wrapmb-0kakaosynccardstylebackground:url(&quot; . ./common/img/dashboard_banner_kakaosync .png?v2&quot;)0%0%/100%no-repeatrgb(255,218,1);
color:rgb(255,255,255);
}

 .owl-theme .default{
ahref_blanktext-14text-defat
}

 .owl-theme .card-body{
card-body
}

/*토스페이*/
 .owl-theme .tosspay-banner{
dashboard_banner_wrapmb-0cardstylebackground-image:url(&quot;_blank);
background-position:initial;
background-repeat:no-repeat;
background-attachment:initial;
background-origin:initial;
background-clip:initial;
background-color:rgb(41,98,255);
color:rgb(255,255,255);
background-size:100%
}

 .owl-theme .card-body-toss{
style="display:flex;flex-direction:column;justify-content:center;align-items:center;
}

 .owl-theme .tossimg{
style="width:98px;margin-bottom:5px;margin-top:4px;
}

 .owl-theme .tosstext{
style="font-size:16px;font-weight:700;line-height:135%;"
}

 .owl-theme .relative-item{
itemtw-relativeidmixpanel_banner_crema
}

/*크리마*/
 .owl-theme .crema-banner{
dashboard_banner_wrap
mb-0cardstylebackground-image:url(&quot;https://vendor-cdn .imweb .me/images/CREMA_BO_BANNER .png&quot;);
background-repeat:no-repeat;
background-attachment:initial;
background-origin:initial;
background-clip:initial;
background-color:rgb(0,0,0);
background-position:right0pxbottom12px;
color:rgba(255,255,255,0 .82);
background-size:auto86px;
}

 .owl-theme .card-body-crema{
card-bodystyledisplay:flex;
flex-direction:column;
justify-content:start;
align-items:flex-start;
gap:2px;
padding:22px16px;
height:102px;
}

 .owl-theme .crematext{
stylefont-size:16px;
font-weight:700;
line-height:140%;
letter-spacing:-0 .8px;
margin-bottom:0px;
}

 .owl-theme .cremafont{
stylefont-size:12px;
line-height:150%;
}

/*브이리뷰*/
 .owl-theme .card-banner{
imgsrc_blankwidth80tw-absolutetw-right-[16px]tw-top-[20px]!tw-w-[80px]itemdata-index4idmixpanel_banner_danaldashboard_banner_wrapmb-0cardstylebackground-image:url(&quot;_blank);
background-position:initial;
background-repeat:no-repeat;
background-attachment:initial;
background-origin:initial;
background-clip:initial;
background-color:rgb(41,98,255);
color:rgb(255,255,255);
background-size:100%;
}

 .owl-theme .card-body-vrev{
card-bodystyledisplay:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
}

 .owl-theme .reviewcontent{
pstylefont-size:16px;
font-weight:700;
line-height:135%;
margin-bottom:0px;
}

 .owl-theme .review{
color:rgb(255,255,255);
}

 .owl-theme .reviewtext{
style="font-size:13px;color:white;letter-spacing:-0 .7px;
}


 .owl-theme .reviewimg{
width="80"
class="tw-absolutetw-right-[16px]tw-top-[20px]!tw-w-[80px]">
}

/*카카오프렌드*/
 .owl-theme .kakaofriend-banner{
dashboard_banner_wrapmb-0card
style="background:url(&quot;_blank)0%0%/coverno-repeatrgb(0,0,0);color:rgb(0,0,0);"
}


 .owl-theme .card-body-friend{
style="display:flex;flex-direction:column;justify-content:space-between;align-items:flex-start;"
}


 .owl-theme .kakaofriend-content{
style="font-size:15px;font-weight:700;line-height:200%;margin-bottom:0px;">
}

 .owl-theme .kakaofriend-talk{
color:rgb(254,229,0);
}

 .owl-theme .marketing{
color:white;
}

 .owl-theme .kakaofriend-font{
font-size:13px;color:white;letter-spacing:-0 .7px;
}

/*네이버페이*/
 .owl-theme .npay-banner{
<divclass="dashboard_banner_wrapmb-0card"
style="background:url(&quot;_blank)0%0%/100%no-repeatrgb(235,254,243);color:rgb(0,0,0);">
}

 .owl-theme .card-body-npay{
<divclass="card-bodytext-13text-bold"
style="letter-spacing:-1px;padding-top:16px;">
}

 .owl-theme .npay-content{
<divstyle="margin-bottom:6px;">
}

 .owl-theme .npay-img{
<imgsrc="_blank"style="width:36px;">
}

 .owl-theme .npay-font{
style="font-size:16px;font-weight:700;line-height:135%;margin-bottom:0px;">
집화처리다음날100%지급!
}

 .owl-theme .npay-text{
style="color:rgb(3,199,90);letter-spacing:-0 .7px;">
수수료없는빠른정산신청하기
}

/*삼성페이*/
 .owl-theme .spay-banner{
<divclass="dashboard_banner_wrapmb-0card"style="background-image:url(&quot;_blank);
background-position:initial;background-repeat:no-repeat;background-attachment:initial;
background-origin:initial;background-clip:initial;background-color:rgb(41,98,255);
color:rgb(255,255,255);background-size:100%;">
}

 .owl-theme .card-body-spay{
<divclass="card-body"
style="display:flex;flex-direction:row;justify-content:space-between;align-items:center;">
}

 .owl-theme .spay-font{
style="font-size:16px;font-weight:700;line-height:135%;margin-bottom:0px;">
}

 .owl-theme .spay-img{
style="width:80px;object-fit:contain;object-position:rightcenter;">
}

/*파스토*/
 .owl-theme .pasto-banner{
<divclass="dashboard_banner_wrapmb-0card"
style="background:url(&quot;_blank)0%0%/100%no-repeatrgb(0,156,103);color:rgb(255,255,255);">
}

 .owl-theme .card-body-pasto{
<divclass="card-bodytext-13text-bold"
style="letter-spacing:-1px;padding-top:14px;">
}

 .owl-theme .pasto-span{
<spanclass="opacity-75">파스토이용시</span>
}

 .owl-theme .pasto-font{
<divstyle="font-size:14px;">
}

 .owl-theme .pasto-text{
<divstyle="font-size:14px;">
}

/**/
 .dashboard-right .owl-controls{
<divclass="owl-controls">
}

 .owl-controls .owl-nav{
<divclass="owl-nav">
}

 .owl-controls .owl-prev{
<divclass="owl-prev">prev</divclass=>
}

 .owl-controls .owl-next{
<divclass="owl-next">next</divclass=>
}

 .owl-controls .owl-dots{
<divclass="owl-dots"></divclass=>
}

 .dashboard-right .consulting_banner_nav{
<divclass="consulting_banner_nav">
}

 .consulting_banner_nav .consulting_banner_navWrap{
<divclass="consulting_banner_navWrap">
}

 .consulting_banner_nav .current{
<spanclass="current">4</spanclass=>
}

 .consulting_banner_nav .total{
<spanclass="total">8</spanclass=>
}

 .admin .smcard{
<divclass="cardcard-sm-padding">
}

 .smcard .card-head{
<divclass="card-head">
}

 .smcard .force{
<aclass="float_rtext-13opacity-50force-paddingno-padding-y"href="_blank">관리</aclass=>
</div>
}

 .smcard .card-body{
<divclass="card-bodyno-padding-top">
}

 .smcard .admin-img{
<divclass="admin_img_wrapclearfix">
}

 .smcard .float{
<divclass="float_l">
}

 .smcard .inline-blocked{
<aclass="inline-blocked"href="_blank"data-toggle="tooltip"
data-placement="top">
}

 .smcard .border-round{
<imgclass="border-round"src="_blank"width="35"height="35">
}

 .admin .memolist{
<divclass="update_memo_list">
}

 .memolist .addmemo{
<formid="add_memo">
}

 .memolist .card-memo{
<divclass="card-bodycard-memo">
}

 .memolist .tableholder{
<divclass="tabledholderfull-width"style="margin-bottom:5px;">
}

 .memolist .table-cell{
<divclass="table-cellvertical-middlememo-thumb">
}

 .memolist .border-round{
<imgclass="border-round"src="_blank"width="35"height="35">
}

 .memolist .middle-table-cell{
<divclass="table-cellvertical-middle">
}

 .memolist .memo-writer{
<divid="memo_writer"class="text-13text-bold">관리자</divid=>
}

 .memolist .memo-body{
<divclass="memo-body">
}

 .memolist .form-control{
<textareaname="memo"id="memo"
class="form-controlmargin-bottom-xlresize-vertical"rows="1"
placeholder="관리자들과공유할메모를남겨주세요"data-autosize-on="true"
style="overflow:hidden;overflow-wrap:break-word;resize:none;height:38px;"></textareaname=>
}

 .memolist .btn-default{
<ahref="javascript:"
class="btnbtn-xsbtn-roundedbtn-xs-paddingbtn-default-bright"
onclick="DASHBOARD .addMemo($(&#39;#add_memo&#39))">저장</ahref=>
}

 .admin .toggle-btn{
<buttontype="button"class="hidden-lghidden-mdtoggle-btn"data-dismiss="menubar">
}

 .toggle-btn .sr-only{
<spanclass="sr-only">Togglenavigation</spanclass=>
}

 .admin .animate{
<divid="menubar"class="animate">
}

 .animate .scrollbar{
<divclass="nanohas-scrollbar"style="height:787px;">
}

 .animate .nano-content{
<divclass="nano-content"tabindex="0"style="right:-17px;">
}

 .animate .scroll-panel{
<divclass="menubar-scroll-panel"style="padding-bottom:1px;">
}

 .scroll-panel .region{
<divclass="region-wrapfull-width">
}

 .scroll-panel .dropdown-toggle{
<ahref="javascript:"class="holderglobal_icon_menudropdown-toggle"data-toggle="dropdown"
aria-expanded="true">
}

 .scroll-panel .icon-wrap{
<divclass="icon-wrap">
}

 .scroll-panel .region-icon{
<imgsrc="_blank"class="region-icon">
}

 .scroll-panel .brand-holder{
<divclass="brand-holder">
}

 .scroll-panel .title-controls{
<spanclass="title_controls">왓이님의웹사이트</spanclass=>
}

 .scroll-panel .icon{
<spanclass="icon">
}

 .scroll-panel .holderimg{
<svgxmlns="_blank"width="16"height="16"viewBox="001616"
fill="none"></svgxmlns=>
}

 .animate .dropdown-menu{
<ulclass="dropdown-menudropdown-menu-newglobal_settinganimation-dockmenu-card-styling">
}

 .dropdown-menu .holder{
<liclass="holder">
}

 .holder .tabled{
<divclass="tabled">
}

 .holder .table-cell{
<divclass="table-cellvertical-middlewidth-1">
}

 .holder .tableimg{
<imgwidth="30"height="30"
}

 .holder .domain{
<divclass="table-cellvertical-middledomain"style="line-height:1 .3;">
}

 .holder .inline-blocked{
<divclass="inline-blocked">
}

 .holder .domain-name{
<spanclass="domain_name">왓이님의웹사이트</spanclass=>
}

 .holder .badge{
<spandata-original-title="일반방문자의접속이제한됩니다 .글로벌버전으로업그레이드해주세요"
data-toggle="tooltip"class="badge"data-placement="top"
style="margin-left:5px;vertical-align:top;">미결제</spandata-original-title=>
}

 .holder .domaintext{
<divclass="text-gray-brighttext-12">qjfhdnaos51106 .imweb .me</divclass=>
}

 .holder .tools{
<divclass="tools">
}

 .dropdown-menu .add-unit{
<liclass="add-unit">
}

 .add-unit .secon-addunit{
<ahref="javascript:;"
onclick="SITE_MANAGE .openAddUnit(&#39;S20240516cc656761618e8&#39;)"
class="text-secondaryaddunit"style="display:flex;">
}

 .add-unit .seicon{
<svgstyle="margin-right:8px;"mlns="_blank"width="16"height="16"
viewBox="001616"fill="none">
}

 .dropdown-menu .gui-control{
<ulid="main-menu"class="gui-controls">
}

 .gui-control .noti-button{
<ahref="javascript:;"class="_gnb_notification_buttongnb_notification_button">
}

 .gui-control .gui-icon{
<divclass="gui-icon">
}

 .gui-control .db-bell{
<iclass="db-bell"></iclass=>
}

 .gui-control .title-control{
<spanclass="titletitle_controls">알림</spanclass=>
}

 .gui-control .new-badge{
<spanclass="_badgebadge_new">New</spanclass=>
}

 .gui-control .db-wand{
<iclass="db-wand"></iclass=>
}

 .gui-control .db-preview{
<iclass="db-preview"></iclass=>
}

 .gui-control .spacer{
<liclass="spacer"></liclass=>
}

 .spacer .top-menu{
<liclass="top-menu">
}

 .spacer .shop-extend{
<ahref="javascript:;"class="shop-extend"
onclick="DASHBOARD .openSiteManagementDialog(this);"
data-original-title="쇼핑·예약기능설정"data-toggle="tooltip"data-placement="right"
data-trigger="hover"
data-template="&lt;divclass=&quot;tooltipcustom-tooltip&quot;&gt;&lt;divclass=&quot;tooltip-inner&quot;&gt;&lt;/div&gt;&lt;/div&gt;">
}

 .spacer .topmenu-icon{
<svgxmlns="_blank"width="16"height="16"viewBox="001616"fill="none">
}

 .spacer .expanded{
<liclass="expanded">
}

 .expanded .active{
<ahref="_blank"class="active">
}

 .expanded .gui-icon{
<divclass="gui-icon">
}

 .expanded .db-dashboard{
<iclass="db-dashboard"></iclass=>
}

 .gui-folder .title-controls{
<spanclass="titletitle_controls">대시보드</spanclass=>
}

 .expanded .gui-folder{
<liclass="gui-folder"data-title="member">
}

 .gui-folder .sidebar-nav-menu{
<ahref="_blank"class="sidebar-nav-menu"onclick="returnfalse;">
}

 .gui-folder .db-user{
<iclass="db-user"></iclass=>
}

 .gui-folder .db-pencil{
<iclass="db-pencil"></iclass=>
}

 .gui-folder .db-megaphone{
<iclass="db-megaphone"></iclass=>
}

 .gui-folder .db-mobile{
<iclass="db-mobile"></iclass=>
}

 .gui-folder .badge-icon{
<spanclass="badge_icon">1</spanclass=>
}

 .gui-folder .db-status-up{
<iclass="db-status-up"></iclass=>
}

 .gui-folder .db-crm{
<iclass="db-crm"></iclass=>
}

 .gui-folder .db-rocket{
<iclass="db-rocket"></iclass=>
}

 .gui-folder .db-settings{
<iclass="db-settings"></iclass=>
}

 .spacer .gui-folder{
<liclass="gui-folder"data-title="shopping">
}

 .gui-folder .db-shopping-bag{
<iclass="db-shopping-bag"></iclass=>
}

 .gui-folder .badge-beta{
<spanclass="badge-beta">Beta</spanclass=>
}

 .gui-folder .badge-new{
<spanclass="badge-new">New</spanclass=>
}

 .gui-folder .gui-animated{
<liclass="gui-folderanimatedanimated-hidden">
}

 .gui-animated .sidebar-nav-menu{
<ahref="_blank"class="sidebar-nav-menu"onclick="returnfalse;">
}

 .gui-animated .gui-icon{
gui-icon
}

 .gui-animated .db-calendar{
<iclass="db-calendar"></iclass=>
}

 .gui-animated .title-control{
<spanclass="titletitle_controls">예약</spanclass=>
}

 .gui-folder .none{
<ulstyle="display:none;">
}

 .gui-folder .spacer{
<liclass="spacer"></liclass=>
}

 .spacer .top-menu{
<liclass="top-menu">
}

 .spacer .external-url{
<aclass="external-url"href="_blank">
}

 .spacer .gui-icon{
<divclass="gui-icon">
}

 .spacer .db-comments{
<iclass="db-comments"></iclass=>
}

 .spacer .title-control{
<spanclass="titletitle_controls">고객지원</spanclass=>
}

 .spacer .gui-folder{
<liclass="gui-folder"data-title="campus">
}

 .gui-folder .external-url{
<aclass="external-url"href="_blank"onclick="returnfalse;">
}

 .gui-folder .gui-icon{
<divclass="gui-icon">
}

 .gui-folder .db-graduation-cap{
<iclass="db-graduation-cap"></iclass=>
}

 .gui-folder .title-controls{
<spanclass="titletitle_controls">아임웹교육</spanclass=>
}

 .gui-folder .sidebar-nav-menu{
<ahref="_blank"class="sidebar-nav-menu"onclick="returnfalse;">
}

 .gui-folder .db-telescope{
<iclass="db-telescope"></iclass=>
}

 .gui-folder .badge-new{
<spanclass="badge_new">New</spanclass=>
}

 .gui-folder .nano-pane{
<divclass="nano-pane">
}

 .nano-pane .nano-slider{
<divclass="nano-slider"style="height:752px;top:35px;display:block;"></divclass=>
}

 .admin .foldarea{
<divclass="fold_areaanimate">
}

 .foldarea .tablecell{
<divclass="table-cellvertical-middle">
}

 .foldarea .iconmenu{
<ahref="_blank"class="logo_icon_menu">
}

 .foldarea .toolbtn{
<aclass="_tooltip_btnside_bar_btn"href="javascript:void(0)"role="button"id="toggle_button">
}

 .foldarea .foldbutton-left{
<spanclass="fold_buttonleft"data-trigger="hover">
}

 .foldarea .foldimg{
<svgxmlns="_blank"width="16"height="16"viewBox="001616"fill="none"></svgxmlns=>
}

 .foldarea .foldbutton-right{
<spanclass="fold_buttonright"data-toggle="tooltip"data-placement="right"data-trigger="hover">
}

 .foldarea .default{
<divclass="default">
}

 .foldarea .hover{
<divclass="hover">
}

 .foldarea .hoverimg{
<svgxmlns="_blank"width="16"height="16"viewBox="001616"fill="none"></svgxmlns=>
}

 .foldarea .modal-provider{
<divclass="_notify-modal-provider"></divclass=>
}

 .admin .modal{
<divclass="modal"id="cocoaModal"role="dialog">
}

 .modal .modal-dialog{
<divclass="modal-dialog">
}

 .modal .modal-content{
<divclass="modal-content"></divclass=>
}

 .admin .submodal{
<divclass="modalsubmodal"role="dialog"id="cocoaSubModal"style="z-index:17001;">
}

 .submodal .modal-dialog{
<divclass="modal-dialog">
}

 .submodal .modal-content{
<divclass="modal-content"></divclass=>
}

 .admin .hidden-frame{
<iframename="hidden_frame"id="hidden_frame"
style="position:absolute;left:-9999px;width:1px;height:1px;top:-9999px;"src="_blank"></iframename=>
}

 .admin .device-breakpoints{
<divid="device-breakpoints">
}

 .device-breakpoints .device-xs{
<divclass="device-xsvisible-xs"data-breakpoint="xs"></divclass=>
}

 .device-breakpoints .device-sm{
<divclass="device-smvisible-sm"data-breakpoint="sm"></divclass=>
}

 .device-breakpoints .device-md{
<divclass="device-mdvisible-md"data-breakpoint="md"></divclass=>
}

 .device-breakpoints .device-lg{
<divclass="device-lgvisible-lg"data-breakpoint="lg"></divclass=>
}

 .admin .ch-plugin{
<divid="ch-plugin"class="notranslate"style="z-index:1000">
}

 .ch-plugin .ch-plugin-entry{
<divid="ch-plugin-entry">
}

 .ch-plugin .ch-plugin-block{
<divstyle="display:block;">
}

 .ch-plugin .ch-shadow-root-wrapper{
<divid="ch-shadow-root-wrapper">
}

 .ch-plugin .Launcherstyled{
<divclass="Launcherstyled__LauncherButtonWrapper-ch-front__sc-1kx6op4-0chEByq">
}

 .ch-plugin .ChatButton{
<divclass="ChatButtonContainer__Container-ch-front__sc-qgvnh9-0cgHhTF">
}

 .ch-plugin .Launcherstyled_{
<spanclass="a11y-hidden">imweb상담버튼</spanclass=>
}

 .ch-plugin .Launcherstyled_{
<divclass="SenderButtonView__Wrapper-ch-front__sc-1aik3pi-0eFJnEc">
}
 .ch-plugin .Launcherstyled_{
<divsrc="_blank"
class="SenderButtonView__SenderAvatarBg-ch-front__sc-1aik3pi-1mVAFX"></divsrc=>
}

 .ch-plugin .Launcherstyled_{
<divdata-testid="img-custom-btn"
class="ImageCustomButtonView__Wrapper-ch-front__sc-1s91m5o-0jVTAai">
}

 .ch-plugin .Launcherstyled_{
<divsrc="_blank"
class="ImageCustomButtonView__CustomImageBg-ch-front__sc-1s91m5o-1dRQruU">
}

 .ch-plugin .Launcherstyled_{
<divclass="IconButtonView__Background-ch-front__sc-vtu014-0inQZZV">
}

 .ch-plugin .Launcherstyled_{
<svgwidth="36"height="36"color="#ffffff"></svgwidth=>
</div>
}

 .ch-plugin .Launcherstyled_{
<divclass="MinimizeButtonView__Wrapper-ch-front__sc-1idijj-0giSWOn">
}

 .ch-plugin .Launcherstyled_{
<svgxmlns="_blank"width="36"height="36"fill="none"viewBox="002424"
foundation="[objectObject]"class="Iconstyled__Icon-sc-1iqwu2g-0pJGcx"
data-testid="bezier-react-icon"color="txt-black-darker"margintop="0"
marginright="0"marginbottom="0"marginleft="0"aria-hidden="true">
}

 .ch-plugin .Launcherstyled_{
<divrole="status"aria-label=",thereareunreadmessages"
class="Badge__BaseUnreadBadge-ch-front__sc-1k3c5b2-2fOtwdyBadge__PcUnreadBadge-ch-front__sc-1k3c5b2-3jrJXOx">
}

 .ch-plugin .Launcherstyled_{
<divid="ch-plugin-script"style="display:none;"class="ch-messenger-hidden">
<iframeid="ch-plugin-script-iframe"title="Channelchat"
style="position:relative;height:100%;width:100%;border:none!;"src="_blank"></iframeid=>
}