li {
  list-style: none;
}

.bannerbox{
  width: 100%;
  height: 100px;
}

.banner {
  border: none;
  margin: 0 auto;
}

.banner .slide {
  max-width: 1920px;
  min-width: 600px;
  background-image: url("../../upfile/mainPage_img/mainbanner01.jpg");
  margin: 0 auto;
  height: 370px;
  position: relative;
  display: flex;
  /* 다른 요소들이 넘치면 스크롤바 생성*/
  flex-wrap: nowrap;
  overflow: hidden;
}

@media (max-width: 706px) {

  /* 화면이 706px 이하일 때 */
  .banner .slide {
    min-width: 705px;
    min-height: 500px;
    background-image: url("../../upfile/mainPage_img/mobilebanner01.jpg");
  }
}

.banner #item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%;
  /* flex-shrink: 0;을 주면 슬라이드 될때 화면 크기가 변경되지 않음 */
  flex-shrink: 0;
  /*슬라이드 변경시 애니메이션 효과*/
  transition: left 0.15s;
}

.banner #item a{
	position: relative;
	width: 50%;
	height: 100%;	
}

.banner .prev {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* 위치 설정 */
  top: calc(50% - 16px);
  width: 32px;
  height: 32px;
  border-radius: 100%;
  cursor: pointer;
  left: 5rem;
}

.banner .next {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* 위치 설정 */
  top: calc(50% - 16px);
  width: 32px;
  height: 32px;
  border-radius: 100%;
  cursor: pointer;
  right: 5rem;
}

/*이미지 넣기*/
.banner .item1 {
  width: 1250px;
  height: 370px;
  background-image: url("../../upfile/mainPage_img/mainbanner01.jpg");
}

.banner .item2 {
  width: 1250px;
  height: 370px;
  background-image: url("../../upfile/mainPage_img/mainbanner02.jpg");
}

.banner .item3 {
  width: 1250px;
  height: 370px;
  background-image: url("../../upfile/mainPage_img/mainbanner03.jpg");
}

.banner .item4 {
  width: 1250px;
  height: 370px;
  background-image: url("../../upfile/mainPage_img/mainbanner04.jpg");
}

.banner .item5 {
  width: 1250px;
  height: 370px;
  background-image: url("../../upfile/mainPage_img/mainbanner05.jpg");
}

.banner .item6 {
  width: 1250px;
  height: 370px;
  background-image: url("../../upfile/mainPage_img/mainbanner06.jpg");
}

.banner .item7 {
  width: 1250px;
  height: 370px;
  background-image: url("../../upfile/mainPage_img/mainbanner07.jpg");
}

.banner .item8 {
  width: 1250px;
  height: 370px;
  background-image: url("../../upfile/mainPage_img/mainbanner08.jpg");
}

@media (max-width: 706px) {
  /* 화면이 706px 이하일 때 */
  .banner .item1 {
    min-width: 705px;
    min-height: 500px;
    background-image: url("../../upfile/mainPage_img/mobilebanner01.jpg")
  }

  .banner .item2 {
    min-width: 705px;
    min-height: 500px;
    background-image: url("../../upfile/mainPage_img/mobilebanner02.jpg")
  }

  .banner .item3 {
    min-width: 705px;
    min-height: 500px;
    background-image: url("../../upfile/mainPage_img/mobilebanner03.jpg")
  }

  .banner .item4 {
    min-width: 705px;
    min-height: 500px;
    background-image: url("../../upfile/mainPage_img/mobilebanner04.jpg")
  }

  .banner .item5 {
    min-width: 705px;
    min-height: 500px;
    background-image: url("../../upfile/mainPage_img/mobilebanner05.jpg")
  }

  .banner .item6 {
    min-width: 705px;
    min-height: 500px;
    background-image: url("../../upfile/mainPage_img/mobilebanner06.jpg")
  }

  .banner .item7 {
    min-width: 705px;
    min-height: 500px;
    background-image: url("../../upfile/mainPage_img/mobilebanner07.jpg")
  }

  .banner .item8 {
    min-width: 705px;
    min-height: 500px;
    background-image: url("../../upfile/mainPage_img/mobilebanner08.jpg")
  }
}
/* */