li {
    list-style: none;
}


.catebutton {
    margin: 0 auto;
    max-width: 1250px;
    min-width: 600px;
    height: auto;
}

.catebutton .screen {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.catebutton .grid {
    /* 그리드 행 5개 */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

@media (min-width: 1024px) {
    /* 그래드 행 10개*/
    .catebutton .grid {
        grid-template-columns: repeat(10, 1fr);
    }
}

.catebutton .icon {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .catebutton .img:hover {
        /* 커지는 애니메이션 */
        transform: scale(1.05);
    }
}

.catebutton .img {
    border: 1px solid #e5e7eb;
    background-color: #e0e0e0;
    border-radius: 10px;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .catebutton .img {
        width: 4rem;
        height: 4rem;
    }
}

.catebutton .imgsrc {
    border: 1px solid black;
    width: 2rem;
    height: 2rem;
}

.catebutton .name {
    margin-top: 0.8rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #6B7280;
    word-break: keep-all;
}

@media (min-width: 768px) {
    .catebutton .name {
        font-size: 1.2rem;
    }
}