li {
  list-style: none;
}


.main {
  max-width: 1920px;
  min-width: 600px;
  height: auto;
  margin: 0 auto;
}

.main .screen {
  margin-bottom: 20px;
  max-width: 1920px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main .screen {
      margin-bottom: 0;
  }
}

.main .box {
  display: flex;
  flex-direction: column;
  max-width: 1250px;
  gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
}

.main .display{
  max-width: 1250px;
}

.main .screenheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main .screenheader .title {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .main .screenheader .title  {
      font-size: 2rem;
  }
}

.main .screenheader .selectBox {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  margin-right: 2rem;
  font-size: 1.3rem;
}

.main .display {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  margin: 0 auto;
  padding-bottom: 5rem;
  flex-wrap: wrap;
}

.main .contentcard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .main .contentcard {
    margin-bottom: 0.5rem;
  }
}

.main .contentcard .socialing{
  width: 571px;
  height: 176px;
}

.main .contentcard .cardlink{
  background-color: #F5F6F9;
  border-radius: 12px;
  display: flex;
  padding: 12px 10px;
  margin: 0;
  padding: 20px 16px;
}

.main .contentcard .img{
  border: 1px solid #d3d3d3;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 10px;
  position: relative;
}

@media (min-width: 768px) {
  .main .contentcard .img{
      width: 160px;
      height: 160px;
      border-radius: 16px;
      margin-right: 16px;
  }
}

.main .contentcard .info{
  display: flex;
  flex-direction: column;
  width: calc(100% - 112px);
}

@media (min-width: 768px) {
  .main .contentcard .info{
      width: calc(100% - 168px);
  }
}

.main .contentcard .subject{
  display: flex;
  margin-bottom: 5px;
}

.main .contentcard .tag{
  background-color: #dddddd;
  color: #666060;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 11px;
  text-align: center;
  padding: 4px 8px;
  letter-spacing: -.2px;
  border-radius: 10px;
  margin-right: 6px;
}

.main .contentcard .infotitle{
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -.4px;
  color: #383535;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
  font-size: 1rem;
}

.main .contentcard .describe{
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 14.4px;
  letter-spacing: -.2px;
  color: #999696;
  display: flex;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.main .contentcard .image{
  width: 12px;
  height: 12px;
  position: relative;
  margin-top: 1px;
}

.main .participant{
  display: flex;
}

.main .participant .img{
  object-fit: cover;
  width: 22px;
  height: 22px;
  margin-right: 1rem;
  border-radius: 100%;
  position: relative;
  flex-shrink: 0;
}

.main .participant .span{
  border: 3px solid rgb(255, 255, 255);
  background-color: lightblue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  margin-top: 0.2rem;
  margin-left: -7px;
  flex-shrink: 0;
}

.main .participant .cardImg{
  position: relative;
  margin-top: 1rem;
  padding: 4rem;
  border-radius: 100%;
}

.main .participant .socialmember{
  margin-left: 4.7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .participant .people{
  width: 10px;
  height: 10px;
  color: gray;
  position: relative;
}

.main .participant .count{
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -.4px;
  color: #999696;
}

@media (max-width: 767px) {
  .main .contentcard .tag {
      font-size: 1rem;
      line-height: 11px;
      padding: 4px 8px;
      border-radius: 10px;
      margin-right: 6px;
  }

  .main .contentcard .infotitle {
      font-size: 1.5rem;
      line-height: 24px;
      margin-bottom: 4px;
  }

  .main .contentcard .describe {
      font-size: 1.3rem;
      line-height: 14.4px;
      margin-bottom: 10px;
  }

  .main .contentcard .image {
      width: 15px;
      height: 15px;
  }

  .main .participant .img {
    margin-right: 2rem;
      width: 33px;
      height: 33px;
  }

    .main .participant .span{
      width: 2.5rem;
      height: 2.5rem;
      left: -8px;
  }

  .main .participant .cardImg {
      width: 22px;
      height: 22px;
  }

  .main .participant .socialmember {
      margin-left: 4.7px;
  }

  .main .participant .people {
      width: 20px;
      height: 20px;
  }

  .main .participant .count {
      font-size: 15px;
      line-height: 12px;
  }
}

@media (min-width: 768px) {
  .main .contentcard .tag {
      font-size: 1.2rem;
      line-height: 18px;
      padding: 8px 13px;
      border-radius: 10px;
  }

  .main .contentcard .infotitle {
      font-size: 1.5rem;
      line-height: 40px;
  }

  .main .contentcard .describe {
      font-size: 1.2rem;
      line-height: 24px;
  }

  .main .contentcard .image {
      width: 20px;
      height: 20px;
      margin-top: 2px;
  }

  .main .participant .img {
      border: 1px solid black;
      width: 36px;
      height: 36px;
  }

  .main .participant .span {
      width: 28px;
      height: 28px;
      left: -2px;
  }

  .main .participant .cardImg {
      width: 36px;
      height: 36px;
  }

  .main .participant .socialmember {
      margin-left: 8.12px;
  }

  .main .participant .people {
      width: 24px;
      height: 24px;
  }

  .main .participant .count {
      margin-left: 0.5rem;
      font-size: 16px;
      line-height: 19px;
  }
}

.main .plus{
  width: 575px;
  height: 50px;
  border: 1px solid #f3f3f3;
  background: #fefefe;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666060;
  margin-left: 0.5rem;
}

.main .plus .title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .plus .icon{
  border: 1px solid black;
  width: auto;
  height: auto;
  margin-left: 2px
}

@media screen and (min-width: 767px) {
  .main .plus{
    display: none;
  }
}