li {
  list-style: none;
}

.rank{
  max-width: 100vw;
  max-height: 100vh;
}

.rank .screen{
    width: 1250px;
    margin: 0 auto;
}

.rank .display{
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
}

.rank .ranktitle{
  margin-left: 3rem;
  max-width: 30rem;
}

.rank .ranktitle .name{
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}

.rank .ranktitle .text{
    font-size: 1.8rem;
}

.rank .ranklayer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
.rank .ranklayer .wrapper{
  margin-right: 5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70rem;
  height: 20rem;
  gap: 2px;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid #d4d4d4;
}

.rank .ranklayer .arank{
  text-align: center;
  width: 5rem;
  height: 5rem;
}
 
.rank .ranklayer .rankP{
  font-size: 3.5rem;
  font-weight: bold;
}

.rank .ranklayer .rankbox{
  height: 10rem;
}

.rank .ranklayer .gap{
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 4px;
}

.rank .ranklayer .container{
  background-color: #cecece;
  border-radius: 10px;
  width: 20rem;
  height: 10rem;
}

.rank .ranklayer .rankImage{
  position: relative;
  border-radius: 12px;
}

.rank .ranklayer .Image{
  border-radius: 12px;
  width: 10rem;
  height: 50rem;
}

.rank .ranklayer .img{
  /* 이미지 꽉 채움 */
  object-fit: cover;
}

.rank .ranklayer .title{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-left: 1rem;
  flex-grow: 1;
}

.rank .ranklayer .captain{
  width: 15rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.rank .ranklayer .explain{
  margin-top: 1px;
  font-size: 1.4rem;
  line-height: 1.25rem;
}

.rank .ranklayer .circle{
  height: 5rem;
  width: 5rem;
}

.rank .ranklayer .circle .graycontent{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(199, 199, 199);
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.rank .ranklayer .circle .icon{
  border: 1px solid black;
  width: 2rem;
  height: 2rem;
  color: #ffffff;
}

.rank .ranklayer .one{
  position: relative;
  display: flex;
  cursor: pointer;
  height: 5rem;
  width: 5rem;
}

.rank .ranklayer .one .graycontent{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(199, 199, 199);
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.rank .ranklayer .one .icon{
  border: 1px solid black;
  width: 2rem;
  height: 2rem;
  color: #ffffff;
}

.rank .slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70rem;
  height: auto;
  margin-right: 5rem;
  margin-bottom: 0.8rem;
  border-radius: 0.8rem;
  border: 1px solid #d4d4d4;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
}

.rank .slide .ranking{
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

.rank .slide .number{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.08em;
}

.rank .slide .fullscreen{
  margin-left: 2rem;
  width: 80%;
}

.rank .slide .items{
  display: flex;
  flex-direction: row;
}

.rank .slide .rankcontentcard{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 5rem;
  background-color: #cecece;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
}

.rank .slide .img{
  object-fit: cover;
}

.rank .slide .teacher{
  width: 80rem;
  margin-left: 1.5rem;
}

.rank .slide .tutor{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.rank .slide .class{
  margin-top: 1px;
  font-size: 1.2rem;
}

.rank .pluslink{
  width: 166px;
  margin: auto;
  margin-top: 6px;
}

.rank .pluslink .plusbutton{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: 500;
  border: 1px solid #d2d4d6;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  height: 36px;
  padding: 2rem;
  width: 100%;
  background-color: white;
}

.rank .pluslink .plusbutton:hover{
  background-color: rgb(236, 235, 235);
}

.rank .pluslink .plusicon{
  border: 1px solid black;
  margin-left: 2rem;
  width: 4px;
  height: 4px;
}

@media screen and (max-width: 1021px) {
  .rank .screen{
      width: 100%;
  }

  .rank .display{
      display: flex;
      flex-direction: column;
  }

  .rank .ranktitle{
    margin-left: 0rem;
    padding: 0;
  }

  .rank .ranktitle .name{
    font-size: 2rem;
  }

  .rank .ranktitle .text{
    font-size: 1.5rem;
  }

  .rank .ranklayer .wrapper{
    margin-top: 2rem;
    width: 100%;
    height: auto;
    padding: 2rem;
  }

  .rank .ranklayer .rankP{
    font-size: 2.5rem;
  }

  .rank .ranklayer .container{
    height: 7rem;
    width: 50%;
  }
  
  .rank .ranklayer .captain{
    font-size: 1.5rem;
  }

  .rank .ranklayer .explain{
    font-size: 1.2rem;
  }

  .rank .ranklayer .alink{
    width: 100%;
    height: auto;
  }

  .rank .ranklayer .rankbox{
    width: 100%;
    height: auto;
  }

  .rank .slide {
    width: 100%;
    height: auto;
    padding: 1rem;
  }

  .rank .slide .ranking{
    margin-left: 1rem;
  }

  .rank .slide .number{
    font-size: 1.5rem;
  }

  .rank .slide .fullscreen{
    width: 80%;
  }

  .rank .slide .class{
    width: 80%;
    word-break: break-all;
  }

  .rank .slide .one{
    margin-left: 0rem;
  }

  .rank .plusbutton{
    width: 100%;
    margin-left: 0;
  }
}