li {
  list-style: none;
}

.Subbanner {
  border: none;
  margin: 0 auto;
}

.Subbanner .slide {
  max-width: 1250px;
  min-width: 600px;
  margin: 0 auto;
  height: 150px;
  border-radius: 20px;
  background-color: rgb(255, 145, 0);
  position: relative;
  display: flex;
  /* 다른 요소들이 넘치면 스크롤바 생성*/
  flex-wrap: nowrap;
  overflow: hidden;
}

@media (max-width: 706px) {

  /* 화면이 706px 이하일 때 */
  .Subbanner .slide {
    min-width: 450px;
    min-height: 120px;
    border-radius: 10px;
  }
}

.Subbanner #item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%;
  /* flex-shrink: 0;을 주면 슬라이드 될때 화면 크기가 변경되지 않음 */
  flex-shrink: 0;
  /*슬라이드 변경시 애니메이션 효과*/
  transition: left 0.15s;
}

.Subbanner .prev {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* 위치 설정 */
  top: calc(50% - 16px);
  width: 32px;
  height: 32px;
  border-radius: 100%;
  cursor: pointer;
  left: 5rem;
}

.Subbanner .next {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* 위치 설정 */
  top: calc(50% - 16px);
  width: 32px;
  height: 32px;
  border-radius: 100%;
  cursor: pointer;
  right: 5rem;
}

/*이미지 넣기*/
.Subbanner .item1 {
  width: 1250px;
  height: 370px;
  background-image: url("../../../resources/upfile/mainPage_img/banner01.png");
}

.Subbanner .item2 {
  width: 1250px;
  height: 370px;
  background-image: url("../../../resources/upfile/mainPage_img/banner01.png");
}

.Subbanner .item3 {
  width: 1250px;
  height: 370px;
  background-image: url("../../../resources/upfile/mainPage_img/banner01.png");
}

.Subbanner .item4 {
  width: 1250px;
  height: 370px;
  background-image: url("../../../resources/upfile/mainPage_img/banner01.png");
}

.Subbanner .item5 {
  width: 1250px;
  height: 370px;
  background-image: url("../../../resources/upfile/mainPage_img/banner01.png");
}

.Subbanner .item6 {
  width: 1250px;
  height: 370px;
  background-image: url("../../../resources/upfile/mainPage_img/banner01.png");
}

.Subbanner .item7 {
  width: 1250px;
  height: 370px;
  background-image: url("../../../resources/upfile/mainPage_img/banner01.png");
}

.Subbanner .item8 {
  width: 1250px;
  height: 370px;
  background-image: url("../../../resources/upfile/mainPage_img/banner01.png");
}

@media (max-width: 706px) {
  /* 화면이 706px 이하일 때 */
  .Subbanner .item1 {
    min-width: 705px;
    min-height: 500px;
    background-image: url("../../../resources/upfile/mainPage_img/mobile01.png")
  }

  .Subbanner .item2 {
    min-width: 705px;
    min-height: 500px;
    background-image: url("../../../resources/upfile/mainPage_img/mobile01.png")
  }

  .Subbanner .item3 {
    min-width: 705px;
    min-height: 500px;
    background-image: url("../../../resources/upfile/mainPage_img/mobile01.png")
  }

  .Subbanner .item4 {
    min-width: 705px;
    min-height: 500px;
    background-image: url("../../../resources/upfile/mainPage_img/mobile01.png")
  }

  .Subbanner .item5 {
    min-width: 705px;
    min-height: 500px;
    background-image: url("../../../resources/upfile/mainPage_img/mobile01.png")
  }

  .Subbanner .item6 {
    min-width: 705px;
    min-height: 500px;
    background-image: url("../../../resources/upfile/mainPage_img/mobile01.png")
  }

  .Subbanner .item7 {
    min-width: 705px;
    min-height: 500px;
    background-image: url("../../../resources/upfile/mainPage_img/mobile01.png")
  }

  .Subbanner .item8 {
    min-width: 705px;
    min-height: 500px;
    background-image: url("../../../resources/upfile/mainPage_img/mobile01.png")
  }
}
/* */