
.vLqKYe{
    color: black;
    font-weight: 400;
}

.pdswFd {
    z-index: 3
}

.pdswFd .hdtb-mitem {
    display: inline-block
}

.cdtWk {
    display: inline-block;
    line-height: 29px
}

.Doo7xc {
    line-height: 40px;
    margin: 0 24px 0 14px
}

.Doo7xc a {
    padding: 6px 9px
}

.Doo7xc a:hover {
    background-color: #f1f3f4;
    border-radius: 12px;
    color: #202124
}

    .GLcBOb {
        font-size: 14px;
        position: relative;
    }

    .pZvJc {
        background-color: transparent;
        display: flex;
        top: 0;
        width: 100%;
        white-space: nowrap;
        top: -22px;
        height: 0;
        position: relative;
    }

    .pZvJc.jf0C1c {
        display: none
    }

    @media (min-height:576px) {
        .uSolm .qk7LXc {
            height: 100%
        }

        .uSolm {
            padding: 64px 0px
        }
    }

    @media (max-height:575px) {
        .uSolm .qk7LXc {
            height: 100%;
            max-height: 448px
        }
    }

    @media (min-height:496px) {
        .GeOznc .qk7LXc {
            height: 100%
        }

        .GeOznc {
            padding: 24px 0px
        }
    }

    @media (max-height:495px) {
        .GeOznc .qk7LXc {
            height: 100%;
            max-height: 448px
        }
    }

    .KUf18.ivkdbf {
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 1;
        visibility: inherit
    }

    .VfsLpf.ivkdbf {
        background-color: #000;
        opacity: .4;
        visibility: inherit
    }

    .J3Hnlf.ivkdbf {
        background-color: #202124;
        opacity: .7;
        visibility: inherit
    }

    .X46m8.ivkdbf {
        background-color: #000;
        opacity: .8;
        visibility: inherit
    }

    .cBoDed.ivkdbf {
        background-color: #f8f9fa;
        opacity: .85;
        visibility: inherit
    }

    .kyk7qb.ivkdbf {
        background-color: #202124;
        opacity: .6;
        visibility: inherit
    }

    .qk7LXc.ivkdbf {
        opacity: 1
    }

    .mcPPZ.ivkdbf {
        opacity: 1;
        visibility: inherit
    }

    .mcPPZ.nP0TDe {
        cursor: pointer
    }

    .mcPPZ.nP0TDe .qk7LXc {
        cursor: default
    }

    .kJFf0c {
        position: fixed;
        z-index: 9997;
        right: 0;
        bottom: -200px;
        top: 0;
        left: 0;
        transition: opacity .25s;
        opacity: 0;
        visibility: hidden
    }

    .qk7LXc {
        display: inline-block;
        z-index: 9997;
        background-color: #fff;
        opacity: 0;
        white-space: normal;
        overflow: hidden
    }

    .qk7LXc {
        border-radius: 8px
    }

    .qk7LXc {
        box-shadow: 0px 5px 26px 0px rgba(0, 0, 0, 0.22), 0px 20px 28px 0px rgba(0, 0, 0, 0.3)
    }

    .qk7LXc.DJEOfc {
        background-color: transparent
    }

    .qk7LXc.DJEOfc {
        box-shadow: none
    }

    .qk7LXc.Fb1AKc {
        position: relative;
        vertical-align: middle
    }

    .qk7LXc.By9mMc {
        position: fixed
    }

    .qk7LXc.ulWzbd {
        position: absolute
    }

    .qk7LXc.P1WYLb {
        box-shadow: #dadce0
    }

    .mcPPZ {
        position: fixed;
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
        z-index: 9997;
        vertical-align: middle;
        visibility: hidden;
        white-space: nowrap;
        max-height: 100%;
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: auto
    }

    .mcPPZ.xg7rAe {
        text-align: center
    }

    .mcPPZ::after {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle
    }

    .LjfRsf {
        height: 0;
        opacity: 0;
        position: absolute;
        width: 0
    }

    .VH47ed {
        visibility: hidden
    }

    .TaoyYc {
        overflow: hidden
    }

    .qk7LXc.aJPx6e {
        overflow: visible
    }

    .vAJJzd {
        opacity: .999
    }

    .yMNJR .qk7LXc {
        max-width: 100%
    }

    .cJFqsd .qk7LXc {
        height: 100%
    }

    .rfx2Y .qk7LXc {
        width: 100%
    }

    .BhUHze .qk7LXc {
        width: 75%
    }

    .dgVGnc .qk7LXc {
        width: 90%
    }

    .gTMtLb {
        z-index: 1001;
        position: absolute;
        top: -1000px
    }

    .IiOSLb .rsGxI.Ww4FFb,
    .Ww4FFb {
        border-radius: 0px;
        border-width: 0;
        box-shadow: none
    }

    .Ww4FFb .mnr-c:not(:empty),
    .mnr-c:not(:empty) .Ww4FFb,
    .Ww4FFb .Ww4FFb {
        box-shadow: none;
        margin-bottom: 0px
    }

    .vt6azd {
        margin: 0px 0px 8px
    }

    .vt6azd {
        margin: 0px 0px 30px
    }

    .CBvvz {
        margin: -30px 0px 0px
    }

    .qGXjvb {
        margin-top: 6px
    }

    .ULSxyf {
        margin-bottom: 44px
    }

    .FcOujd .ULSxyf:first-child {
        margin-top: 44px
    }

    .g-blk {
        position: relative
    }

    .dG2XIf a {
        text-decoration: none
    }

    .dG2XIf .wDYxhc:first-child {
        padding-top: 16px;
        border-radius: 8px
    }

    .dG2XIf .match-mod-horizontal-padding,
    .dG2XIf .wDYxhc:not(.NFQFxe) {
        padding-left: 16px;
        padding-right: 16px;
    }

    .dG2XIf.c2xzTb .match-mod-horizontal-padding,
    .dG2XIf.c2xzTb .wDYxhc:not(.NFQFxe) {
        padding-left: 0;
        padding-right: 0
    }

    .dG2XIf {
        box-shadow: none;
        border: 1px solid #dadce0;
        border-radius: 8px;
    }

    .XzTjhb,
    .XzTjhb.dG2XIf {
        border: none
    }

    .kno-kp.wF4fFd.g,
    .g-blk.g {
        width: 652px
    }

    .s6JM6d .dG2XIf {
        position: relative
    }

    .dG2XIf .g:not(.g-blk) {
        margin: 0
    }

    .dG2XIf>.vk_arc,
    .dG2XIf>div>.vk_arc {
        margin: 0
    }

    .dG2XIf .g {
        margin-bottom: 0
    }

    .wDYxhc {
        clear: both
    }

    .cUnQKe .wDYxhc,
    .related-question-pair .wDYxhc,
    .M8OgIe .fm06If .wDYxhc {
        clear: none
    }

    html .dG2XIf .xpdclose .LKPcQc,
    html .dG2XIf .xpdopen .viOShc {
        padding-top: 0;
    }

    .xpdclose .a84NUc:not(:empty),
    .xpdopen .CQKTwc:not(:empty) {
        border-top: solid 1px #ebebeb;
        border-radius: 0
    }

    .xpdclose .pmYXee .a84NUc:not(:empty),
    .xpdopen .pmYXee .CQKTwc:not(:empty) {
        border-top: none
    }

    .xpdclose .TOfaBb.SHa8ve,
    .xpdopen .LL5J7d.SHa8ve {
        display: block
    }

    .xpdclose .oHglmf,
    .xpdopen .xzPb7d {
        padding-bottom: 16px
    }

    .xpdclose .kp-header .oHglmf,
    .xpdopen .kp-header .xzPb7d {
        padding-bottom: 0
    }

    .c2xzTb .xpdclose .oHglmf,
    .c2xzTb .xpdopen .xzPb7d {
        padding-bottom: 0
    }

    .HSryR .xpdclose .oHglmf,
    .HSryR .xpdopen .xzPb7d {
        padding-bottom: 0
    }

    .Wnoohf .xpdopen .yp1CPe,
    .OJXvsb .xpdclose .siXlze {
        padding-bottom: 16px
    }

    .Wnoohf .xpdclose .wDYxhc.xsZWvb,
    .Wnoohf .xpdopen .wDYxhc.EfDVh {
        padding-bottom: 0
    }

    #rhs .dG2XIf .xpdclose .LKPcQc,
    #rhs .dG2XIf .xpdopen .viOShc {
        padding-top: 0
    }

    #rhs .Wnoohf .xpdopen .yp1CPe,
    #rhs .OJXvsb .xpdclose .siXlze {
        padding-bottom: 15px
    }

    #rhs .Wnoohf .xpdclose .wDYxhc.xsZWvb,
    #rhs .Wnoohf .xpdopen .wDYxhc.EfDVh {
        padding-bottom: 0
    }

    #rhs .Wnoohf .xpdclose .wDYxhc.xsZWvb.ecRggb,
    #rhs .Wnoohf .xpdopen .wDYxhc.EfDVh.ecRggb,
    #rhs .dG2XIf .ecRggb {
        padding-bottom: 15px
    }

    .dDoNo {
        font-weight: lighter !important;
        font-size: xx-large !important;
    }

    .vk_sh {
        font-weight: lighter !important;
        font-size: medium !important;
    }

    .i4JFmd>.U48fD {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 4px
    }

    .sD9T5c {
        line-height: 1.58
    }

    .sD9T5c:focus {
        outline: none
    }

    .LorSAd {
        margin-top: 11px;
        width: 652px
    }

    .wlkW8 {
        display: flex;
        align-items: stretch;
        justify-content: space-between
    }

    .I4v0Kc {
        padding-bottom: 25px
    }

    .nRbRnb {
        flex: 50%
    }

    #knowledge-currency__updatable-chart-column {
        padding-left: 16px;
        position: relative
    }

    #knowledge-currency__updatable-data-column {
        position: relative
    }

    .EyBRub .v8MW6c {
        font-style: normal;
        right: 8px;
        position: absolute;
        font-size: 12px;
        margin-right: -8px;
    }

    .Idl6hc {
        display: flex;
        float: right;
        padding-bottom: 30px
    }

    .GOPnIc {
        display: inline-block
    }

    .c63lMc {
        padding-right: 8px
    }

    .k0Rg6d {
        margin-top: 8px
    }

    .DFlfde {
        word-break: break-all
    }

    .sD9T5c .dDoNo {
        font-size: 36px !important;
        font-weight: normal !important
    }

    .ikb4Bb {
        color: #202124;
        margin-bottom: 0
    }

    .sD9T5c .vk_sh {
        font-weight: normal !important;
        font-size: 16px !important
    }


    .B682Df {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 28px
    }

    .w5HbFd {
        display: flex;
        align-items: center;
        float: right;
        margin-left: 16px
    }

    .hqAUc {
        margin-bottom: 16px;
        font-size: 12px
    }

    .ePzRBb {
        display: flex;
        justify-content: space-between
    }

    .q0WxUd {
        margin-bottom: 14px
    }

    .ePzRBb {
        padding-bottom: 0;
        position: relative;
        width: 100%;
        top: 0
    }

    .wLNyTe {
        width: 100%;
        position: relative
    }

    .egcvbb:hover {
        border: 1px solid #202124
    }

    .egcvbb:focus-within {
        border: 2px solid #1a73e8;
        padding: 0
    }

    .egcvbb {
        padding: 1px;
        border: 1px solid #dadce0;
        overflow: hidden;
        display: flex;
        border-radius: 6px
    }

    .zuzy3c,
    .sBsFoc,
    .sBsF9c {
        font-size: 15px
    }

    .sBsFoc,
    .sBsF9c {
        padding-right: 30px;
        width: calc(100% - 30px);
        text-align: right;
    }
    
    .xNzW0d {
        flex-grow: 2
    }

    .xNzW0d {
        background-color: #fff;
        overflow: hidden;
        position: relative;
        height: 40px;
        display: inline-block
    }

    .xNzW0d:focus-within {
        background-color: #f8f9fa
    }

    .aURkK {
        border-left: 1px solid #dadce0;
        position: absolute;
        top: 8px;
        bottom: 8px;
        z-index: 3
    }

    .lWzCpb {
        background-color: #fff;
        margin: 0;
        overflow: hidden;
        text-align: left;
        line-height: 24px;
        padding: 1px 6px 1px 12px;
        font-size: 16px;
        border: 0;
        height: 40px;
        width: 100px;
    }

    .lWzCpb:focus {
        outline: none
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0
    }

    .zuzy3c,
    .sBsFoc,
    .sBsF9c {
        position: absolute;
        right: 0
    }

    .zuzy3c {
        opacity: 0;
        z-index: 1;
        line-height: 40px;
        width: 100%
    }

    .zuzy3c:focus {
        outline: none
    }

    .sBsFoc,
    .sBsF9c {
        text-align: end;
        height: 100%;
        line-height: 40px;
        word-break: break-all;
    }

    .pa8yL {
        cursor: pointer;
        vertical-align: middle
    }

    .fpNm8c {
        display: inline-block;
        position: relative
    }

    g-flat-button.rL9nrd {
        cursor: pointer;
        min-width: 0;
        margin: -4px 0;
        padding: 4px 0;
        text-align: left
    }

    g-flat-button.rL9nrd.BjhWme {
        margin: 2px 0 -2px 0
    }

    g-flat-button.XUfMUe {
        position: absolute
    }

    .MeoZxf g-flat-button.XUfMUe {
        top: 0;
        right: 0
    }

    .MeoZxf g-flat-button {
        float: right
    }

    .S1Bjic {
        margin-right: 4px
    }

    .T4joj {
        font-size: 12px;
        border-radius: 14px;
        height: 1.5em;
        line-height: 150%
    }

    .OXAInb {
        border: 1px solid;
        padding: 4px 11px 4px 7px
    }

    .dhERQc {
        color: #fff;
        padding: 5px 12px 5px 8px
    }

    g-flat-button.rL9nrd:active,
    g-flat-button.rL9nrd:hover,
    g-flat-button.rL9nrd:focus {
        background: none
    }

    .S3uNQe {
        text-transform: none;
        vertical-align: top
    }

    .C5ZtL {
        background-color: transparent;
        border: none;
        border-radius: 8px;
        border-radius: 8px;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        padding-top: 6px;
        padding-bottom: 3px;
        min-width: 88px;
        position: relative;
        text-decoration: none !important;
        -webkit-user-select: none;
        white-space: nowrap
    }

    .C5ZtL:disabled,
    .C5ZtL[disabled]:not([disabled=false]) {
        pointer-events: none
    }

    .C5ZtL.J0KQDb {
        color: #202124
    }

    .J0KQDb:hover {
        background-color: rgba(112, 117, 122, .20)
    }

    .J0KQDb:focus {
        background-color: rgba(112, 117, 122, .20)
    }

    .J0KQDb:active {
        background-color: rgba(112, 117, 122, .40)
    }

    .C5ZtL.J0KQDb:disabled,
    .C5ZtL.J0KQDb[disabled]:not([disabled=false]) {
        color: rgba(0, 0, 0, .26) !important
    }

    .C5ZtL.ybnC1:disabled,
    .C5ZtL.ybnC1[disabled]:not([disabled=false]) {
        color: rgba(255, 255, 255, .30) !important
    }

    .QcYZxe.rxyXAb {
        padding: 0;
        border-bottom: none
    }

    .QcYZxe.MeXdNd {
        margin: 0 16px
    }

    .NDTw3e {
        font-size: 13px;
        color: rgba(0, 0, 0, .62);
        display: table;
        table-layout: fixed;
        height: 32px;
        line-height: 24px;
        width: 100%
    }

    .NDTw3e.K7R36c {
        font-size: 12px;
        color: rgba(0, 0, 0, .62);
        display: table;
        table-layout: fixed;
        height: 32px;
        line-height: 24px;
        width: 100%
    }

    .qUjgX {
        display: table;
        font-weight: 500;
        margin: 0 auto;
        min-width: 24px;
        padding: 0 5px;
        text-align: center
    }

    .fw-ch-sel {
        box-shadow: 0 18px 0 -16px #000;
        color: #000;
        outline: none
    }

    .fw-ch-sel.PT927b {
        box-shadow: none;
        outline: none
    }

    .fw-ch-sel .KWk7r.qUjgX {
        background: #f8f9fa;
        border-radius: 12px;
        color: #3367d6
    }

    .PVZpFf {
        display: table-cell
    }

    .QiGJYb {
        padding: 4px 0 10px;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none
    }

    .QiGJYb:focus,
    .QiGJYb:active {
        outline: none
    }

    .knowledge-finance-wholepage-chart__fw-uch {
        position: relative;
        padding: 40px 16px 20px;
        font-size: 13px
    }

    .Lr6dtd .knowledge-finance-wholepage-chart__fw-uch {
        padding: 24px 0 0 0;
        font-size: 11px
    }

    .knowledge-finance-wholepage-chart__hover-card {
        top: 26px !important
    }

    .knowledge-finance-wholepage-chart__fw-uch .uch-svg {
        color: rgba(0, 0, 0, .54)
    }

    .knowledge-finance-wholepage-chart__fw-uch .uch-psvg {
        stroke-width: 2
    }

    .knowledge-finance-wholepage-chart__fw-uch .uch-xa span {
        visibility: hidden;
        line-height: 13px
    }

    .knowledge-finance-wholepage-chart__fw-uch .uch-xa-gl {
        stroke: #70757a;
        stroke-width: 1;
        visibility: hidden
    }

    .knowledge-finance-wholepage-chart__fw-uch .b38at {
        stroke: #f6f6f6;
        stroke-width: 1
    }

    .knowledge-finance-wholepage-chart__fw-uch:not(.kNoobe) .ZQt4G {
        stroke: #70757a
    }

    .knowledge-finance-wholepage-chart__fw-uch:not(.kNoobe) .BFMWAe {
        stroke-dasharray: 1.5, 7.5;
        stroke: rgba(0, 0, 0, .62)
    }

    .knowledge-finance-wholepage-chart__fw-uch:not(.V30e3e) .uch-path {
        margin-right: 5px !important
    }

    .knowledge-finance-wholepage-chart__fw-uch:not(.V30e3e) .uch-xa {
        margin-right: 5px !important
    }

    .knowledge-finance-wholepage-chart__hover-card {
        background-color: #fff;
        top: 0px;
        left: 0px;
        font-weight: 400;
        font-size: 12px;
        height: 28px;
        line-height: 28px;
        padding-left: 8px;
        padding-right: 8px;
        position: absolute;
        visibility: hidden;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .2), 0 1px 1px rgba(0, 0, 0, .14);
        z-index: 2;
        direction: ltr
    }

    .knowledge-finance-wholepage-chart__hover-card-time {
        color: rgba(0, 0, 0, .67)
    }

    .fw-price-dn.IsqQVc {
        color: #4285f4
    }

    .fw-price-nc.IsqQVc {
        color: rgba(0, 0, 0, .54)
    }

    .u47KMb {
        display: inline-block;
        fill: currentColor
    }

    .u47KMb svg {
        display: block;
        height: 100%;
        width: 100%
    }

    .VADlJf {
        position: relative
    }

    .uch-svg {
        position: relative
    }

    .uch-svg span {
        user-select: none
    }

    .uch-svg svg {
        height: 100%;
        width: 100%;
        overflow: visible
    }

    .yvg0ob {
        position: relative
    }

    .uch-path {
        position: relative
    }

    .uch-xa {
        position: relative
    }

    .yvg0ob span {
        position: absolute;
        white-space: nowrap
    }

    .VcfXhb,
    .iHd7Ld {
        left: 0
    }

    .WtmXeb,
    .wh9d9d {
        left: 0
    }

    .WtmXeb {
        visibility: hidden
    }

    .uch-path span {
        white-space: nowrap;
        position: absolute
    }

    .hVEUTe .R6GGdb {
        position: absolute;
    }

    .hVEUTe .R6GGdb.c5yBKf {
        position: absolute;
    }

    .hVEUTe .BZcy7 {
        position: absolute;
    }

    .uch-xa-tl {
        position: absolute;
        white-space: nowrap;
        text-align: center
    }

    .LBo7ld {
        display: table;
        width: 100%
    }

    .hqxP1,
    .gNlVbd {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        font-size: 16px;
    }

    .U48fD.TOQyFc {
        margin-top: 0
    }

    .jRKCUd::before {
        bottom: 12px;
        content: '';
        left: 16px;
        position: absolute;
        right: 16px;
        top: -4px
    }

    a.jRKCUd:hover {
        text-decoration: none
    }

    .bvSTKc {
        padding: 8px
    }

    .ZjcXTe {
        color: rgba(0, 0, 0, 0.54)
    }

    .GUHazd {
        padding-bottom: 12px
    }

    .cB4NFc {
        padding-top: 16px
    }

    .OdBhM {
        padding-top: 8px
    }

    .wok5vf {
        padding: 24px
    }

    .GmoL0c {
        margin-right: 12px
    }

    .xTWltf {
        margin-right: 24px
    }

    .Wt5Tfe {
        padding-left: 0px;
        padding-right: 0px
    }

    .eJtrMc {
        padding-bottom: 8px;
        padding-top: 8px
    }

    .zUdppc {
        padding-bottom: 4px
    }

    .TkZZsf {
        padding-bottom: 4px;
        padding-top: 4px
    }

    .MdFDgb.HUQNIe {
        color: rgba(0, 0, 0, 0.26)
    }

    .czUY2e {
        background-color: #0b57d0
    }

    .hObAcc {
        margin-left: 4px;
        margin-right: 4px
    }

    .gTewb {
        padding-left: 8px;
        padding-right: 8px
    }

    .E5IKVc {
        margin-top: 30px
    }

    .jbBItf {
        display: block;
        position: relative
    }

    .DU0NJ {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0
    }

    .lP3Jof {
        display: inline-block;
        position: relative
    }

    .RoKmhb {
        height: 100%;
        opacity: 0;
        position: absolute;
        width: 100%
    }

    .beDQP {
        display: inline-block;
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 50%
    }

    .FcXfi {
        box-sizing: border-box;
        height: 100%;
        left: 45%;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 10%
    }

    .SPKFmc {
        border-radius: 50%;
        border: 3px solid transparent;
        box-sizing: border-box
    }

    .x3SdXd {
        width: 200%
    }

    .J7uuUe {
        transform: rotate(129deg)
    }

    .sDPIC {
        left: -100%;
        transform: rotate(-129deg)
    }

    .tS3P5 {
        left: -450%;
        width: 1000%
    }

    .VQdeab .SPKFmc {
        border-color: #4285f4
    }

    .IEqiAf .SPKFmc {
        border-color: #ea4335
    }

    .smocse .SPKFmc {
        border-color: #fbbc04
    }

    .FlKbCe .SPKFmc {
        border-color: #34a853
    }

    .RoKmhb .J7uuUe {
        border-bottom-color: transparent;
        border-right-color: transparent
    }

    .RoKmhb .sDPIC {
        border-bottom-color: transparent;
        border-left-color: transparent
    }

    .RoKmhb .tS3P5 {
        border-bottom-color: transparent
    }

    .BSnLb .nNMuOd .tS3P5 {
        border-bottom-color: transparent
    }
