#payment_use_social {
    background-color: #70c9a0;
    padding: 0 8px;
    border-radius: 10px;
    margin: 0 5px;
}

#payment_use_challenge {
    background-color: #9bcfff;
    padding: 0 8px;
    border-radius: 10px;
    margin: 0 5px;
}