* {
    box-sizing: border-box;
}

/* 마이페이지 전체 */
.MyPage-body{
    box-sizing: border-box;
    position: relative;
    width: 1250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
/* 좌측 */
.mypage-main{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.user-profile{
    box-sizing: border-box;
    width: 330px;
    height: 200px;
    background-color: #D9D9D9;
    border-radius: 15px;
    padding: 3%;
}

.box{
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.box1 {
    box-sizing: border-box;
    width: 91px;
    height: 91px; 
    border-radius: 70%;
    overflow: hidden;
}
.profile {
    width: 91px;
    height: 91px;
    object-fit: cover;
}
.account{
    box-sizing: border-box;
    padding-left: 20px;
    line-height: 0.5em;
}

.account>p {
    font-size: larger;
    font-weight: bolder;
}
.point{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    align-items: center;
}
.point>button{
    border-style: none;
    width: 72px;
    height: 30px;
    border-radius: 10px;
    background-color: #F0E3CE;
    font-weight: 700;
    box-shadow: 2px 2px 2px black;
    transition-duration: 0.1s;
    cursor: pointer;
}

button:active{
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: none;
}

.manner{
    box-sizing: border-box;
    margin: 20px 0px;
    width: 100%;
    display: flex;
    align-items: center;
}
.manner>img{
    margin-right: 5px;
}
.manner>p{
    font-weight: bolder;
}


#progress {
    appearance: none;
    margin-left: 10px;
}
#progress::-webkit-progress-bar {
    background:#f0f0f0;
    border-radius:10px;
    box-shadow: inset 3px 3px 10px #fffdfd;
}
#progress::-webkit-progress-value {
    border-radius:10px;
    background: #F08A8A;
    /* background: -webkit-linear-gradient(to right, #93F9B9, #1D976C); */
    /* background: linear-gradient(to right, #93F9B9, #1D976C); */

}

/* 네비 메뉴바 */
.mypage-navi{
    box-sizing: content-box;
}

nav{
    /* border: 1px solid blue; */
    box-sizing: border-box;
    margin-top: 20px;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    /* background-color: #f1f1f1; */
    position: relative;
    height: 100%;
    overflow: auto;
}

li {
    list-style: none;
    line-height: 34px;
}

ul li a {
display: block;
color: #000;
height: 50px;
padding: 8px 16px;
text-decoration: none;
align-content: center;
justify-content: space-between;
}

ul li a.active {
background-color: #555;
color: white;
}

ul li a:hover:not(.active) {
background-color: #7a7a7a;
color: white;
}

.snd_menu { background: #efefef; }
.sub_menu { display: none; }

.snd_title{
    padding-left: 30px;
}


.main-content{
box-sizing: border-box;
border: 2px solid #D9D9D9;
width: 905px;
height: 100%;
border-radius: 15px;
padding: 50px;
}

hr{
    margin: 0;
}
.content-title{
    width: 170px;
}
.main-object{
    display: flex;
    align-items: center;
    margin: 15px 0px;
}

.club-content{
    width: 125px;
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    cursor: pointer;
}
.club-img img{
    box-sizing: border-box;
    border-radius: 15px;
}
.club-title{
    box-sizing: border-box;
    display: inline-block;
    width: 125px;
    padding: 10px;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.box{
    width: 180px;
}

.textbox{
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #8d8d8d;
    width: 100%;
    height: 30px;
}

.change>input{
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    background-color: #F28C8C;
    color: #ffffff;
    padding: 0px 20px ;
    height: 30px;
    margin: 30px;
}

.introduce{
    display: flex;
    flex-direction: row-reverse;
}

textarea{
    resize: none;
}

.edit-user{
    display: flex;
    flex-direction:row;
    justify-content: end;
}

.edit-user a{
    margin-inline-start: 30px;
    margin-top: 20px;
}

.title{
    display: flex;
    align-items: flex-end;
}
.title>h1{
    width: 400px;
}
.title>h3{
    width: 300px;
    margin: 20px;
}
.binbox{
    width: 100%;
}
.title-select{
    display: flex;
    align-items: flex-end;
    margin: 20px 0px;
}

select{
    border: 1px solid #8d8d8d;
    border-radius: 5px;
    width: 65px;
    height: 30px;
}

option{
    border: 1px solid #8d8d8d;
    border-radius: 5px;
}

.main-content-head{
    display: flex;
    align-items: baseline;
}
.pointBox{
    width: 670px;
    height: 300px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 50px;
    margin: 0 auto;
}
.pointBox-head{
    display: flex;
    align-items: center;
}
.pointBox-mid{
    display: flex;
    align-items: center;
    justify-content: right;
}
.point-level{
    font-size: 40px;
    font-weight: 700;
}
.pointBox-foot{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.pointBox-foot > button{
    font-weight: 600;
}
.pointBox-foot > button:hover{
    cursor: pointer;
}
.chargeBtn{
    width: 220px;
    height: 60px;
    border: none;
    border-radius: 15px;
    font-size: 24px;
    background-color: #F0E3CE;
}
.withdrawBtn{
    width: 220px;
    height: 60px;
    border: none;
    border-radius: 15px;
    font-size: 24px;
    background-color: #70C9A0;
}
.currentHistory{
    width: 760px;
    margin: auto;
    border: none;
    background-color: #ECECEC;
    padding: 50px;
    border-radius: 20px;
}
.dateArea{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.chargeArea{
    font-size: 24px;
    padding: 30px 0;
}
.useArea{
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.area-left{
    float: left;
}
.area-right{
    float: right;
}
.modal-footer{
    margin: auto;
    width: 100%;
    margin-top: 20px;
}
.modal-footer > button{
    background-color: #9BCFFF;
    border: none;
}
.modal-footer > button:hover{
    background-color: #9BCFFF;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.modal-content{
    padding: 20px;
    border-radius: 10px;
}
.modal-body{
    padding: 20px;
}
.modal-body > label{
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 10px;
}
#directAmount{
    margin-left: 20px;
    width: 85%;
    border: 1px solid darkgray;
    border-radius: 5px;
    box-shadow: 1px 2px 3px darkgray;
    padding-left: 10px;
}
#directAmount:focus{
    outline: none;
}
.modal-footer{
    display: flex;
    justify-content: center;
}
.modal-footer > button{
    width: 70%;
}
.body-row1{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 50px;
}
.body-row2{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
}
#point-input{
    width: 100%;
    border: 1px solid darkgray;
    border-radius: 5px;
    box-shadow: 1px 2px 3px darkgray;
    padding-left: 10px;
}
#point-input:focus{
    outline: none;
}
.point-opt{
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
/* profile modal */
.profile-modal-content{
    background-color: #F3F3F3;
    padding: 30px;
    padding-top: 0;
    border-radius: 10px;
}
.profile-modal-header{
    border: none;
    padding-bottom: 30px;
}
.m-userProfile{
    font-size: 24px;
}
.m-profileImg{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 20px;
}
.profile-modal-body{
    border-bottom: 2px solid darkgray;
    padding-top: 0;
}
.m-manner{
    display: flex;
    align-items: center;
    margin: 30px 10px;
}
.m-manner > img{
    width: 70px;
    transform: rotate(120deg);
    margin-right: 30px;
}
.m-score-range{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15px;
}
.m-manner-area{
    display: flex;
}
.m-manner-score-area{
    margin-left: 10px;
}
.m-manner-score{
    width: 170px;
    height: 10px;
    background-color: #F48E8E;
    border-radius: 5px;
}
.profile-modal-bottom{
    margin-top: 10px;
}
.m-introduction{
    resize: none;
    width: 430px;
    height: 100px;
    border: none;
    border-radius: 15px;
    padding: 20px;
    background-color: #F0E3CE;
}
.m-introduction:focus{
    outline: none;
    border: none;
}