* {
    box-sizing: border-box;
}

hr{
    margin: 0;
}
.content-title{
    width: 170px;
}
.main-object{
    display: flex;
    align-items: center;
    margin: 15px 0px;
}

.club-content{
    width: 125px;
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    cursor: pointer;
}
.club-img img{
    box-sizing: border-box;
    border-radius: 15px;
}
.club-title{
    box-sizing: border-box;
    display: inline-block;
    width: 125px;
    padding: 10px;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.box{
    width: 180px;
}

.textbox{
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #8d8d8d;
    width: 100%;
    height: 30px;
}

.change>input{
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    background-color: #F28C8C;
    color: #ffffff;
    padding: 0px 20px ;
    height: 30px;
    margin: 30px;
}

.introduce{
    display: flex;
    flex-direction: row-reverse;
}

textarea{
    resize: none;
}

.edit-user{
    display: flex;
    flex-direction:row;
    justify-content: end;
}

.edit-user a{
    margin-inline-start: 30px;
    margin-top: 20px;
}

.title{
    display: flex;
    align-items: flex-end;
}
.title>h1{
    width: 400px;
}
.title>h3{
    width: 300px;
    margin: 20px;
}
.binbox{
    width: 100%;
}
.title-select{
    display: flex;
    align-items: flex-end;
    margin: 20px 0px;
}

select{
    border: 1px solid #8d8d8d;
    border-radius: 5px;
    width: 65px;
    height: 30px;
}

option{
    border: 1px solid #8d8d8d;
    border-radius: 5px;
}

.main-content-head{
    display: flex;
    align-items: baseline;
}
.pointBox{
    width: 670px;
    height: 300px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 50px;
    margin: 0 auto;
}
.pointBox-head{
    display: flex;
    align-items: center;
}
.pointBox-mid{
    display: flex;
    align-items: center;
    justify-content: right;
}
.point-level{
    font-size: 40px;
    font-weight: 700;
}
.pointBox-foot{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.pointBox-foot > button{
    font-weight: 600;
}
.pointBox-foot > button:hover{
    cursor: pointer;
}
.chargeBtn{
    width: 220px;
    height: 60px;
    border: none;
    border-radius: 15px;
    font-size: 24px;
    background-color: #F0E3CE;
}
.withdrawBtn{
    width: 220px;
    height: 60px;
    border: none;
    border-radius: 15px;
    font-size: 24px;
    background-color: #70C9A0;
}
.currentHistory{
    width: 760px;
    margin: auto;
    border: none;
    background-color: #ECECEC;
    padding: 25px 50px 50px 50px;
    border-radius: 20px;
}
.dateArea{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.chargeArea{
    font-size: 24px;
    padding: 30px 0;
}
.useArea{
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.area-left{
    float: left;
}
.area-right{
    float: right;
}
.modal-footer{
    margin: auto;
    width: 100%;
    margin-top: 20px;
}
.modal-footer > button{
    background-color: #9BCFFF;
    border: none;
}
.modal-footer > button:hover{
    background-color: #9BCFFF;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.modal-content{
    padding: 20px;
    border-radius: 10px;
}
.modal-body{
    padding: 20px;
}
.modal-body > label{
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 10px;
}
#directAmount{
    margin-left: 20px;
    width: 85%;
    border: 1px solid darkgray;
    border-radius: 5px;
    box-shadow: 1px 2px 3px darkgray;
    padding-left: 10px;
}
#directAmount:focus{
    outline: none;
}
.modal-footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.modal-footer > button{
    width: 70%;
}
.body-row1{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 50px;
}
.body-row2{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
}
#point-input{
    width: 100%;
    border: 1px solid darkgray;
    border-radius: 5px;
    box-shadow: 1px 2px 3px darkgray;
    padding-left: 10px;
}
#point-input:focus{
    outline: none;
}
.point-opt{
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
/* profile modal */
.profile-modal-content{
    background-color: #F3F3F3;
    padding: 30px;
    padding-top: 0;
    border-radius: 10px;
}
.profile-modal-header{
    border: none;
    padding-bottom: 30px;
}
.m-userProfile{
    font-size: 24px;
}
.m-profileImg{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 20px;
}
.profile-modal-body{
    border-bottom: 2px solid darkgray;
    padding-top: 0;
}
.m-manner{
    display: flex;
    align-items: center;
    margin: 30px 10px;
}
.m-manner > img{
    width: 70px;
    transform: rotate(120deg);
    margin-right: 30px;
}
.m-score-range{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15px;
}
.m-manner-area{
    display: flex;
}
.m-manner-score-area{
    margin-left: 10px;
}
.m-manner-score{
    width: 170px;
    height: 10px;
    background-color: #F48E8E;
    border-radius: 5px;
}
.profile-modal-bottom{
    margin-top: 10px;
}
.m-introduction{
    resize: none;
    width: 430px;
    height: 100px;
    border: none;
    border-radius: 15px;
    padding: 20px;
    background-color: #F0E3CE;
}
.m-introduction:focus{
    outline: none;
    border: none;
}

#modal_pay_img {
    display: flex;
}

#modal_pay_img img {
    cursor: pointer;
}