#contentBox button{
    font-family: 'Noto Sans KR';
}
*{
    box-sizing: border-box;
}
#contentBox{
    border: 1px solid #F6EEE2;
    width: 900px;
    padding: 10px 30px;
    margin: auto;
}
.clubList{
    width: 85%;
    margin: auto;
    margin-bottom: 50px;
}
.titlePart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.title{
    font-size: 20px;
    display: flex;
}
.ing{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 30px;
    border: 2px solid #14A307;
    border-radius: 5px;
    color: #14A307;
}
.done{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 30px;
    border: 2px solid #FFB800;
    border-radius: 5px;
    color: #FFB800;
}
.clubRequest > div{
    border-radius: 5px;
}
.selectedClubRequest{
    display: none;
    border: none;
    background-color: #F6EEE2;
    padding: 20px;
}
.clubRequest-head{
    border: 1px solid #D9D9D9;
    padding: 20px;
}
.profileImg{
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.userId{
    font-size: 20px;
}
.writeTime{
    font-size: 12px;
    color: #545454;
}
.reduceBtn{
    background-color: white;
    border: none;
    font-size: 20px;
    margin-left: 15px;
}
.simpleInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.simpleInfoLeft{
    display: flex;
    align-items: center;
    justify-content: left;
}
.simpleInfoRight{
    display: flex;
    align-items: center;
    justify-content: right;
}
.detail{
	border: none;
	background-color: transparent;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR';
    font-size: 14px;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
}
.denyBtn{
    border: none;
    background-color: #F28C8C;
    width: 70px;
    height: 30px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}
.acceptBtn{
    border: none;
    background-color: #7CCDA6;
    width: 70px;
    height: 30px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}
.acceptedBtn{
    border: none;
    background-color: #7CCDA6;
    width: 100px;
    height: 30px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    margin-right: 30px;
}
.deniedBtn{
    border: none;
    background-color: #F28C8C;
    width: 100px;
    height: 30px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    margin-right: 30px;
}
.status_w{
    width: 30px;
    margin-left: 10px;
    color: #FFB800;
}
.status_a{
    width: 25px;
    margin-left: 10px;
}
.status_d{
    width: 20px;
    margin-left: 10px;
    background-color: none;
}
button:hover{
    cursor: pointer;
}
.acceptedBtn:hover{
    cursor: not-allowed;
}
.deniedBtn:hover{
    cursor: not-allowed;
}
/* profile modal */
.profile-modal-content{
    background-color: #F3F3F3;
    padding: 30px;
    padding-top: 0;
    border-radius: 10px;
}
.profile-modal-header{
    border: none;
    padding-bottom: 30px;
}
.m-userProfile{
    font-size: 24px;
}
.m-profileImg{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 20px;
}
.profile-modal-body{
    border-bottom: 2px solid darkgray;
    padding-top: 0;
}
.m-manner{
    display: flex;
    align-items: center;
    margin: 30px 10px;
}
.m-manner > img{
    width: 70px;
    transform: rotate(120deg);
    margin-right: 30px;
}
.m-score-range{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15px;
}
.m-manner-area{
    display: flex;
}
.m-manner-score-area{
    margin-left: 10px;
}
.m-manner-score{
    width: 170px;
    height: 10px;
    background-color: #F48E8E;
    border-radius: 5px;
}
.profile-modal-bottom{
    margin-top: 10px;
}
.m-introduction{
    resize: none;
    width: 430px;
    height: 100px;
    border: none;
    border-radius: 15px;
    padding: 20px;
    background-color: #F0E3CE;
}
.m-introduction:focus{
    outline: none;
    border: none;
}
.rotated {
    /* transform: rotate(180deg); */
    transform: rotateX( 180deg );
    transition: transform 0.5s ease;
}
.rerotated {
    /* transform: rotate(180deg); */
    transform: rotateX( 360deg );
    transition: transform 0.5s ease;
}