<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace: 해당 mapper파일의 고유한 별칭 -->
<mapper namespace="adminMapper">
	<resultMap type="Club" id="clubResult">
		<result column="CLUB_NO" property="clubNo" />
		<result column="USER_NO" property="userNo" />
		<result column="CLUB_TITLE" property="clubTitle" />
		<result column="CLUB_TYPE" property="clubType" />
		<result column="CLUB_CONTENT" property="clubContent" />
		<result column="ADDRESS" property="address" />
		<result column="ADDRESS_DETAIL" property="addressDetail" />
		<result column="EVENT_DATE" property="eventDate" />
		<result column="COST" property="cost" />
		<result column="COST_INFO" property="costInfo" />
		<result column="TOTAL_POINT" property="totalPoint" />
		<result column="CAPACITY" property="capacity" />
		<result column="ONLINE" property="online" />
		<result column="QUESTION" property="question" />
		<result column="THUMBNAIL_IMG" property="thumbnailImg" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="MODIFY_DATE" property="modifyDate" />
		<result column="STATUS" property="status" />
		<result column="COUNT" property="count" />
		<result column="CATEGORY_NAME1" property="categoryName1" />
		<result column="CATEGORY_NAME2" property="categoryName2" />
	</resultMap>

	<resultMap type="Notice" id="noticeResult">
		<result column="NOTICE_NO" property="noticeNo" />
		<result column="NOTICE_TITLE" property="noticeTitle" />
		<result column="NOTICE_TYPE" property="noticeType" />
		<result column="USER_NO" property="userNo" />
		<result column="NOTICE_CONTENT" property="noticeContent" />
		<result column="COUNT" property="count" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="MODIFY_DATE" property="modifyDate" />
		<result column="STATUS" property="status" />
		 <result column="request_status" property="request_status" />
		 <result column="BANNER_PATH" property="bannerPath"/>
		 <result column="Banner" property="banner"/>
	</resultMap>

	<resultMap type="Request" id="requestResult">
		<result column="REQUEST_NO" property="requestNo" />
		<result column="USER_NO" property="userNo" />
		<result column="CLUB_NO" property="clubNo" />
		<result column="ANSWER" property="answer" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="STATUS" property="status" />
	</resultMap>

	<resultMap type="Member" id="memberResult">
		<result column="USER_NO" property="userNo" />
		<result column="USER_ID" property="userId" />
		<result column="USER_PWD" property="userPwd" />
		<result column="USER_NAME" property="userName" />
		<result column="GENDER" property="gender" />
		<result column="NICKNAME" property="nickname" />
		<result column="BIRTH" property="birth" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="MODIFY_DATE" property="modifyDate" />
		<result column="INTRODUCE" property="introduce" />
		<result column="PROFILE_IMG" property="profileImg" />
		<result column="POINT" property="point" />
		<result column="STATUS" property="status" />
		<result column="ADMIN" property="admin" />
	</resultMap>
	
	<resultMap type="ChatRoom" id="chatRoomResult">
		<result column="CHAT_NO" property="chatNo"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="CLUB_NO" property="clubNo"/>
		<result column="MASTER_NO" property="masterNo"/>
		<result column="LAST_MESSAGE" property="lastMessage"/>
		<result column="TARGET_NO" property="targetNo"/>
		<result column="TARGET_NICKNAME" property="targetNickname"/>
		<result column="TARGET_PROFILE" property="targetProfile"/>
		<result column="NOT_READ_COUNT" property="notReadCount"/>
		<result column="ROOM_TITLE" property="roomTitle"/>
	</resultMap>
	
	<resultMap type="Message" id="messageResult">
		<result column="MESSAGE_NO" property="messageNo"/>
		<result column="MESSAGE_CONTENT" property="messageContent"/>
		<result column="SEND_TIME" property="sendTime"/>
		<result column="SENDER_NO" property="senderNo"/>
		<result column="CHATROOM_NO" property="chatroomNo"/>
		<result column="TARGET_NO" property="targetNo"/>
	</resultMap>
	
<!-- psql에서 user_no like 절을 쓰려면 
	user_no는 bigint 형태기 때문에
	cast를 사용하여 문자열로 변환해야한다 -->
	
	<update id="increaseCount">
		UPDATE CLUB
		SET COUNT = COUNT + 1
		WHERE
		CLUB_NO = #{cno}
		AND STATUS = 'Y';
	</update>


	<!-- adminClub -->
	<select id="MemberList" resultMap="memberResult">
		SELECT USER_NO,
		NICKNAME,
		INTRODUCE,
		PROFILE_IMG
		FROM public.MEMBER
		JOIN public.REQUEST USING (USER_NO);
	</select>

	<select id="getClubList" resultType="int">
		SELECT COUNT(*)
		FROM CLUB;
	</select>
	
	<!-- 전체 -->
	<select id="adminClub" resultMap="clubResult">
		SELECT CLUB.CLUB_NO,
			CLUB.USER_NO,
			CLUB_TITLE,
			CLUB_TYPE,
			CLUB_CONTENT,
			ADDRESS,
			ADDRESS_DETAIL,
			EVENT_DATE,
			COST,
			COST_INFO,
			TOTAL_POINT,
			CAPACITY,
			ONLINE,
			QUESTION,
			THUMBNAIL_IMG,
			CLUB.CREATE_DATE,
			CLUB.MODIFY_DATE,
			COUNT,
			CLUB.STATUS,
			NICKNAME,
			category_name1,
			category_name2,
			NICKNAME,
			category_name1,
			category_name2
		    FROM public.CLUB
	    join MEMBER ON CLUB.USER_NO = MEMBER.USER_NO
	    Order by CLUB.CLUB_NO DESC;
	</select>
	
	<!-- 전체 -->
	<select id="adminNotice" resultMap="noticeResult">
		SELECT *
		FROM NOTICE N
		JOIN MEMBER USING (USER_NO)
		Order by NOTICE_NO DESC;
	</select>
	
	<!-- 전체 -->
	<select id="adminMember" resultMap="memberResult">
		SELECT *
		FROM MEMBER
		WHERE ADMIN = 'N'
		Order by USER_NO DESC;
	</select>
	
	<!-- 전체 -->
	<select id="selectClublist" resultMap="clubResult">
		SELECT CLUB.CLUB_NO,
			CLUB.USER_NO,
			CLUB_TITLE,
			CLUB_TYPE,
			CLUB_CONTENT,
			ADDRESS,
			ADDRESS_DETAIL,
			EVENT_DATE,
			COST,
			COST_INFO,
			TOTAL_POINT,
			CAPACITY,
			ONLINE,
			QUESTION,
			THUMBNAIL_IMG,
			CLUB.CREATE_DATE,
			CLUB.MODIFY_DATE,
			COUNT,
			CLUB.STATUS,
			NICKNAME,
			category_name1,
			category_name2,
			NICKNAME,
			category_name1,
			category_name2
		    FROM public.CLUB
	    join MEMBER ON CLUB.USER_NO = MEMBER.USER_NO
	    Order by CLUB.CLUB_NO ${sortType};
	</select>
	
	<select id="selectClubSearchlist" resultMap="clubResult">
		SELECT CLUB.CLUB_NO,
        CLUB.USER_NO,
        CLUB_TITLE,
        CLUB_TYPE,
        CLUB_CONTENT,
        ADDRESS,
        ADDRESS_DETAIL,
        EVENT_DATE,
        COST,
        COST_INFO,
        TOTAL_POINT,
        CAPACITY,
        ONLINE,
        QUESTION,
        THUMBNAIL_IMG,
        CLUB.CREATE_DATE,
        CLUB.MODIFY_DATE,
        COUNT,
        CLUB.STATUS,
        NICKNAME,
        category_name1,
        category_name2,
        NICKNAME,
        category_name1,
        category_name2
        FROM public.CLUB
    join MEMBER ON CLUB.USER_NO = MEMBER.USER_NO
    WHERE (CAST(CLUB_NO AS TEXT) LIKE '%' || #{keyword} || '%' 
        OR  CLUB_TITLE LIKE '%' || #{keyword} || '%' 
        OR category_name1 LIKE '%' || #{keyword} || '%' 
        OR category_name2 LIKE '%' || #{keyword} || '%')
    Order by CLUB.CLUB_NO ${sortType};
	</select>
	
	<!-- 진행중 -->
	<select id="selectClubProcess" resultMap="clubResult">
		SELECT CLUB.CLUB_NO,
			CLUB.USER_NO,
			CLUB_TITLE,
			CLUB_TYPE,
			CLUB_CONTENT,
			ADDRESS,
			ADDRESS_DETAIL,
			EVENT_DATE,
			COST,
			COST_INFO,
			TOTAL_POINT,
			CAPACITY,
			ONLINE,
			QUESTION,
			THUMBNAIL_IMG,
			CLUB.CREATE_DATE,
			CLUB.MODIFY_DATE,
			COUNT,
	        CLUB.STATUS,
			NICKNAME,
			category_name1,
			category_name2
    FROM public.CLUB
    join MEMBER ON CLUB.USER_NO = MEMBER.USER_NO
    WHERE CLUB.STATUS = 'Y'
    Order by CLUB.CLUB_NO ${sortType};
	</select>
	
	<select id="selectClubSearchProcess" resultMap="clubResult">
		SELECT CLUB.CLUB_NO,
			CLUB.USER_NO,
			CLUB_TITLE,
			CLUB_TYPE,
			CLUB_CONTENT,
			ADDRESS,
			ADDRESS_DETAIL,
			EVENT_DATE,
			COST,
			COST_INFO,
			TOTAL_POINT,
			CAPACITY,
			ONLINE,
			QUESTION,
			THUMBNAIL_IMG,
			CLUB.CREATE_DATE,
			CLUB.MODIFY_DATE,
			COUNT,
	        CLUB.STATUS,
			NICKNAME,
			category_name1,
			category_name2
    FROM public.CLUB
    join MEMBER ON CLUB.USER_NO = MEMBER.USER_NO
    WHERE CLUB.STATUS = 'Y'
   		AND (CAST(CLUB_NO AS TEXT) LIKE '%' || #{keyword} || '%' 
        OR  CLUB_TITLE LIKE '%' || #{keyword} || '%' 
        OR category_name1 LIKE '%' || #{keyword} || '%' 
        OR category_name2 LIKE '%' || #{keyword} || '%')
    Order by CLUB.CLUB_NO ${sortType};
	</select>
	
	<!-- 숨김 -->
	<select id="selectClubHidden" resultMap="clubResult">
		SELECT CLUB.CLUB_NO,
			CLUB.USER_NO,
			CLUB_TITLE,
			CLUB_TYPE,
			CLUB_CONTENT,
			ADDRESS,
			ADDRESS_DETAIL,
			EVENT_DATE,
			COST,
			COST_INFO,
			TOTAL_POINT,
			CAPACITY,
			ONLINE,
			QUESTION,
			THUMBNAIL_IMG,
			CLUB.CREATE_DATE,
			CLUB.MODIFY_DATE,
			COUNT,
	        CLUB.STATUS,
			NICKNAME,
			category_name1,
			category_name2
    FROM public.CLUB
    join MEMBER ON CLUB.USER_NO = MEMBER.USER_NO
    WHERE CLUB.STATUS = 'H'
    Order by CLUB.CLUB_NO ${sortType};
	</select>
	
	<select id="selectClubSearchHidden" resultMap="clubResult">
		SELECT CLUB.CLUB_NO,
			CLUB.USER_NO,
			CLUB_TITLE,
			CLUB_TYPE,
			CLUB_CONTENT,
			ADDRESS,
			ADDRESS_DETAIL,
			EVENT_DATE,
			COST,
			COST_INFO,
			TOTAL_POINT,
			CAPACITY,
			ONLINE,
			QUESTION,
			THUMBNAIL_IMG,
			CLUB.CREATE_DATE,
			CLUB.MODIFY_DATE,
			COUNT,
	        CLUB.STATUS,
			NICKNAME,
			category_name1,
			category_name2
    FROM public.CLUB
    join MEMBER ON CLUB.USER_NO = MEMBER.USER_NO
    WHERE CLUB.STATUS = 'H'
   		AND (CAST(CLUB_NO AS TEXT) LIKE '%' || #{keyword} || '%' 
        OR  CLUB_TITLE LIKE '%' || #{keyword} || '%' 
        OR category_name1 LIKE '%' || #{keyword} || '%' 
        OR category_name2 LIKE '%' || #{keyword} || '%')
    Order by CLUB.CLUB_NO ${sortType};
	</select>
	
	<!-- 종료됨 -->
	<select id="selectClubEnd" resultMap="clubResult">
		SELECT CLUB.CLUB_NO,
			CLUB.USER_NO,
			CLUB_TITLE,
			CLUB_TYPE,
			CLUB_CONTENT,
			ADDRESS,
			ADDRESS_DETAIL,
			EVENT_DATE,
			COST,
			COST_INFO,
			TOTAL_POINT,
			CAPACITY,
			ONLINE,
			QUESTION,
			THUMBNAIL_IMG,
			CLUB.CREATE_DATE,
			CLUB.MODIFY_DATE,
			COUNT,
	        CLUB.STATUS,
			NICKNAME,
			category_name1,
			category_name2
    FROM public.CLUB
    join MEMBER ON CLUB.USER_NO = MEMBER.USER_NO
    WHERE CLUB.STATUS = 'E'
    Order by CLUB.CLUB_NO ${sortType};
	</select>
	
	<select id="selectClubSearchEnd" resultMap="clubResult">
		SELECT CLUB.CLUB_NO,
			CLUB.USER_NO,
			CLUB_TITLE,
			CLUB_TYPE,
			CLUB_CONTENT,
			ADDRESS,
			ADDRESS_DETAIL,
			EVENT_DATE,
			COST,
			COST_INFO,
			TOTAL_POINT,
			CAPACITY,
			ONLINE,
			QUESTION,
			THUMBNAIL_IMG,
			CLUB.CREATE_DATE,
			CLUB.MODIFY_DATE,
			COUNT,
	        CLUB.STATUS,
			NICKNAME,
			category_name1,
			category_name2
    FROM public.CLUB
    join MEMBER ON CLUB.USER_NO = MEMBER.USER_NO
    WHERE CLUB.STATUS = 'E'
       	AND (CAST(CLUB_NO AS TEXT) LIKE '%' || #{keyword} || '%' 
        OR  CLUB_TITLE LIKE '%' || #{keyword} || '%' 
        OR category_name1 LIKE '%' || #{keyword} || '%' 
        OR category_name2 LIKE '%' || #{keyword} || '%')
    Order by CLUB.CLUB_NO ${sortType};
	</select>
	
	<!-- club status 변경 -->
	<update id="clubChangeStatus">
    UPDATE CLUB
	    SET STATUS = #{status}
	    WHERE CLUB.CLUB_NO = #{clubNo};
	</update>

	<!-- adminUserlist -->
	<select id="getMemberlist" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE ADMIN = 'N';
	</select>
	
	<!-- 전체 -->
	<select id="MemberAll" resultMap="memberResult">
		SELECT *
		FROM MEMBER
		WHERE ADMIN = 'N'
		Order by USER_NO ${sortType};
	</select>
	
	<select id="MemberSearchAll" resultMap="memberResult">
		SELECT *
		FROM MEMBER
		WHERE ADMIN = 'N'
			AND (NICKNAME LIKE '%' || #{keyword} || '%' 
			OR USER_ID LIKE '%' || #{keyword} || '%'
			OR CAST(USER_NO AS TEXT) LIKE '%' || #{keyword} || '%')
		Order by USER_NO ${sortType};
	</select>
	
	<!-- 진행중 -->
	<select id="MemberActive" resultMap="memberResult">
		SELECT *
		FROM MEMBER
		WHERE ADMIN = 'N'
		AND STATUS = 'Y'
		Order by USER_NO ${sortType};
	</select>
	
	<select id="MemberSearchActive" resultMap="memberResult">
		SELECT *
		FROM MEMBER
		WHERE ADMIN = 'N'
		AND STATUS = 'Y'
			AND (NICKNAME LIKE '%' || #{keyword} || '%' 
			OR USER_ID LIKE '%' || #{keyword} || '%'
			OR CAST(USER_NO AS TEXT) LIKE '%' || #{keyword} || '%')
		Order by USER_NO ${sortType};
	</select>
	
	<!-- 숨김 -->
	<select id="MemberHidden" resultMap="memberResult">
		SELECT *
		FROM MEMBER
		WHERE ADMIN = 'N'
		AND STATUS = 'H'
		Order by USER_NO ${sortType};
	</select>
	
	<select id="MemberSearchHidden" resultMap="memberResult">
		SELECT *
		FROM MEMBER
		WHERE ADMIN = 'N'
		AND STATUS = 'H'
			AND (NICKNAME LIKE '%' || #{keyword} || '%' 
			OR USER_ID LIKE '%' || #{keyword} || '%'
			OR CAST(USER_NO AS TEXT) LIKE '%' || #{keyword} || '%')
		Order by USER_NO ${sortType};
	</select>
	
	<!-- 종료 -->
	<select id="MemberEnd" resultMap="memberResult">
		SELECT *
		FROM MEMBER
		WHERE ADMIN = 'N'
		AND STATUS = 'N'
		Order by USER_NO ${sortType};
	</select>
	
	<select id="MemberSearchEnd" resultMap="memberResult">
		SELECT *
		FROM MEMBER
		WHERE ADMIN = 'N'
		AND STATUS = 'N'
			AND (NICKNAME LIKE '%' || #{keyword} || '%' 
			OR USER_ID LIKE '%' || #{keyword} || '%'
			OR CAST(USER_NO AS TEXT) LIKE '%' || #{keyword} || '%')
		Order by USER_NO ${sortType};
	</select>
	
	<!-- 숨김 처리 -->
	<update id="userChangeStatus">
    UPDATE MEMBER
	    SET STATUS = #{status}
	    WHERE MEMBER.USER_NO = #{userNo};
	</update>
	
	<select id="getManagerlist" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE ADMIN = 'Y';
	</select>
	
	<!-- insertManager -->
	<select id="insertManagerList" resultMap="memberResult">
		SELECT *
		FROM MEMBER
		WHERE ADMIN = 'N' AND STATUS = 'Y'
		Order by USER_NO ${sortType};
	</select>
	
	<!-- insertManager검색 -->
	<select id="insertManagerSearchList" resultMap="memberResult">
		SELECT *
		FROM MEMBER
		WHERE ADMIN = 'N' AND STATUS = 'Y'
			AND (NICKNAME LIKE '%' || #{keyword} || '%' 
			OR USER_ID LIKE '%' || #{keyword} || '%'
			OR CAST(USER_NO AS TEXT) LIKE '%' || #{keyword} || '%')
		Order by USER_NO ${sortType};
	</select>
	
	<!-- 권한 박탈 -->
	<update id="adminstatusAjax">
    UPDATE MEMBER
	    SET ADMIN = #{admin}
	    WHERE MEMBER.USER_NO = #{userNo};
	</update>
	
	<!-- 전체 -->
	<select id="ManagerAll" resultMap="memberResult">
		SELECT *
		FROM MEMBER
		WHERE ADMIN = 'Y'
		Order by USER_NO ${sortType};
	</select>
	
	<select id="ManagerSearchAll" resultMap="memberResult">
		SELECT *
		FROM MEMBER
		WHERE ADMIN = 'Y'
			AND (NICKNAME LIKE '%' || #{keyword} || '%' 
			OR USER_ID LIKE '%' || #{keyword} || '%'
			OR CAST(USER_NO AS TEXT) LIKE '%' || #{keyword} || '%')
		Order by USER_NO ${sortType};
	</select>
	
	<!-- 공지사항 -->
	<select id="getNoticeCount" resultType="int">
		SELECT COUNT(*)
		FROM NOTICE;
	</select>
	
	<!-- 전체 -->
	<select id="getNoticeAll" resultMap="noticeResult">
		SELECT *
		FROM NOTICE N
		JOIN MEMBER USING (USER_NO)
		Order by NOTICE_NO ${sortType};
	</select>
	
	<select id="getNoticeSearchAll" resultMap="noticeResult">
		SELECT *
		FROM NOTICE N
		JOIN MEMBER USING (USER_NO)
		WHERE CAST(NOTICE_NO AS TEXT) LIKE '%' || #{keyword} || '%' 
				OR NOTICE_TITLE LIKE '%' || #{keyword} || '%'
		Order by NOTICE_NO ${sortType};
	</select>
		
	<!-- 이벤트 -->
	<select id="getNoticeEvent" resultMap="noticeResult">
		SELECT *
		FROM NOTICE N
		JOIN MEMBER USING (USER_NO)
		WHERE NOTICE_TYPE = '이벤트'
		Order by NOTICE_NO ${sortType};
	</select>
	
	<select id="getNoticeSearchEvent" resultMap="noticeResult">
		SELECT *
		FROM NOTICE N
		JOIN MEMBER USING (USER_NO)
		WHERE NOTICE_TYPE = '이벤트'
			AND (CAST(NOTICE_NO AS TEXT) LIKE '%' || #{keyword} || '%' 
			OR NOTICE_TITLE LIKE '%' || #{keyword} || '%')
		Order by NOTICE_NO ${sortType};
	</select>
	
	<!-- 공지사항 -->
	<select id="getNoticeBoard" resultMap="noticeResult">
		SELECT *
		FROM NOTICE N
		JOIN MEMBER USING (USER_NO)
		WHERE NOTICE_TYPE = '공지'
		Order by NOTICE_NO ${sortType};
	</select>
	
	<select id="getNoticeSearchBoard" resultMap="noticeResult">
		SELECT *
		FROM NOTICE N
		JOIN MEMBER USING (USER_NO)
		WHERE NOTICE_TYPE = '공지'
			AND (CAST(NOTICE_NO AS TEXT) LIKE '%' || #{keyword} || '%' 
			OR NOTICE_TITLE LIKE '%' || #{keyword} || '%')
		Order by NOTICE_NO ${sortType};
	</select>
	
	<!-- 배너 -->
	<select id="getNoticeBanner" resultMap="noticeResult">
		SELECT *
		FROM NOTICE N
		JOIN MEMBER USING (USER_NO)
		WHERE NOTICE_TYPE = '이벤트' AND BANNER = 'Y' AND BANNER_PATH IS NOT NULL
		Order by NOTICE_NO DESC;
	</select>
	
	<update id="eventStatusAjax">
    UPDATE NOTICE
	    SET Banner = #{banner}
	    WHERE NOTICE.notice_no = #{noticeNo};
	</update>
	
	<!-- 채팅 -->
	<update id="chatStatus">
	    UPDATE CHAT_ROOM
	    SET status = #{status}
	    WHERE chat_no = #{chatNo};
	</update>
</mapper>