<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace: 해당 mapper파일의 고유한 별칭 -->
<mapper namespace="adminMapper"> 
	<resultMap type="Club" id="clubResult">
		<result column="CLUB_NO" property="clubNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="CLUB_TITLE" property="clubTitle"/>
		<result column="CLUB_TYPE" property="clubType"/>
		<result column="CLUB_CONTENT" property="clubContent"/>
		<result column="ADDRESS" property="address"/>
		<result column="ADDRESS_DETAIL" property="addressDetail"/>
		<result column="EVENT_DATE" property="eventDate"/>
		<result column="COST" property="cost"/>
		<result column="COST_INFO" property="costInfo"/>
		<result column="TOTAL_POINT" property="totalPoint"/>
		<result column="CAPACITY" property="capacity"/>
		<result column="ONLINE" property="online"/>
		<result column="QUESTION" property="question"/>
		<result column="THUMBNAIL_IMG" property="thumbnailImg"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="STATUS" property="status"/>
		<result column="COUNT" property="count"/>
		<result column="CATEGORY_NAME1" property="categoryName1"/>
		<result column="CATEGORY_NAME2" property="categoryName2"/>
	</resultMap>
	
	<resultMap type="ClubReview" id="clubReviewResult">
		<result column="CLUB_REVIEW_NO" property="clubReviewNo"/>
		<result column="REVIEW_CONTENT" property="reviewContent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="GRADE" property="grade"/>
		<result column="STATUS" property="status"/>
		<result column="CLUB_NO" property="clubNo"/>
		<result column="USER_NO" property="userNo"/>
	</resultMap>
	
	<resultMap type="Request" id="requestResult">
		<result column="REQUEST_NO" property="requestNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="CLUB_NO" property="clubNo"/>
		<result column="ANSWER" property="answer"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	
	<resultMap type="Member" id="memberResult">
		<result column="USER_NO" property="userNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="USER_PWD" property="userPwd"/>
		<result column="USER_NAME" property="userName"/>
		<result column="GENDER" property="gender"/>
		<result column="NICKNAME" property="nickname"/>
		<result column="BIRTH" property="birth"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="INTRODUCE" property="introduce"/>
		<result column="PROFILE_IMG" property="profileImg"/>
		<result column="POINT" property="point"/>
		<result column="STATUS" property="status"/>
		<result column="ADMIN" property="admin"/>
	</resultMap>
	
	<update id="increaseCount">
		UPDATE CLUB 
		SET COUNT = COUNT + 1
		WHERE
			CLUB_NO = #{cno}
			AND STATUS = 'Y';
	</update>
	
	<!-- adminClub -->
	<select id="getClubList" resultType="int">
		    SELECT COUNT(*)
		      FROM CLUB;
	</select>
	
		<select id="selectClublist" resultMap="clubResult">
		SELECT CLUB_NO,
			   USER_NO,
			   CLUB_TITLE,
			   CLUB_TYPE,
			   CLUB_CONTENT,
			   ADDRESS,
			   ADDRESS_DETAIL,
			   EVENT_DATE, 
			   COST,
			   COST_INFO, 
			   TOTAL_POINT, 
			   CAPACITY, 
			   ONLINE,
			   QUESTION,
			   THUMBNAIL_IMG,
			   CREATE_DATE,
			   CLUB.MODIFY_DATE,
			   COUNT,
			   CLUB.STATUS,
			   NICKNAME,
			   category_name1,
			   category_name2
	FROM public.CLUB
	join MEMBER USING (USER_NO)
	Order by CLUB_NO DESC;
	</select>
	
	<select id="MemberList" resultMap="memberResult">
		SELECT USER_NO,
			   NICKNAME,
			   INTRODUCE,
			   PROFILE_IMG
		FROM public.MEMBER 
		JOIN public.REQUEST USING (USER_NO);
	</select>
	
	<!-- adminUserlist -->
	<select id="getUserAllList" resultMap="memberResult">
		SELECT *
		FROM MEMBER
		WHERE ADMIN = 'N'
		Order by USER_NO DESC;
	</select>
	
	<select id="getUserlist" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE ADMIN = 'N';
	</select>
	
	<!--  adminManager -->
		<select id="getManagerAllList" resultMap="memberResult">
		SELECT *
		FROM MEMBER
		WHERE ADMIN = 'Y'
		Order by USER_NO DESC;
	</select>
	
	<select id="getManagerlist" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE ADMIN = 'Y';
	</select>
</mapper>