<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="boardMapper"> 
	<resultMap type="Notice" id="noticeResult">
		<result column="NOTICE_NO" property="noticeNo"/>
		<result column="NOTICE_TITLE" property="noticeTitle"/>
		<result column="NOTICE_TYPE" property="noticeType"/>
		<result column="USER_NO" property="userNo"/>
		<result column="NOTICE_CONTENT" property="noticeContent"/>
		<result column="COUNT" property="count"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	<resultMap type="NoticeReply" id="noticeReplyResult">
		<result column="REPLY_NO" property="replyNo"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="STATUS" property="status"/>
		<result column="NOTICE_NO" property="noticeNo"/>
		<result column="USER_NO" property="userNo"/>
	</resultMap>
	
	<select id="selectNoticeListCount" resultType="_int">
		SELECT COUNT(*)
		FROM NOTICE
		WHERE STATUS = 'Y'
	</select>
	
	<select id="selectNoticeList" resultMap="noticeResult">
		SELECT  NOTICE_NO,
	    		NOTICE_TITLE,
	    		NOTICE_TYPE,
	   			USER_NO,
				COUNT,
				N.MODIFY_DATE,
				NICKNAME
		FROM NOTICE N
		JOIN MEMBER USING (USER_NO)
		WHERE N.STATUS = 'Y'
		ORDER BY NOTICE_NO DESC
	</select>
	
	<update id="increaseCount">
		UPDATE NOTICE 
		SET COUNT = COUNT + 1
		WHERE
			NOTICE_NO = #{nno}
			AND STATUS = 'Y'
	</update>
	
	<select id="selectNotice" resultMap="noticeResult">
		SELECT  NOTICE_NO,
	    		NOTICE_TITLE,
	    		NOTICE_TYPE,
	    		NOTICE_CONTENT,
	   			USER_NO,
				COUNT,
				N.MODIFY_DATE,
				NICKNAME
		FROM NOTICE N
		JOIN MEMBER USING (USER_NO)
		WHERE N.STATUS = 'Y'
			AND NOTICE_NO = #{nno};
	</select>
	
	<select id="replyListCount" resultType="_int">
		SELECT COUNT(*)
		FROM NOTICE_REPLY
		WHERE STATUS = 'Y'
			AND NOTICE_NO = #{nno};
	</select>
	
	<select id="selectNoticeReplyList" resultMap="noticeReplyResult">
		SELECT  reply_no,
	    		reply_content,
	    		nr.modify_date,
	   			user_no,
	   			nr.notice_no,
				nickname
		FROM notice_reply nr
		JOIN member USING (user_no)
		WHERE nr.status = 'Y'
			AND notice_no = #{nno}
		ORDER BY reply_no DESC
	</select>
	
	<insert id="insertNotice">
		INSERT INTO notice (
				notice_no,
				notice_title,
				notice_type,
				user_no,
				notice_content
				)
		VALUES (
				NEXTVAL('SEQ_NNO'),
				#{noticeTitle},
				#{noticeType},
				#{userNo},
				#{noticeContent}
				)
	</insert>
	
	<update id="updateNotice">
		UPDATE notice 
			SET notice_title = '${noticeTitle}',
				notice_type = '${noticeType}',
				notice_content = '${noticeContent}',
				modify_date = CURRENT_DATE
		WHERE notice_no = ${noticeNo}
	</update>
	
	<update id="deleteNotice">
		UPDATE notice 
			SET STATUS = 'N'
		WHERE notice_no = #{nno}
	</update>
	
	<insert id="insertNoticeReply">
		INSERT INTO NOTICE_REPLY(
			REPLY_NO,
		    REPLY_CONTENT,
		    NOTICE_NO,
			USER_NO
		)
		VALUES(
			NEXTVAL('SEQ_NRNO'),
		    #{replyContent},
		    #{noticeNo},
		    #{userNo}
		)
	</insert>
	
	<update id="deleteNoticeReply">
		UPDATE NOTICE_REPLY 
			SET STATUS = 'N'
		WHERE REPLY_NO = ${rno}
	</update>
</mapper>