<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="attachmentMapper"> 
	<resultMap type="Attachment" id="attachmentResult">
		<result column="FILE_NO" property="fileNo"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="FILE_PATH" property="filePath"/>
		<result column="UPLOAD_DATE" property="uploadDate"/>
		<result column="FILE_LEVEL" property="fileLevel"/>
		<result column="STATUS" property="status"/>
		<result column="REF_CLUB_NO" property="refClubNo"/>
		<result column="REF_NOTICE_NO" property="refNoticeNo"/>
		<result column="REF_USER_NO" property="refUserNo"/>
	</resultMap>
	
	<insert id="insertAttachment">
		INSERT INTO attachment (
								file_no,
								origin_name,
								change_name,
								file_path,
								file_level,
								ref_club_no)
						VALUES (
								NEXTVAL('SEQ_ATNO'),
								#{originName},
								#{changeName},
								#{filePath},
								#{fileLevel},
								CURRVAL('SEQ_CNO'));
	</insert>
</mapper>