<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace: 해당 mapper파일의 고유한 별칭 -->
<mapper namespace="categoryMapper"> 
	<resultMap type="Category" id="categoryResult">
		<result column="category_no" property="categoryNo"/>
		<result column="category_name" property="categoryName"/>
	</resultMap>
	
	<select id="selectCategory">
		select category_name from CLUB_CATEGORY
		join club on (category_no = category2_no) 
		where club_no = #{cno}
	</select>
	
</mapper>