<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="challengeMapper"> 
	<resultMap type="Challenge" id="challengeResult">
		<result column="CHALLENGE_NO" property="challengeNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="CLUB_NO" property="clubNo"/>
		<result column="DETAIL_DATE" property="detailDate"/>
		<result column="DAILY_STATUS" property="dailyStatus"/>
		<result column="STATUS" property="status"/>
		<result column="MASTER_NO" property="masterNo"/>
	</resultMap>
	
	<insert id="insertChallenge">
		INSERT INTO CHALLENGE (
								challenge_no,
								user_no,
								club_no,
								detail_date,
								daily_status,
								master_no)
					   VALUES (
								NEXTVAL('SEQ_CHNO'),
								#{userNo},
								#{clubNo},
								#{detailDate},
								#{dailyStatus},
								#{masterNo});
	</insert>
	
	<select id="getMemberStatusForDate" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT CHALLENGE_NO,
		       USER_NO,
		       CLUB_NO,
		       DETAIL_DATE,
		       DAILY_STATUS,
		       STATUS,
		       MASTER_NO
		  FROM CHALLENGE
		 WHERE CLUB_NO = #{cno}
		   AND DETAIL_DATE = #{challengeDateTimestamp}
	</select>
	
	<select id="selectChallengeCount" resultType="int" parameterType="Challenge">
		SELECT COUNT(*)
		  FROM CHALLENGE
		 WHERE USER_NO = #{userNo}
		   AND CLUB_NO = #{clubNo}
		   AND DETAIL_DATE = #{detailDate}
		   AND DAILY_STATUS = #{dailyStatus}
	</select>
	
	<update id="finishClubChallenge">
		UPDATE CHALLENGE
		   SET STATUS = 'E'
		 WHERE CLUB_NO = #{cno}
		   AND STATUS = 'Y'
	</update>
	
	<update id="cancleFinishClubChallenge">
		UPDATE CHALLENGE
		   SET STATUS = 'Y'
		 WHERE CLUB_NO = #{cno}
		   AND STATUS = 'E'
	</update>
	
	<select id="selectSuccessedUserList" resultMap="challengeResult">
		SELECT DISTINCT USER_NO
		  FROM CHALLENGE c1
		 WHERE CLUB_NO = #{cno}
		   AND DAILY_STATUS = 'Y'
		   AND NOT EXISTS (
		   	 SELECT 1
		   	   FROM CHALLENGE c2
		   	  WHERE c2.USER_NO = c1.USER_NO
		   	    AND c2.CLUB_NO = #{cno}
		   	    AND c2.DAILY_STATUS = 'N'
		   )
	</select>
</mapper>