<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="chatMapper"> 
	<resultMap type="ChatRoom" id="chatRoomResult">
		<result column="CHAT_NO" property="chatNo"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="CLUB_NO" property="clubNo"/>
		<result column="MASTER_NO" property="masterNo"/>
		<result column="LAST_MESSAGE" property="lastMessage"/>
		<result column="TARGET_NO" property="targetNo"/>
		<result column="TARGET_NICKNAME" property="targetNickname"/>
		<result column="TARGET_PROFILE" property="targetProfile"/>
		<result column="NOT_READ_COUNT" property="notReadCount"/>
		<result column="ROOM_TITLE" property="roomTitle"/>
	</resultMap>
	
	<resultMap type="Message" id="messageResult">
		<result column="MESSAGE_NO" property="messageNo"/>
		<result column="MESSAGE_CONTENT" property="messageContent"/>
		<result column="SEND_TIME" property="sendTime"/>
		<result column="SENDER_NO" property="senderNo"/>
		<result column="CHATROOM_NO" property="chatroomNo"/>
		<result column="TARGET_NO" property="targetNo"/>
	</resultMap>
	
	<resultMap type="Member" id="memberResult">
		<result column="NICKNAME" property="nickname"/>
		<result column="PROFILE_IMG" property="profileImg"/>
	</resultMap>
	
	<!-- 채팅방 목록 조회 -->
	<select id="selectRoomList" resultMap="chatRoomResult">
		SELECT 
		    R.CHAT_NO,
		    (SELECT MESSAGE_CONTENT 
		     FROM MESSAGE M2 
		     WHERE M2.CHATROOM_NO = R.CHAT_NO 
		     ORDER BY MESSAGE_NO DESC 
		     LIMIT 1) AS LAST_MESSAGE,
		    TO_CHAR(COALESCE(
		        (SELECT MAX(SEND_TIME) 
		         FROM MESSAGE M 
		         WHERE R.CHAT_NO = M.CHATROOM_NO
		         LIMIT 1), 
		        R.CREATE_DATE), 'YYYY.MM.DD') AS SEND_TIME,
		    COALESCE(
		        CAST((SELECT MASTER_NO 
		              FROM CHAT_ROOM R2 
		              WHERE R2.CHAT_NO = R.CHAT_NO 
		              AND R2.MASTER_NO = #{userNo}
		              LIMIT 1) AS bigint), 
		        R.TARGET_NO, 
		        R.MASTER_NO) AS TARGET_NO,
		    COALESCE(
		        CAST((SELECT MASTER_NO 
		              FROM CHAT_ROOM R2 
		              WHERE R2.CHAT_NO = R.CHAT_NO 
		              AND R2.MASTER_NO = #{userNo}
		              LIMIT 1) AS text), 
		        (SELECT NICKNAME 
		         FROM MEMBER 
		         WHERE USER_NO = R.TARGET_NO
		         LIMIT 1), 
		        (SELECT NICKNAME 
		         FROM MEMBER 
		         WHERE USER_NO = R.MASTER_NO
		         LIMIT 1)) AS TARGET_NICKNAME,
		    COALESCE(
		        CAST((SELECT MASTER_NO 
		              FROM CHAT_ROOM R2 
		              WHERE R2.CHAT_NO = R.CHAT_NO 
		              AND R2.MASTER_NO = #{userNo}
		              LIMIT 1) AS text), 
		        (SELECT PROFILE_IMG 
		         FROM MEMBER 
		         WHERE USER_NO = R.TARGET_NO
		         LIMIT 1), 
		        (SELECT PROFILE_IMG 
		         FROM MEMBER 
		         WHERE USER_NO = R.MASTER_NO
		         LIMIT 1)) AS TARGET_PROFILE,
		    (SELECT COUNT(*) 
		     FROM MESSAGE M 
		     WHERE M.CHATROOM_NO = R.CHAT_NO 
		     AND SENDER_NO != #{userNo}) AS NOT_READ_COUNT,
		    (SELECT MAX(MESSAGE_NO) 
		     FROM MESSAGE M 
		     WHERE R.CHAT_NO = M.CHATROOM_NO) AS MAX_MESSAGE_NO,
		     C.CLUB_TITLE AS ROOM_TITLE
		FROM CHAT_ROOM R
		LEFT JOIN CLUB C ON C.CLUB_NO = R.CLUB_NO
		WHERE R.MASTER_NO = #{userNo} OR R.TARGET_NO = #{userNo}
		  AND R.MASTER_NO != 1
		ORDER BY MAX_MESSAGE_NO DESC NULLS LAST;
	</select>
	
	<!-- 채팅 확인 -->
	<select id="checkChattingNo" resultType="_int">
		SELECT COALESCE(SUM(CHAT_NO), 0) AS CHAT_NO 
		FROM CHAT_ROOM
		WHERE (MASTER_NO = #{loginUserNo} AND TARGET_NO = #{targetNo})
		   OR (MASTER_NO = #{targetNo} AND TARGET_NO = #{loginUserNo});
	</select>
	
	<!-- 채팅 메시지 삽입 -->
	<insert id="insertMessage">
		INSERT INTO MESSAGE (MESSAGE_NO, 
				 			MESSAGE_CONTENT, 
				 			<!-- READ_FL,  -->
				 			SEND_TIME, 
				 			SENDER_NO, 
				 			CHATROOM_NO,
				 			TARGET_NO)
		VALUES (NEXTVAL('SEQ_MNO'), 
				#{messageContent}, 
				<!-- DEFAULT,  -->
				#{sendTime}, 
				#{senderNo}, 
				#{chatroomNo},
				#{targetNo});
    </insert>
   
    <!-- 채팅방 메시지 조회 -->
    <select id="selectMessageList" resultMap="messageResult">
		SELECT
		    MESSAGE_NO,
		    MESSAGE_CONTENT,
		    <!-- READ_FL, -->
		    SENDER_NO,
		    CHATROOM_NO,
		    TO_CHAR(SEND_TIME, 'YYYY-MM-DD HH24:MI:SS') AS SEND_TIME,
		    M.NICKNAME AS NICK
		FROM MESSAGE S
		LEFT JOIN MEMBER M ON M.USER_NO = S.SENDER_NO
		WHERE CHATROOM_NO = #{chattingNo}
		ORDER BY MESSAGE_NO;
    </select>
    
    <select id="selectChatRoomByNo" resultMap="chatRoomResult">
    	SELECT CHAT_NO,
    		   CREATE_DATE,
    		   CLUB_NO,
    		   MASTER_NO,
    		   TARGET_NO
    	  FROM CHAT_ROOM
    	 WHERE CHAT_NO = #{cno};
    </select>
    
    <select id="selectAdminChatList" resultMap="chatRoomResult">
    	SELECT CHAT_NO,
    		   CREATE_DATE,
    		   TARGET_NO,
    		   TARGET_NICKNAME,
    		   TARGET_PROFILE,
    		   ROOM_TITLE
    	  FROM CHAT_ROOM
    	 WHERE MASTER_NO = #{adminUno};
    </select>
    
	<!-- 채팅 메시지 중 내가 보내지 않은 글을 읽음으로 표시 -->
<!-- 	<update id="updateReadFlag">
		UPDATE MESSAGE 
		SET READ_FL = 'Y'
		WHERE CHATROOM_NO = #{chattingNo}
		  AND SENDER_NO != #{userNo};
	</update> -->
</mapper>