<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace: 해당 mapper파일의 고유한 별칭 -->
<mapper namespace="clubMapper"> 
	<resultMap type="Club" id="clubResult">
		<result column="CLUB_NO" property="clubNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="CLUB_TITLE" property="clubTitle"/>
		<result column="CLUB_TYPE" property="clubType"/>
		<result column="CLUB_CONTENT" property="clubContent"/>
		<result column="CATEGORY1_NO" property="category1No"/>
		<result column="CATEGORY2_NO" property="category2No"/>
		<result column="ADDRESS" property="address"/>
		<result column="ADDRESS_DETAIL" property="addressDetail"/>
		<result column="EVENT_DATE" property="eventDate"/>
		<result column="COST" property="cost"/>
		<result column="COST_INFO" property="costInfo"/>
		<result column="TOTAL_POINT" property="totalPoint"/>
		<result column="CAPACITY" property="capacity"/>
		<result column="ONLINE" property="online"/>
		<result column="QUESTION" property="question"/>
		<result column="THUMBNAIL_IMG" property="thumbnailImg"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="STATUS" property="status"/>
		<result column="COUNT" property="count"/>
	</resultMap>
	<resultMap type="ClubReview" id="clubReviewResult">
		<result column="CLUB_REVIEW_NO" property="clubReviewNo"/>
		<result column="REVIEW_CONTENT" property="reviewContent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="GRADE" property="grade"/>
		<result column="STATUS" property="status"/>
		<result column="CLUB_NO" property="clubNo"/>
		<result column="USER_NO" property="userNo"/>
	</resultMap>
	
	<update id="increaseCount">
		UPDATE CLUB 
		SET COUNT = COUNT + 1
		WHERE
			CLUB_NO = #{cno}
			AND STATUS = 'Y';
	</update>
	
	<select id="selectClub" resultMap="clubResult" >
		SELECT CLUB_NO,
			   USER_NO,
			   CLUB_TITLE,
			   CLUB_TYPE,
			   CLUB_CONTENT,
			   ADDRESS,
			   ADDRESS_DETAIL,
			   EVENT_DATE, 
			   COST,
			   COST_INFO, 
			   TOTAL_POINT, 
			   CAPACITY, 
			   ONLINE,
			   QUESTION,
			   THUMBNAIL_IMG,
			   CREATE_DATE,
			   CLUB.MODIFY_DATE,
			   COUNT,
			   NICKNAME,
			   category_name1,
			   category_name2
	FROM public.CLUB
		join MEMBER USING (USER_NO)
	WHERE public.CLUB.STATUS = 'Y'
		AND CLUB_NO = #{cno};
	</select>
	
	<select id="listReview" resultMap="clubReviewResult">
		SELECT CLUB_REVIEW_NO,
			   REVIEW_CONTENT,
			   CR.MODIFY_DATE,
			   GRADE,
			   NICKNAME
		FROM CLUB_REVIEW CR
		JOIN MEMBER USING (USER_NO)
		WHERE CR.STATUS = 'Y'
			AND CLUB_NO = #{cno}; 
			   
			   
	</select>
	
</mapper>