<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace: 해당 mapper파일의 고유한 별칭 -->
<mapper namespace="clubMapper"> 
	<resultMap type="Club" id="clubResult">
		<result column="CLUB_NO" property="clubNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="CLUB_TITLE" property="clubTitle"/>
		<result column="CLUB_TYPE" property="clubType"/>
		<result column="CLUB_CONTENT" property="clubContent"/>
		<result column="ADDRESS" property="address"/>
		<result column="ADDRESS_DETAIL" property="addressDetail"/>
		<result column="EVENT_DATE" property="eventDate"/>
		<result column="COST" property="cost"/>
		<result column="COST_INFO" property="costInfo"/>
		<result column="TOTAL_POINT" property="totalPoint"/>
		<result column="CAPACITY" property="capacity"/>
		<result column="ONLINE" property="online"/>
		<result column="QUESTION" property="question"/>
		<result column="THUMBNAIL_IMG" property="thumbnailImg"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="STATUS" property="status"/>
		<result column="COUNT" property="count"/>
		<result column="CATEGORY_NAME1" property="categoryName1"/>
		<result column="CATEGORY_NAME2" property="categoryName2"/>
	</resultMap>
	
	<update id="increaseCount">
		UPDATE CLUB 
		SET COUNT = COUNT + 1
		WHERE
			CLUB_NO = #{cno}
			AND STATUS = 'Y';
	</update>
	
	<select id="selectClub" resultMap="clubResult" >
		SELECT CLUB_NO,
			   USER_NO,
			   CLUB_TITLE,
			   CLUB_TYPE,
			   CLUB_CONTENT,
			   ADDRESS,
			   ADDRESS_DETAIL,
			   EVENT_DATE, 
			   COST,
			   COST_INFO, 
			   TOTAL_POINT, 
			   CAPACITY, 
			   ONLINE,
			   QUESTION,
			   THUMBNAIL_IMG,
			   CREATE_DATE,
			   CLUB.MODIFY_DATE,
			   COUNT,
			   NICKNAME,
			   category_name1,
			   category_name2
	FROM public.CLUB
		join MEMBER USING (USER_NO)
	WHERE public.CLUB.STATUS = 'Y'
		AND CLUB_NO = #{cno};
	</select>
	
	<insert id="insertClub">
		INSERT INTO
			club(
					club_no,
					user_no,
					club_title,
					club_type,
					club_content,
					address,
					address_detail,
					event_date,
					cost,
					cost_info,
					capacity,
					online,
					question,
					thumbnail_img,
					category_name1,
					category_name2)
			VALUES (
					NEXTVAL('SEQ_CNO'), 
					#{userNo},
					#{clubTitle},
					#{clubType},
					<!-- #{clubContent}, -->
					"글 내용",
					#{address},
					#{addressDetail},
					#{eventDate},
					#{cost},
					#{costInfo},
					#{capacity},
					#{online},
					#{question},
					#{thumbnailImg},
					#{categoryName1},
					#{categoryName2});
	</insert>
</mapper>