<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="eventMapper"> 
	<resultMap type="Club" id="clubResult">
		<result column="CLUB_NO" property="clubNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="CLUB_TITLE" property="clubTitle"/>
		<result column="CLUB_TYPE" property="clubType"/>
		<result column="CLUB_CONTENT" property="clubContent"/>
		<result column="ADDRESS" property="address"/>
		<result column="ADDRESS_DETAIL" property="addressDetail"/>
		<result column="EVENT_DATE" property="eventDate"/>
		<result column="COST" property="cost"/>
		<result column="COST_INFO" property="costInfo"/>
		<result column="TOTAL_POINT" property="totalPoint"/>
		<result column="CAPACITY" property="capacity"/>
		<result column="ONLINE" property="online"/>
		<result column="QUESTION" property="question"/>
		<result column="THUMBNAIL_IMG" property="thumbnailImg"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="STATUS" property="status"/>
		<result column="COUNT" property="count"/>
		<result column="CATEGORY_NAME1" property="categoryName1"/>
		<result column="CATEGORY_NAME2" property="categoryName2"/>
	</resultMap>

	<resultMap type="Member" id="memberResult">
		<result column="USER_NO" property="userNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="USER_PWD" property="userPwd"/>
		<result column="USER_NAME" property="userName"/>
		<result column="GENDER" property="gender"/>
		<result column="NICKNAME" property="nickname"/>
		<result column="BIRTH" property="birth"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="INTRODUCE" property="introduce"/>
		<result column="PROFILE_IMG" property="profileImg"/>
		<result column="POINT" property="point"/>
		<result column="STATUS" property="status"/>
		<result column="ADMIN" property="admin"/>
	</resultMap>
	
	<insert id="insertAttachment">
		INSERT INTO attachment (
								file_no,
								origin_name,
								change_name,
								file_path,
								file_level,
								ref_club_no)
						VALUES (
								NEXTVAL('SEQ_ATNO'),
								#{originName},
								#{changeName},
								#{filePath},
								#{fileLevel},
								CURRVAL('SEQ_CNO'));
	</insert>
	
	<select id="selecteventlist" resultMap="clubResult">
		SELECT CLUB_NO,
			   USER_NO,
			   CLUB_TITLE,
			   CLUB_TYPE,
			   CLUB_CONTENT,
			   ADDRESS,
			   ADDRESS_DETAIL,
			   EVENT_DATE, 
			   COST,
			   COST_INFO, 
			   TOTAL_POINT, 
			   CAPACITY, 
			   ONLINE,
			   QUESTION,
			   THUMBNAIL_IMG,
			   CREATE_DATE,
			   CLUB.MODIFY_DATE,
			   COUNT,
			   NICKNAME,
			   category_name1,
			   category_name2
	FROM public.CLUB
		join MEMBER USING (USER_NO)
	WHERE public.CLUB.STATUS = 'Y'
	ORDER BY CLUB_NO DESC;
	</select>
	
	<select id="MemberList" resultMap="memberResult">
		SELECT USER_NO,
			   NICKNAME,
			   INTRODUCE,
			   PROFILE_IMG
		FROM public.MEMBER 
		JOIN public.REQUEST USING (USER_NO)
		WHERE public.REQUEST.STATUS = 'Y'
			AND public.request.CLUB_NO = #{clubNo}
		ORDER BY CLUB_NO DESC;
	</select>
</mapper>