<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace: 해당 mapper파일의 고유한 별칭 -->
<mapper namespace="pointMapper">
	
	<resultMap type="Point" id="pointResult">
		<result column="POINT_NO" property="pointNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="POINT" property="point"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	
	<resultMap type="Payment" id="paymentResult">
		<result column="PAYMENT_NO" property="paymentNo"/>
		<result column="CLUB_NO" property="clubNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="POINT" property="point"/>
		<result column="PAYMENT_DATE" property="paymentDate"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	
	<insert id="insertPayment">
		INSERT INTO
				PAYMENT (
						 payment_no,
						 club_no,
						 user_no,
						 point
						 )
				VALUES (
						NEXTVAL('SEQ_PMNO'),
						#{clubNo},
						#{userNo},
						#{point}
						)
	</insert>

	<insert id="chargePoint">
		INSERT INTO
			POINT (
					 point_no,
					 user_no,
					 point,
					 status
					 )
			VALUES (
					NEXTVAL('SEQ_PNO'),
					#{userNo},
					#{point},
					'D'
					)
	</insert>

	<insert id="withdrawPoint">
		INSERT INTO
			POINT (
					 point_no,
					 user_no,
					 point,
					 status
					 )
			VALUES (
					NEXTVAL('SEQ_PNO'),
					#{userNo},
					#{point},
					'W'
					)
	</insert>
	
	<select id="selectPointChargeList" resultMap="pointResult">
		SELECT POINT_NO,
		       POINT,
		       CREATE_DATE,
		       STATUS
		FROM POINT
		WHERE (STATUS = 'D' OR STATUS = 'C')
		  AND DATE_TRUNC('month', CREATE_DATE) = DATE_TRUNC('month', TO_DATE(#{strMonth}, 'YYYY-MM'))
		  AND USER_NO = #{userNo}
		ORDER BY POINT_NO DESC;
	</select>
	
	<select id="sumPointMonth" resultType="_int">
		SELECT COALESCE(SUM(point), 0)
		FROM POINT
		WHERE (STATUS = 'D' OR STATUS = 'C')
		AND DATE_TRUNC('month', CREATE_DATE) = DATE_TRUNC('month', TO_DATE(#{strMonth}, 'YYYY-MM'))
		AND USER_NO = #{userNo}
	</select>
	
	<select id="totalChargePoint" resultType="_int">
		SELECT COALESCE(SUM(point), 0)
		FROM POINT
		WHERE (STATUS = 'D' OR STATUS = 'C')
		AND USER_NO = #{userNo}
	</select>
	
	<select id="selectPointWithDrawList" resultMap="pointResult">
		SELECT POINT_NO,
		       POINT,
		       CREATE_DATE,
		       STATUS
		FROM POINT
		WHERE STATUS = 'W'
		  AND DATE_TRUNC('month', CREATE_DATE) = DATE_TRUNC('month', TO_DATE(#{strMonth}, 'YYYY-MM'))
		  AND USER_NO = #{userNo}
		ORDER BY POINT_NO DESC;
	</select>
	
	<select id="totalWithdrawPoint" resultType="_int">
		SELECT COALESCE(SUM(point), 0)
		FROM POINT
		WHERE (STATUS = 'W')
		AND USER_NO = #{userNo}
	</select>
	
	<select id="sumWithdrawPointMonth" resultType="_int">
		SELECT COALESCE(SUM(point), 0)
		FROM POINT
		WHERE (STATUS = 'W')
		AND DATE_TRUNC('month', CREATE_DATE) = DATE_TRUNC('month', TO_DATE(#{strMonth}, 'YYYY-MM'))
		AND USER_NO = #{userNo}
	</select>
	
	<select id="selectPointUseList" resultMap="paymentResult">
		SELECT PAYMENT_NO,
			   P.CLUB_NO,
		       POINT,
		       PAYMENT_DATE,
		       P.STATUS,
		       CLUB_TITLE,
		       CLUB_TYPE
		FROM PAYMENT P
		JOIN CLUB USING (CLUB_NO)
		WHERE P.STATUS = 'Y'
		  AND DATE_TRUNC('month', PAYMENT_DATE) = DATE_TRUNC('month', TO_DATE(#{strMonth}, 'YYYY-MM'))
		  AND P.USER_NO = #{userNo}
		ORDER BY PAYMENT_NO DESC;
	</select>
	
	<select id="useTotalPoint" resultType="_int">
		SELECT COALESCE(SUM(point), 0)
		FROM PAYMENT
		WHERE (STATUS = 'Y')
		AND USER_NO = #{userNo}
	</select>
	
	<select id="sumUsePoint" resultType="_int">
		SELECT COALESCE(SUM(point), 0)
		FROM PAYMENT
		WHERE (STATUS = 'Y')
		AND DATE_TRUNC('month', PAYMENT_DATE) = DATE_TRUNC('month', TO_DATE(#{strMonth}, 'YYYY-MM'))
		AND USER_NO = #{userNo}
	</select>
	
</mapper>