li {
    list-style: none;
}


.errorpage {
    max-width: 1250px;
    min-width: 600px;
    min-height: 100vh;
    margin: 0 auto;
}

.errorpage .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorpage .error {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.errorpage h2{
	text-align: center; 
	color: orange;
}

.errorpage .errorimg {
    display: flex;
    align-items: center;
}

.errorpage .error .img {
    width: 15rem; 
    height: 15rem;
}

.errorpage .error .sign {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    margin-left: 1rem;
}

.errorpage .signspan {
    font-weight: 400;
    color: gray;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
}

.errorpage .sorry {
    display: block;
}

.errorpage .sorry .kor {
    clear: both;
    font-weight: 800;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    padding-top: 30px;
}

.errorpage .sorry .eng {
    font-weight: 400;
    color: #848484;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    padding: 10px;
}



@media (max-width: 701px) {
    .errorpage .sorry .kor {
        font-size: 14px;
        word-break: break-all;
    }

    .errorpage .sorry .eng {
        font-size: 12px;
    }
}