li {
    list-style: none;
}


.footer {
    max-width: 1920px;
    min-width: 600px;
    min-height: 100vh;
}

.footer .wrapper {
    max-width: 1250px;
    min-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .grid {
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.footer .introduce {
    display: flex;
    flex-direction: column;
}

.footer .inbox {
    gap: 0.5rem;
}

.footer .service {
    display: flex;
    margin-right: 2.5rem;
    color: #6B7280;
    font-weight: 400;
    font-size: 1.2rem;
}

.footer .slist {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-right: 10rem;
}

.footer .policy {
    color: #374151;
    font-weight: 700;
}

.footer .company {
    font-size: 1.2rem;
    color: #6B7280;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    border-left: 1px solid #E5E7EB;
    padding-left: 2rem;
}

.footer .sns {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer .snsimg {
    border: 1px solid black;
    width: 3rem;
    height: 3rem;
}

@media (max-width: 901px) {
    /* 화면이 901px 이하일 때 */
    .footer {
        display: none;
    }
}
