.header {
    max-width: 1920px;
    min-width: 600px;
    min-height: auto;

}

/* 로그인 토글 */
.header .LoginToggle {
    display: none;
    z-index: 100;
    /* rem은 고정값이 아닌 페이지 사이즈에 맞춰 크기를 변경하기 위함 */
    position: absolute;
    background: white;
    border-radius: 0.375rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.header .Togglelink {
    color: #2d3748;
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-right: 3rem;
}

.header .Togglelink:hover {
    background: #ececec;
}

.header .Toggleimg {
    border: 1px solid black;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    color: #4a5568;
}

.header .Toggle {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.3rem;
}

.header .Toggleborder {
    padding: 0.5rem;
    background: #f7f4f1;
}

/* */
.header .bar {
    /* sticky는 스크롤을 내려도 화면에 고정되어 있는 상태*/
    position: sticky;
    top: 0;
    z-index: 30;
    background: rgba(255, 255, 255, 0.8);
}

.header .loginwrap {
    max-width: 1250px;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header .logobox {
    display: flex;
    align-items: center;
}

.header .searchlogo{
    border: 1px solid black;
    width: 4rem;
    height: 4rem;
}

.header .search {
    border: 1px solid #e5e6e7;
    border-radius: 0.375rem;
    margin: 0.5rem 2rem;
    padding: 0.4rem;
    max-width: 80rem;
    font-weight: 300;
    color: #9098a5;
    background: #f1f0ee;
}

.header .searchForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .searchInput {
    margin-left: 0.2rem;
    border: none;
    background: none;
    width: 30rem;
    height: 3.5rem;
    font-size: 1.2rem;
    color: #a7a8aa;
}

.header .searchInput:hover {
    color: rgb(255 0 69);
}

.header .search:hover{
    border: 1px solid rgb(255 0 69);
}

.header .searchIcon {
    border: 1px solid black;
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    color: #718096;
}

.header .userId {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .profile {
    background-color: #dbdbdb;
    border-radius: 100%;
    width: 4.5rem;
    height: 4.5rem;
}

.header .alarm {
    position: relative;
    right: 10px;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 100%;
    background-color: rgb(255 0 69);
    font-size: 1.2rem;
    color: white;
    width: 30px;
    height: 30px;
}

@media (max-width: 701px) {
    /* 화면이 701px 이하일 때 */
    .header .profile {
        display: none;
    }

    .header .alarm {
        display: none;
    }
}

.header .userName {
    font-weight: 700;
    font-size: 1.5rem;
}

/* 메뉴바 */
.header .menuwrap {
    position: sticky;
    top: 60px;
    margin: 0 auto;
    z-index: 40;
}

@media (max-width: 601px) {
    .header .menuwrap {
        display: none;
    }
}

.header .catewrap {
    max-width: 1250px;
    min-width: 600px;
    margin: 0 auto;
}

.header .categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .cate {
    /* gap: 요소들 끼리의 간격 */
    display: flex;
    gap: 2rem;
    font-size: 1.4rem;
}

.header .catebutton {
    font-weight: 700;
}

.header .cateIcon {
    border: 1px solid black;
    width: 3rem;
    height: 3rem;
}

.header .cateTitle{
    float: right;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.header .catelist:hover{
    border-bottom: 2px solid rgb(255 0 69);
}

.header .catelist {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.header .studio {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header .stu {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: #4a5568;
}

.header .studioBorder {
    border-right: 1px solid #cbd5e0;
    height: 1rem;
}

.header .stubutton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    border: 1.5px solid #cbd5e0;
    border-radius: 0.3rem;
    background: white;
}

.header .stubutton:hover{
    background: #e9e9e9;

}

/* 카테고리 토글 */
.header .cateToggle {
    display: none;
    position: relative;
    background: white;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.15);
}

.header .grid {
    max-width: 1250px;
    min-width: 600px;
    /* 그리드 10개의 행 생성 */
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    margin: 0 auto;
    padding-top: 1rem;
    font-size: 0.8rem;
    gap: 1rem;
}

.header .getName {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    color: #4a5568;
    padding-bottom: 1rem;
}

.header .cateL{
    /*행 정렬*/
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.header .cateT {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 0.8rem;
    color: #000000;
}