*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    max-width: 1250px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
}

button {
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

input:focus {
    outline: none;
}