.top .quickbtn {
    position: fixed;
    bottom: 24px;
    right: 24px;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.15);
}


.top .icon {
    border: 1px solid black;
    width: 24px;
    height: 24px;
    margin: 1rem;
    background-color: white;
}