#expertPopoverContainer .popover {
    background: #1A6DFF;
    color: #fff;
    width: 360px;
    max-width: none;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
    border: 0;
    left: -45px;
}

#expertPopoverContainer .close_btn {
    padding: 5px;
    position: absolute;
    right: 0;
    top: -3px;
    font-size: 11px;
    cursor: pointer;
}

#expertPopoverContainer .popover .btn {
    font-size: 12px;
    padding: 4px 16px;
}

#expertPopoverContainer .popover-content {
    padding: 24px;
}

#expertPopoverContainer .popover.bottom>.arrow {
    left: auto;
    right: 10%;
}

#expertPopoverContainer .popover.bottom>.arrow,
#expertPopoverContainer .popover.bottom>.arrow:after {
    border-top-width: 0;
    border-top-color: transparent;
    border-bottom-color: #1A6DFF;
}

#expertPopoverContainer .popover.bottom>.arrow {
    top: -10px;
}



.flex-box {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-box .ma-item {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin-bottom: 10px;
}

.card {
    margin-bottom: 10px;
}

.flex-box .ma-item .card {
    height: 100%;
    margin-bottom: 0;
}

.dashboard_main .area_wrap {
    margin: 24px 0 0;
}

.dashboard_main .section-body {
    width: calc(100% - 324px);
    margin-top: 0;
}

.right-menu-fixed {
    position: static;
    margin-top: 0;
}

.section-body .col-xs-1,
.section-body .col-sm-1,
.section-body .col-md-1,
.section-body .col-lg-1,
.section-body .col-xs-2,
.section-body .col-sm-2,
.section-body .col-md-2,
.section-body .col-lg-2,
.section-body .col-xs-3,
.section-body .col-sm-3,
.section-body .col-md-3,
.section-body .col-lg-3,
.section-body .col-xs-4,
.section-body .col-sm-4,
.section-body .col-md-4,
.section-body .col-lg-4,
.section-body .col-xs-5,
.section-body .col-sm-5,
.section-body .col-md-5,
.section-body .col-lg-5,
.section-body .col-xs-6,
.section-body .col-sm-6,
.section-body .col-md-6,
.section-body .col-lg-6,
.section-body .col-xs-7,
.section-body .col-sm-7,
.section-body .col-md-7,
.section-body .col-lg-7,
.section-body .col-xs-8,
.section-body .col-sm-8,
.section-body .col-md-8,
.section-body .col-lg-8,
.section-body .col-xs-9,
.section-body .col-sm-9,
.section-body .col-md-9,
.section-body .col-lg-9,
.section-body .col-xs-10,
.section-body .col-sm-10,
.section-body .col-md-10,
.section-body .col-lg-10,
.section-body .col-xs-11,
.section-body .col-sm-11,
.section-body .col-md-11,
.section-body .col-lg-11,
.section-body .col-xs-12,
.section-body .col-sm-12,
.section-body .col-md-12,
.section-body .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
}

.section-body .row:last-child .ma-item {
    margin-bottom: 0;
}

.item .dashboard_banner_wrap .card-body {
    padding: 20px 24px 34px;
}

.item .dashboard_banner_wrap.shinhan a {
    display: block;
    height: 90px;
    width: 100%;
}

.item .dashboard_banner_wrap.shinhan .card-wrap {
    max-width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    background: linear-gradient(90deg, #B8D8F9 57.33%, rgba(184, 216, 249, 0) 100%);
}

.item .dashboard_banner_wrap.shinhan .card-header {
    padding: 0 10px;
}

.item .dashboard_banner_wrap.shinhan .card-body {
    padding: 0 10px;
    max-width: calc(100% - 40px);
    font-size: 12px;
    line-height: 14.4px;
}

.item .dashboard_banner_wrap.shinhan .card-body .shinhan-title {
    font-size: 14px;
    margin-bottom: 5px;
}

.item .dashboard_banner_wrap.shinhan .card-footer {
    padding: 0 10px;
    max-width: calc(100% - 40px);
}

.item .dashboard_banner_wrap.shinhan .card-footer .shinhan-footer {
    display: inline-block;
    font-size: 10px;
    transform: scale(0.7);
    white-space: nowrap;
    transform-origin: left bottom;
}

.dashboard_banner_wrap .sellmate-body {
    position: relative;
    top: -8px;
}

@media (max-width: 1280px) {
    .booking-order ul.inline-blocked {
        position: static;
        line-height: 30px;
    }

    .right-menu-fixed {
        position: static;
        width: 100%;
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    section {
        padding: 24px 15px;
    }

    .flex-box {
        flex-wrap: wrap;
    }

    .flex-box .ma-item {
        -ms-flex: none;
        -webkit-flex: none;
        flex: none;
        width: 100%;
    }

    .right-menu-fixed {
        padding: 0 10px;
    }

    .dashboard_banner_wrap {
        background-size: 300px;
        background-position: top right;
    }

    .dashboard_banner_wrap.adbot {
        background-size: cover;
        background-position: 50% 50%;
        background-color: #20202D;
    }

    .dashboard_banner_wrap.kakaosync {
        background-color: #FFDA00;
    }

    .dashboard_banner_wrap.sellmate-promotion {
        background-size: 100%;
    }

    #dashboard_banner_wrap_naver {
        background-color: #03cf5d;
    }

    .dashboard_banner_wrap .sellmate-body {
        position: relative;
        top: -10px;
    }
}

.dashboard_section_header {
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
}

.dashboard_section_header>div {
    display: flex;
    align-items: center;
}

.dashboard_section_header>div>svg {
    margin-right: 6px;
}

.dashboard_section_header>div>span {
    font-size: 16px;
    font-weight: 700;
    color: #15181E;
}

.dashboard_section_header button {
    color: #0090D4;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 0;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.dashboard_section_header button:hover {
    color: #0072AB;
}

.dashboard_section_header button:hover>svg path {
    stroke: #0072AB;
}

.dashboard_section_header button>svg {
    margin-left: 2px;
}

.dashboard_section_header button.fold>svg {
    transform: rotate(180deg);
}

.dashboard_card_anchor {
    color: #4B515B;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
}

.dashboard_card_anchor:hover {
    color: #24282F;
}

.clay-button {
    padding: 8px 12px;
    border-radius: 8px;
    color: #fff;
    background-color: #15181E;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
}

.clay-button:hover {
    background-color: #24282f;
    color: #fff;
}

.clay-button:active {
    background-color: #4b515b;
}

.clay-button:focus {
    border: none;
    color: #fff;
}

.clay-button.white {
    background-color: #fff;
    color: #4b515b;
    outline: 1px solid #dbdee3;
}

.clay-button.white:hover {
    background-color: #F8F9FB;
}

.clay-button.white:active {
    background-color: #E2E5E9;
}

.clay-button.white:focus {
    color: #4b515b;
    outline-offset: 0;
}

.clay-button.naver {
    background-color: #03C75A;
}

.clay-button.naver:hover {
    background-color: #35D27B;
}

.clay-button.google {
    background-color: #131314;
}

.clay-button.google:hover {
    background-color: #424243;
}

.exit-btn {
    background-color: #fff;
    border: 1px solid #DDE5ED;
    color: #212121;
    font-size: 13px;
    font-weight: 500;
}

.subscribe-btn {
    background-color: #1A6DFF;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
}

.subscribe-btn:hover {
    color: #fff;
}

.dashboard_section_row {
    display: flex;
    gap: 16px;
}

.dashboard_section_row>div.ma-item {
    margin-bottom: 40px;
    padding: 0;
}

.dashboard_section_row>div.ma-item .card {
    box-shadow: none;
    border-radius: 12px;
}

.card_head {
    padding: 15px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_head header {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
}

.card_head header .header-badge {
    margin-top: 1px;
}

.header-nav>li:first-child {
    margin-left: 4px;
}

.headerbar-left {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
    width: 0;
}

.headerbar-left>div {
    flex: 1;
    width: 0;
    display: flex;
}

.headerbar-left .site_name {
    margin-left: 24px;
    color: #15181E;
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.btn-icon-toggle {
    width: 26px;
    height: 26px;
    margin-left: 10px;
    display: none;
    align-items: center;
    justify-content: center;
}

.dashboard_contents_row>div.ma-item {
    margin-bottom: 0;
}

.dashboard_site_contents {
    margin-top: 16px;
}

.dashboard_right {
    width: 300px;
    margin-left: 24px;
}

.dashboard_right .card {
    margin-bottom: 12px;
    border-radius: 12px;
    box-shadow: none;
    overflow: hidden;
}

.dashboard_right .update_memo_list .card {
    overflow: unset;
}

.dashboard_right .update_memo_list .card .card-body {
    border-radius: 12px;
}

.headerbar-right>.header-nav>li {
    margin-left: 8px;
}

.header-badge.clay-badge {
    padding: 2px 6px;
    width: auto;
    min-width: 20px;
    height: 20px;
    line-height: 16px;
    background-color: #15181E;
    font-weight: 400;
    font-size: 12px;
    margin-top: 0px;
}

@media (max-width: 992px) {

    .top_header {
        left: 0;
    }

    .headerbar-left .site_name {
        margin-left: 10px;
    }

    .headerbar-right>.header-nav:last-child {
        margin-right: 15px;
    }

    .dashboard_main .area_wrap {
        margin-left: 0;
        margin-right: 0;
    }

    .btn-icon-toggle {
        display: flex;
    }

    #base {
        padding-left: 0;
    }

    .dashboard_section_row {
        gap: 12px;
    }

    .dashboard_section_row>div.ma-item {
        margin-bottom: 0;
    }

    .dashboard_section_row>div.ma-item:last-child {
        margin-bottom: 40px;
    }

    .dashboard_contents_row>.ma-item:last-child {
        margin-bottom: 0;
    }

    .dashboard_site_contents {
        margin-top: 12px;
    }
}

@media (max-width: 1280px) {
    .dashboard_main>section>div>.section-body {
        width: 100%;
    }

    .dashboard_right {
        width: 100%;
        padding: 0;
        margin-top: 0;
        margin-left: 0;
    }
}

.no-data-card-body {
    flex: 1;
    padding: 16px 24px;
}

.no-data-card-body ul,
.no-data-card-body li {
    height: 100%;
}

.no-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 100%;
}

.no-data-container>img {
    width: 48px;
    height: 48px;
}

.no-data-container>p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #717680;
    margin: 0;
}

.flex-card {
    display: flex;
    flex-direction: column;
}

.headerbar {
    height: 50px;
}

.dashboard_right>.dashboard-user-card {
    overflow: visible;
}

.clay-tooltip {
    display: inline-block;
    position: relative;
    margin-left: 4px;
}

.clay-tooltip>img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.clay-tooltip>div {
    pointer-events: none;
    display: none;
    position: absolute;
    top: 50%;
    transform: translate(100%, -50%);
    right: calc(-0px - 6px);
    padding: 6px 8px;
    box-shadow: 0px 14px 32px 0px rgba(75, 81, 91, 0.12), 0px 10px 14px 0px rgba(75, 81, 91, 0.06), 0px 0px 0px 1px rgba(75, 81, 91, 0.03), 0px 0px 1px 0px rgba(75, 81, 91, 0.2);
    border-radius: 8px;
    background-color: #fff;
    cursor: default;
    z-index: 1;

    font-size: 12px;
    line-height: 16px;
    color: #15181E;
    white-space: nowrap;
}

.clay-tooltip>div::before {
    display: block;
    content: "";
    position: absolute;
    left: -12.2px;
    top: 50%;
    transform: translateY(-50%);
    border-bottom: solid 6.1px transparent;
    border-top: solid 6.1px transparent;
    border-left: solid 6.1px transparent;
    border-right: solid 6.1px rgba(75, 81, 91, 0.03);
}

.clay-tooltip>div::after {
    display: block;
    content: "";
    position: absolute;
    left: -10.8px;
    top: 50%;
    transform: translateY(-50%);
    border-bottom: solid 6px transparent;
    border-top: solid 6px transparent;
    border-left: solid 6px transparent;
    border-right: solid 6px #fff;
}

.clay-tooltip>img:hover+div {
    display: block;
}

.resize-vertical {
    resize: vertical;
}

@media (max-width: 992px) {
    .headerbar {
        height: 56px;
    }
}

.video-review {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-review svg {
    margin-right: 8px;
}

.video-review>div {
    display: flex;
    align-items: center;
}

.video-review>div>div {
    cursor: pointer;
}

.video-review div p {
    font-size: 14px;
    font-weight: 700;
    color: #15181E;
    line-height: 20px;
    margin: 0;
}

.video-review div span {
    font-size: 12px;
    line-height: 16px;
    color: #0090D4;
    display: inline-block;
    transition: .1s;
}

.video-review div span:hover {
    color: #0072AB;
}

.video-review button {
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 6px;
    transition: background-color .1s;
    background-color: transparent;
}

.video-review button:hover {
    background-color: #F8F9FB;
}

.video-review button:active {
    background-color: #E2E5E9;
}

.dashboard_tutorial {
    transition: opacity 0.2s;
    margin-bottom: 16px;
}

.dashboard_tutorial.fold {
    opacity: 0;
}

.dashboard_tutorial_container {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.dashboard_tutorial_card {
    flex: 1;
    background-color: #fff;
    padding: 20px 8px;
    border-radius: 12px;
}

.dashboard_tutorial_card header,
.dashboard_tutorial_card .check_bar_wrap {
    padding: 0 12px;
}

.dashboard_tutorial_card .tt-list .check-list {
    padding: 10px 12px;
    border-radius: 8px;
    transition: .2s;
}

.dashboard_tutorial_card .tt-list .check-list:hover {
    background-color: rgba(113, 118, 128, 0.10);
}

.dashboard_tutorial_card .tt-list .check-list:active {
    background-color: rgba(113, 118, 128, 0.20);
}

.fold_tooltip {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 11px);
    z-index: 99;
}

.fold_tooltip>svg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -6px;
}

.fold_tooltip>div {
    background-color: #15181E;
    border-radius: 8px;
    padding: 6px 8px;
    white-space: nowrap;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    box-shadow: 0px 14px 32px 0px rgba(75, 81, 91, 0.12),
        0px 10px 14px 0px rgba(75, 81, 91, 0.06),
        0px 0px 0px 1px rgba(75, 81, 91, 0.03),
        0px 0px 1px 0px rgba(75, 81, 91, 0.2);
}


.check-list {
    display: flex;
    align-items: center;
}

.check-list .check_icon {
    display: inline-block;
    margin-right: 8px;
    min-width: 20px;
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-image: url('/admin/img/minus-circle.svg');
}

.check-list>span:nth-of-type(2) {
    font-size: 14px;
    line-height: 20px;
}

.check-list.checked .check_icon {
    background-image: url('/admin/img/check-circle-filled.svg');

}

@media (max-width: 992px) {
    .owl-stage {
        display: flex;
    }

    .dashboard_tutorial .owl-dots {
        position: absolute;
        z-index: 20;
        bottom: 16px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    .dashboard_tutorial .owl-dots .owl-dot {
        display: inline-block;
        zoom: 1;
    }

    .dashboard_tutorial .owl-dots .owl-dot span {
        display: block;
        width: 10px;
        height: 10px;
        margin: 5px 5px;
        border-color: #888888;
        border-radius: 30px;
        border-width: 1px;
        border-style: solid;
    }

    .dashboard_tutorial .owl-dots .owl-dot.active span {
        background: #888888;
    }

    .dashboard_tutorial {
        max-height: 404px;
    }

    .dashboard_tutorial_card {
        padding-bottom: 70px;
        height: 100%;
    }

    .fold_tooltip {
        right: 0;
        transform: unset;
        left: unset;
    }
}

#cocoaModal.tutorial_guide_modal>div {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#cocoaModal.tutorial_guide_modal>div>div.modal-content {
    border: none;
    border-radius: 16px;
    box-shadow: 0px 0px 1px 0px rgba(75, 81, 91, 0.20), 0px 25px 80px 0px rgba(75, 81, 91, 0.20);
    overflow: hidden;
}

#cocoaModal.tutorial_guide_modal .modal_close {
    top: 16px;
    right: 16px;
    font-size: 16px;
    line-height: 16px;
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 6px;
    transition: background-color .1s;
}

#cocoaModal.tutorial_guide_modal .modal_close:hover {
    background-color: #F8F9FB;
}

#cocoaModal.tutorial_guide_modal .modal_close:active {
    background-color: #E2E5E9;
}

@media (max-width: 768px) {
    #cocoaModal.tutorial_guide_modal {
        margin: 12px;
    }

    #cocoaModal.tutorial_guide_modal>div {
        padding: 0;
        height: 100%;
    }

    #cocoaModal.tutorial_guide_modal>div>div.modal-content {
        height: 100%;
    }
}

.today {
    margin-left: 0;
    margin-right: 0;
}

.today .card {
    box-shadow: none;
    border-radius: 12px;
    margin-bottom: 0px;
}

@media (max-width: 992px) {
    .today .card {
        margin-top: 12px;
    }
}

.dashboard_stats {
    display: flex;
    gap: 16px;
}

.dashboard_stats>div.ma-item {
    margin-bottom: 40px;
    width: calc(50% - 8px);
    padding: 0;
}

.dashboard_stats>div.ma-item .card {
    box-shadow: none;
    border-radius: 12px;
}

.dashboard_stats_banner_container {
    margin: 0 0 16px;
}

.dashboard_stats_banner {
    width: 100%;
    padding: 0 28px;
    border-radius: 12px;
    background-color: #ffffff;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    transition: .1s linear;
}

.dashboard_stats_banner:hover {
    transform: translateY(-2px);
    box-shadow: 10px 20px 30px 0px rgba(75, 81, 91, 0.12);
}

.dashboard_stats_banner>div.dashboard_stats_banner_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard_stats_banner>div.dashboard_stats_banner_left>p {
    font-size: 16px;
    font-weight: 700;
    color: #15181E;
    line-height: 24px;
    margin: 0;
}

.dashboard_stats_banner>div.dashboard_stats_banner_left>a {
    padding: 6px 8px;
    border: 1px solid #DBDEE3;
    border-radius: 6px;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    color: #717680;
    line-height: 16px;
    cursor: pointer;
    width: max-content;
    transition: 0.1s ease-out;
}

.dashboard_stats_banner>div.dashboard_stats_banner_left>a:hover {
    background-color: #f8f9fb;
    color: #717680;
}

.dashboard_stats_banner>div.dashboard_stats_banner_right {
    display: flex;
    align-items: center;
}

.dashboard_stats_banner>div.dashboard_stats_banner_right>img {
    height: 120px;
}

.dashboard_stats_banner>div.dashboard_stats_banner_right>button {
    width: 14px;
    height: 14px;
    margin-left: 4px;
    background-color: transparent;
    padding: 0;
}

.dashboard_stats .summary-table>tbody>tr.today>td {
    background: #E9F7FF;
}

.pc_hide {
    display: none;
}

.mo_hide {
    display: block;
}

.dashboard_stats_header {
    margin-top: 40px;
}

@media (max-width: 992px) {
    .pc_hide {
        display: block;
    }

    .mo_hide {
        display: none;
    }

    .dashboard_stats>div.ma-item {
        width: 100%;
    }

    .dashboard_stats_banner_container {
        margin: 0 0 12px;
    }

    .dashboard_stats_banner {
        padding: 0;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
    }

    .dashboard_stats_banner>div.dashboard_stats_banner_left {
        padding: 20px 20px 0;
        margin-bottom: 12px;
    }

    .dashboard_stats_banner>div.dashboard_stats_banner_left>p {
        font-size: 16px;
        line-height: 24px;
    }

    .dashboard_stats_banner>div.dashboard_stats_banner_right {
        justify-content: center;
    }

    .dashboard_stats_banner>div.dashboard_stats_banner_right>img {
        height: 104px;
    }

    .dashboard_stats_banner>.stats_banner_hide {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: transparent;
        width: 10px;
        height: 10px;
    }

    .dashboard_stats {
        gap: 12px;
    }

    .dashboard_stats>div.ma-item.stat-visitor-list {
        margin-bottom: 0;
    }
}

.dashboard_imweb_contents_top>div.ma-item {
    margin-bottom: 16px;
}

@media (max-width: 992px) {
    .dashboard_imweb_contents_top>div.ma-item {
        margin-bottom: 0;
    }

    .dashboard_imweb_contents_top>div.ma-item:last-child {
        margin-bottom: 12px;
    }
}

.custom-tooltip.in {
    opacity: 1;
}

.custom-tooltip.right {
    margin-left: 4px;
    padding: 0;
}

.custom-tooltip .tooltip-inner {
    padding: 6px 8px;
    border-radius: 8px;
    background-color: #15181E;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    box-shadow: 0 14px 32px 0 rgba(75, 81, 91, 0.12),
        0 10px 14px 0 rgba(75, 81, 91, 0.06),
        0 0 0 1px rgba(75, 81, 91, 0.03),
        0 0 1px 0 rgba(75, 81, 91, 0.20);
}

#analytics-tooltip button {
    padding: 4px 12px;
    line-height: 24px;
    font-size: 14px;
    border-radius: 6px;
    transition: 0.1s ease-out;
}

.tooltip-close-button {
    color: #717680;
    background-color: transparent;
}

.tooltip-close-button:hover {
    background-color: #f8f9fb;
}

.tooltip-close-button:active {
    background-color: #e2e5e9;
}

.tooltip-go-button {
    color: #FFFFFF;
    background-color: #1A6DFF;
}

.tooltip-go-button:hover {
    background-color: #70a2FF;
}

.tooltip-go-button:active {
    background-color: #99bdFF;
}