li {
    list-style: none;
}

/* admin */
.admin {
    max-width: 1920px;
    min-width: 600px;
    height: 100vh;
}

/* base */
.admin .base {
    width: 100%;
    min-height: 100%;
}

/* 헤더 */
.admin .base .headerbar {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e5e7eb;
}

.admin .base .leftbar {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
    width: 0;
}

.admin .base .leftbar>div {
    flex: 1;
    width: 0;
    display: flex;
}

.admin .leftbar .menutoggle {
    border: 1px solid black;
    display: flex;
    width: 26px;
    height: 26px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

.admin .leftbar .sitename {
    margin-left: 10px;
    color: #15181E;
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.headerbar-right>.header-nav>li {
    margin-left: 8px;
}

@media (max-width: 992px) {

    /*header-nav의 자식요소*/
    .headerbar-right>.headernav:last-child {
        margin-right: 15px;
    }
}

.header-nav>li:first-child {
    margin-left: 4px;
}

.header-nav>li>a {
    position: relative;
    display: block;
}

.admin .rightbar .clay-button {
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 8px;
    color: #fff;
    background-color: #15181E;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
}

.clay-button:hover {
    background-color: #24282f;
    color: #fff;
}

.clay-button:active {
    background-color: #4b515b;
}

.clay-button:focus {
    border: none;
    color: #fff;
}

/* 메인 */
.admin .content {
    padding-top: 20px;
    position: relative;
    width: 100%;
    background-color: #e2e5e9
}

.admin .clearfix {
    margin: 24px 0 0;
}

@media (max-width: 992px) {
    .admin .clearfix {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 1280px) {
    .clearfix .section-body {
        width: 100%;
        float: left;
    }
}

/* 제목 */
.admin .dashboard-header {
    display: flex;
    margin-bottom: 16px;
    margin-top: 16px;
    justify-content: left;
}

.dashboard-header>div {
    display: flex;
    align-items: center;
}

.dashboard-header .sicon {
    margin-right: 6px;
    border: 1px solid black;
    width: 24px;
    height: 24px;
}

.dashboard-header>div>span {
    font-size: 16px;
    font-weight: 700;
    color: #15181E;
}

/* 오늘의 할일 */
.admin .todolist {
    border: 1px solid #e5e7eb;
    background-color: #fff;
    border-radius: 12px;
}

.todolist .card {
    margin-top: 12px;
    box-shadow: none;
}

@media (max-width: 992px) {
    .todolist .card {
        margin-top: 12px;
    }
}

.todolist .card-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todolist .card-head header {
    padding: 16px 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
}

.admin .card-head .header-badge {
    margin-left: 2px;
    padding: 2px 6px;
    width: auto;
    min-width: 20px;
    height: 20px;
    line-height: 16px;
    border-radius: 100%;
    text-align: center;
    color: white;
    background-color: #15181E;
    font-weight: 400;
    font-size: 12px;
    margin-top: 0px;

}

.todolist .card-body {
    position: relative;
    padding: 16px 24px;
    border-top: 1px solid #eee;
}

.card-body:last-child {
    border-radius: 0 0 2px 2px;
}

.tlist .inline-blocked {
    margin-right: 20px;
    display: inline-block;
}

.tlist .text-danger {
    margin-left: 5px;
    color: #fb4637;
}

/* 통계배너 */
@media (max-width: 992px) {
    .admin .dashboard-banner {
        margin: 0 0 12px;
    }
}

.admin .stats-banner {
    width: 100%;
    border-radius: 12px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    display: flex;
    margin: 0 0 16px;
}

@media (max-width: 992px) {
    .admin .stats-banner {
        padding: 0;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
    }
}

.stats-banner>.leftbanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 992px) {
    .stats-banner>.leftbanner {
        padding: 20px 20px 0;
        margin-bottom: 12px;
    }
}

.stats-banner>.leftbanner>p {
    font-weight: 700;
    color: #15181E;
    margin: 0;
}

@media (max-width: 992px) {
    .stats-banner>.leftbanner>p {
        font-size: 16px;
        line-height: 24px;
    }
}

.stats-banner>.rightbanner {
    display: flex;
    align-items: center;
}

@media (max-width: 992px) {
    .stats-banner>.rightbanner {
        justify-content: center;
    }
}

.stats-banner>.rightbanner>img {
    border: 1px solid black;
    height: 120px;
    width: 240px;
}

@media (max-width: 992px) {
    .stats-banner>.rightbanner>img {
        border: 1px solid black;
        height: 104px;
        width: 240px;
    }
}

.stats-banner>.rightbanner>button {
    border: 1px solid black;
    width: 14px;
    height: 14px;
    margin-left: 4px;
    padding: 0;
}

@media (max-width: 992px) {
    .stats-banner>.rightbanner>button {
        display: none;
    }
}

@media (max-width: 992px) {
    .stats-banner>.bannerhide {
        border: 1px solid black;
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: transparent;
        width: 15px;
        height: 15px;
    }
}

/* 방문자 */
.admin .dashboard-stats {
    display: flex;
    gap: 16px;
}

@media (max-width: 992px) {
    .admin .dashboard-stats {
        flex-wrap: wrap;
    }
}

.dashboard-stats .visitor-list {
    width: calc(50% - 8px);
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    flex: 1;
    float: left;
    margin-bottom: 10px;
}

@media (min-width: 992px) {
    .dashboard-stats .visitor-list {
        width: 50%;
        float: left;
    }
}

@media (min-width: 768px) {
    .dashboard-stats .visitor-list {
        width: 100%;
        float: left;
    }
}

@media (max-width: 992px) {
    .dashboard-stats .visitor-list {
        margin-bottom: 0;
        width: 100%;
        flex: none;
    }
}

.admin .dashboard-stats .card {
    position: relative;
    background-color: #ffffff;
    color: #212121;
    box-shadow: none;
    border-radius: 12px;
    height: 100%;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .admin .dashboard-stats .card {
        margin-bottom: 16px;
    }
}

.dashboard-stats .card .card-head {
    padding: 15px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-head header {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
}

.dashboard-stats .card-anchor {
    color: #4B515B;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
}

.dashboard-stats .card-body {
    border-top: 1px solid #eee;
    padding: 24px;
    position: relative;
}

.dashboard-stats .card-body:last-child {
    border-radius: 0 0 2px 2px;
}

@media (max-width: 768px) {
    .dashboard-stats .card-body {
        padding: 16px;
    }
}

.admin .card-body .float {
    float: right;
    position: static;
    margin-top: 0;
    text-align: right;
    font-size: 12px;

}

@media (max-width: 768px) {
    .admin .card-body .float {
        padding: 16px;
    }
}

.card-body .float>span {
    margin-right: 15px;
}

.card-body .fa {
    color: rgb(255, 98, 125);
    display: inline-block;
    font-size: 14px;
}

.card-body .fafa {
    color: rgb(255, 52, 25);
    display: inline-block;
    font-size: 14px;
}

.dashboard-stats .holder {
    position: relative;
}

/* 그래프 */
.admin .holder .stats-chart {
    width: 565px;
    height: 282px;
    display: inline-block;
    vertical-align: baseline;
}

.holder .chart-tooltip {
    opacity: 0;
    left: 490px;
    top: 250px;
    font-size: 14px;
    font-style: normal;
    position: absolute;
    background: rgb(255, 255, 255);
    color: #222;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.holder .tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 8px;
    background-color: #196DFF;
}

/* 기간별 분석 */
.admin .analytics-list {
    width: calc(50% - 8px);
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    flex: 1;
    float: left;
    margin-bottom: 10px;
}

@media (min-width: 992px) {
    .admin .analytics-list {
        width: 100%;
    }
}

.analytics-list .card {
    position: relative;
    background-color: #ffffff;
    color: #212121;
    box-shadow: none;
    border-radius: 12px;
    height: auto;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .analytics-list .card {
        margin-bottom: 16px;
    }
}

.analytics-list .card-body {
    border-top: 1px solid #eee;
    padding: 0;
    position: relative;
}

.analytics-list .card-body:last-child {
    border-radius: 0 0 2px 2px;
}

.dashboard-stats .summary-table {
    /* 각 셀마다 테두리 생성 */
    border-collapse: separate;
    width: 100%;
    max-width: 100%;
}

.summary-table .text-left {
    text-align: left;
}

.summary-table .text-right {
    text-align: right;
}

.dashboard-stats .summary-table>thead>tr>th {
    padding-left: 24px;
    border-top: 0;
    color: inherit;
    font-weight: 500;
    font-size: 13px;
    border: none;
    vertical-align: middle;
    padding: 8px;
    opacity: 0.5;
    text-align: center;
}

.dashboard-stats .summary-table>tbody>tr>td {
    vertical-align: middle;
    padding: 8px;
    border-top: 1px solid #eee;
}

.dashboard-stats .summary-table>tbody>.today>td {
    background: #E9F7FF;
}

.dashboard-stats .summary-table>tbody>tr>td:first-child {
    padding-left: 24px;
}

.summary-table .today {
    margin-left: 0;
    margin-right: 0;
}

.dashboard-stats .summary-table>tfoot>tr>td:first-child {
    padding-left: 24px;
}

.dashboard-stats .summary-table>tfoot>tr>td {
    vertical-align: middle;
    padding: 8px;
    border-top: 1px solid #eee;
}

/* */

.dashboard-header>div>span {
    font-size: 16px;
    font-weight: 700;
    color: #15181E;
}

/* 컨텐츠 */
.admin .row-section {
    display: flex;
    gap: 16px;
}

@media (max-width: 992px) {
    .admin .row-section {
        flex-wrap: wrap;
    }
}

.row-section .shopping {
    margin-bottom: 0;
    padding: 0;
}

@media (max-width: 992px) {
    .row-section .shopping {
        flex: none;
        width: 100%;
        margin-bottom: 0;
        padding: 0;
    }
}

.shopping .shopping-cart {
    position: relative;
    box-shadow: none;
    border-radius: 12px;
    height: 100%;
    margin-bottom: 0;
    color: #212121;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.shopping .card-head {
    padding: 15px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-head header {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
}

.card-head .card-anchor {
    color: #4B515B;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
}

.shopping .card-body:last-child {
    border-radius: 0 0 2px 2px;
}

.shopping .card-body {
    position: relative;
    flex: 1;
    padding: 16px 24px;
    border-top: 1px solid #eee;
}

@media (max-width: 768px) {
    .shopping .card-body {
        padding: 16px;
    }
}

.shopping .card-body .list-preview {
    height: 100%;
    margin: 0;
    padding-left: 0;
    list-style: none;
    line-height: 24px;
}

.list-preview.list .tile:last-child {
    margin-bottom: 0;
}

.list .tile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.list-preview .tile {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.tile .no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 100%;
}

.tile .no-data>img {
    border: 1px solid black;
    vertical-align: middle;
    width: 48px;
    height: 48px;
}

.tile .notice-item {
    display: table-cell;
}

@media (max-width: 768px) {
    .tile .notice-item {
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .tile .notice-item:last-child {
        padding-right: 15px;
    }
}

.notice-item .tile-text {
    padding: 0;
    line-height: 1.6;
    font-size: 14px;
    width: 100%;
    word-break: break-all;
}

.tile .notice-item>div {
    display: table-cell;
    vertical-align: middle;
}

.tile .tile-icon {
    min-width: 80px;
    width: 50px;
    text-align: right;
    padding: 2px 0;
    font-size: 12px;
    color: #888;
}