/* 메뉴바 */
ul, ol {
    padding-left: 16px;
    margin-top: 0;
    margin-bottom: 10px;
}

#menubar:hover, #menubar:hover ~ .fold_area{
    width: 224px;
    position: fixed;
}

#menubar {
    background-color: #fff;
    width: 60px;
    z-index: 1004;
    position: fixed;
    top: 20px;
    left: 0;
    color: #212121;
    font-size: 13px;
    height: 100vh;
}

#menubar .scrollbar {
    height: 902px;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#menubar .scroll-panel{
    padding-bottom: 1px;
    position: relative;
    z-index: 999999;
    min-height: 100%;
} 

.gui-controls{
    font-size: 12px;
    padding: 0;
    margin-bottom: 30px;
    margin-top: 0;
}

@media (max-width: 991px) {
    .gui-controls {
        margin-bottom: 20px;
    }
}

.gui-controls > li {
    position: relative;
    margin-bottom: 4px;
    list-style: none;
}

#menubar:not(:hover) .gui-controls > li > a {
    min-width: auto;
    width: 36px;
    height: 36px;
    margin: 0 auto; 
}

.gui-controls > li > a:hover {
    background-color: #eeeeee;
}

.gui-controls > li > a {
    color: #15181E;
    position: relative;
    display: block;
    text-decoration: none;
    padding: 11px 0px;
    margin: 0 12px 4px 12px;
    font-size: 14px;
    line-height: 1;
    border-radius: 6px;
    min-width: 64px;
    white-space: nowrap;
    overflow: hidden;
}

.gui-icon {
    border: 1px solid black;
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 36px;
    color: #15181E;
    font-size: 1.2em;
    overflow: hidden;
}

#menubar:not(:hover) .title_controls {
    display: none;
}

@media (min-width: 970px) {
    .gui-controls li .title_controls  {
        left: 0;
        opacity: 1;
    }
}

#menubar span.title-controls {
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 970px) {
    .gui-controls li .title {
        left: 0;
    }
}

.gui-controls > li > a .title {
    margin-left: 45px;
}

.gui-controls li .title {
    position: relative;
    display: inline;
    padding-left: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: none;
    font-weight: 500;
}

.new-badge {
    color: #FF50DA;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.gui-controls > li.spacer {
    height: 2px;
}

.gui-controls > li.spacer {
    border-top: 1px solid #73788226;
    margin: 22px 12px 24px;
}


.gui-controls > li.top-menu {
    font-size: 12px;
    line-height: 14px;
}

#menubar:not(:hover) .gui-controls li.top-menu > div,
#menubar:not(:hover) .gui-controls > li.top-menu img {
    display: none;
}

.gui-controls > li.top-menu > div,
.gui-controls > li.top-menu > a {
    padding: 0px 0 10px 15px;
    font-weight: 700;
    margin: 0;
    font-size: 12px;
    color: #717680;
}

.gui-controls > li.top-menu a {
    position: absolute;
    display: flex;
    top: -6px;
    right: 8px;
    padding: 6px;
    border: 0;
    transition: .3s;
    border-radius: 6px;
}

.gui-controls > li.top-menu img{
    border: 1px solid black;
    width: 16px;
    height: 16px;
}

.gui-controls > li.expanded ul > li > a {
    display: none;
}

.gui-controls > li ul > li > a {
    position: relative;
    display: block;
    align-items: center;
    text-decoration: none;
    padding: 7px 17px 7px 28px;
    margin: 0 12px;
    line-height: 1;
    border-radius: 6px;
    white-space: nowrap;
    overflow: hidden;
}

.gui-controls > li ul > li > a .title {
    color: #717680;
    font-size: 14px;
}

@media (min-width: 970px) {
    .gui-controls li .title {
        left: 0;
        opacity: 1;
    }
}

#menubar:not(:hover) .foldarea {
    position: fixed;
    display: flex;
    align-items: center;
    width: 60px;
    justify-content: center;
    height: 56px;
    background: #fff;
    left: 0;
    top: 0;
    bottom: 0;
}

#menubar:hover .foldarea {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 16px;
    padding-inline: 12px 12px;
    height: 56px;
    background: #fff;
    left: 0;
    top: 0;
    bottom: 0;
    width: 224px;
    z-index: 1006;
}

.foldarea .foldtable{
    vertical-align: middle;
    display: table-cell;
}

.foldarea .logoicon {
    border: 1px solid black;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    max-width: 160px;
    text-overflow: ellipsis;
}

.logoicon img {
    width: 40px;
    height: 40px;
}

.fold_area #toggle-button {
    background-color: gray;
    right: 7px;
    padding-left: 4px;
    padding-right: 4px;
}

.fold_area #toggle-button .foldbtn {
    border-radius: 6px;
    padding: 6px;
    display: flex;
}

.fold_area #toggle-button .left {
    display: none;
}

#toggle-button .left img {
    width: 16px;
    height: 16px;
}

#toggle-button .fold_button.right{
    border: 1px solid black;
    display: flex;
}

#toggle_button .fold_button.right {
    display: none;
    padding: 6px;
}

#toggle-button .right .default {
    width: 40px;
    height: 40px;
}

#menubar:not(:hover) ~ .fold-area:not(:hover) 
#toggle-button .fold-button.right > .hover {
    display: none;
}

#toggle-button .fold-button.right > .hover {
    display: flex;
}

.gui-folder {
    position: relative;
}

.gui-folder .toggleicon{
    border: 1px solid black;
    position: absolute;
    right: 0;
}

#menubar:not(:hover) .gui-folder .toggleicon{
    display: none;
}

.gui-folder .gui{
    display: none;
}

#menubar:hover .foldtable {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menubar:not(:hover) .foldtable span{
display: none;
}

#menubar:hover .foldtable span{
    margin-left: 10px;
    font-size: 15px;
    font-weight: 700;
}

.gui1, .gui2, .gui3, .gui4, .gui5 {
    display: none;
}